@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("./GmarketSansTTFLight.woff") format("woff");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("./GmarketSansTTFMedium.woff") format("woff");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("./GmarketSansTTFBold.woff") format("woff");
}
