.about-directions-map {
  height: 234px;
  border: 1px solid var(--c-border);
  border-radius: 16px;
  margin-bottom: 24px;
  overflow: hidden;

  iframe {
    border: 0;
  }
}

.about-location-list {
  li {
    display: flex;
    gap: 6px;
    position: relative;
    padding-left: 10px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 8px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: currentColor;
    }
  }

  .label {
    white-space: nowrap;
  }

  .line2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: #18be71;
    margin-right: 5px;
  }
}

.about-vision-cont {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.img-wrap {
  display: flex;
  justify-content: center;
  img {
    max-width: 100%;
  }
}

.about-vision-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  li {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 28px 24px;
    border-radius: 16px;
    border: 1px solid var(--c-border);
    font-size: 16px;
    line-height: 1.5;
  }

  .c-douzone {
    border-color: #00aaff;
  }

  .c-shinhan {
    border-color: #0046ff;
  }

  .c-sgi {
    border-color: #003477;
  }
}

.about-purpose {
  background: url(../image/bg/bg_about_purpose.png) no-repeat center center / cover;

  .sub-headline-label,
  .TMTitle-headline {
    color: #fff;
  }
}

.about-history {
  background-color: #f6f9fd;
}

.about-purpose-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  li {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 30px 28px;
    border-radius: 16px;
    background-color: #fff;
    line-height: 1.5;
    color: var(--fc-gray);
    font-weight: 500;
  }

  .label {
    font-size: 15px;
    color: var(--c-active);
    font-weight: 700;
  }

  .TMTitle-h3 {
    margin-bottom: 8px;
    line-height: 1.2
  }
}

.about-history-list {
  --num-height: 30px;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 1.5;
  font-weight: 500;

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 79px;
    border-left: 2px solid #c9d6ff;
  }

  & > li {
    display: flex;
  }

  .year,
  .month {
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: var(--num-height);
    font-weight: 700;
    color: var(--fc-default);
  }

  .year {
    width: 80px;
    font-size: 22px;
  }
  .month {
    font-size: 18px;
  }

  .month-list {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 24px;

    &::before {
      content: '';
      position: absolute;
      width: 14px;
      height: 14px;
      border: 3px solid var(--c-active);
      border-radius: 50%;
      top: calc(var(--num-height) / 2);
      left: 0;
      transform: translate(-50%, -50%);
      background-color: #f6f9fd;
    }
  }

  .history-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
    color: var(--fc-gray);
    font-size: 16px;

    & > li {
      position: relative;
      padding-left: 12px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 9px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: currentColor;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

    li {
      position: relative;
      padding-left: 12px;

      &::before {
        content: '-';
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.about-intro-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  li {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    border: 1px solid var(--c-border);
    border-radius: 16px;
    padding: 32px 24px 24px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #fff;

    &::before {
      content: '';
      display: block;
      width: 72px;
      height: 72px;
      background: no-repeat center center
    }

    &.ic-about-01::before {
      background-image: url(../image/icon/ic_about_users.svg)
    }
    &.ic-about-02::before {
      background-image: url(../image/icon/ic_about_bulb.svg)
    }
    &.ic-about-03::before {
      background-image: url(../image/icon/ic_about_finance.svg)
    }
  }
}