.TMboard-root {
  img {
    display: block;
    max-width: 100%;
  }
}

.TMboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 43px;

  .count {
    em {
      color: var(--c-active);
      padding: 0 0 0 4px;
    }
  }
}

.TMboard-list {
  border-top: 2px solid #222;

  .TMboard-item {
    border-bottom: 1px solid var(--c-border);

    .TMboard-item-cont {
      padding: 20px 10px;
    }
  }
}

.TMboard-gallery {
  max-width: 720px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 8px;

  .TMboard-empty {
    border-radius: 16px;
    background-color: #FAFBFF;
  }

  .TMboard-item .tit {
    font-weight: 700
  }
}

.TMboard-item-cont {
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: var(--fc-gray);
  line-height: 1.5;

  .tit {
    font-size: 15px;
    font-weight: 500;
    color: var(--fc-default);
  }

  .group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px 0;

    & > * {
      display: inline-flex;
      align-items: center;
      height: 8px;

      &:not(:last-child) {
        padding-right: 6px;
        margin-right: 6px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }

  .date {
    color: var(--fc-gray2);
  }

  .thumb {
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 312 / 195;
    margin-bottom: 8px;
    background: #FAFBFF url(../image/logo/logo_techfin_g.svg) no-repeat center center;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.TMboard-read-header {
  font-size: 15px;
  gap: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #222;

  .tit {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5;
  }

  .group {
    gap: 16px 0;

    & > * {
      height: 12px;

      &:not(:last-child) {
        padding-right: 10px;
        margin-right: 10px;
      }
    }
  }

  .TMboard-label {
    margin-bottom: -8px;
  }
}

.TMboard-read-body {
  padding: 32px 0;
  font-size: 16px;
  color: var(--fc-default);
  line-height: 1.6;
  word-break: keep-all;

  h3 {
    font-size: 20px;
    margin: 15px 0 10px;
  }

  h4 {
    padding: 5px 0 5px 12px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 0;
      width: 4px;
      height: 4px;
      background-color: currentColor;
    }
  }

  li {
    position: relative;
    padding-left: 1em;
    &::before {
      content: 'ãƒ»';
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  small {
    display: block;
    margin: 5px 0;
    font-size: 0.9em;
  }
}

.TMboard-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  padding: 50px 0;
  font-size: 15px;
  color: var(--fc-default);
  font-weight: 500;

  .ico-nolist {
    padding-top: 64px;
    background: url(../image/img/img_nolist.svg) no-repeat center top;
  }
}

.TMboard-read-file {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 0;
  border-bottom: 1px solid #e5e5e5;

  .item {
    display: flex;
    align-items: center;
    height: 18px;
    padding-left: 26px;
    background: url(../image/icon/ic_clip.svg) no-repeat left center;
  }

  a {
    color: inherit;
  }

  .ic-down {
    width: 100%;
    padding-right: 30px;
    background: url(../image/icon/ic_download.svg) no-repeat right center;
  }
}

.TMboard-read-btns {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--c-border);
}

.TMboard-label {
  display: inline-flex;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  margin-right: auto;
  border: 1px solid currentColor;
  border-radius: 24px;
  color: var(--c-active);
  font-size: 13px;
  font-weight: 700;
  line-height: 1;

  &.c--event {
    color: #8038FC
  }
}
