.contact-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  font-size: 16px;

  li {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .tit {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .cont {
    em {
      padding-right: 8px;
    }
  }

  small {
    display: inline-block;
    font-size: 12px;
    color: var(--fc-gray);
  }
}

.input-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 35px 0
}
