.guide-body {
  font-size: var(--font-15);
  line-height: 1.4;

  .SOLTitle-t3 {
    margin: 24px 0 12px;
    font-size: var(--font-15);
  }

  .SOLTitle-t4 {
    margin: 24px 0 6px;
    font-size: var(--font-15);
    // font-weight: 500
  }

  h5 {
    margin: 24px 0 8px;
    font-weight: 500;
  }

  small {
    font-size: var(--font-12);
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  img {
    max-width: 100%;
  }

  .footnote {
    font-size: var(--font-12);
  }
}

.guide-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 12px;
  border: 10px solid #f8f9fa;
  background-color: #f8f9fa;
  font-size: var(--font-14);
  font-weight: 500;

  th {
    width: 30%;
    min-width: 110px;
    padding: 0 10px;
    font-size: var(--font-13);
    color: #9b9ba0;
    font-weight: 400;
    text-align: left;
  }

  td {
    padding: 5px;
  }
}

.guide-table-list {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 12px;
  font-size: var(--font-12);
  font-weight: 400;

  th {
    height: 46px;
    vertical-align: middle;
    border-top: 1px solid var(--tb-border);
    border-bottom: 1px solid var(--tb-border);
    background-color: #f7f8fa;
  }

  td {
    padding: 8px 4px;
    border-top: 1px solid var(--tb-border);
    border-bottom: 1px solid var(--tb-border);
    text-align: center;
    vertical-align: middle;
  }

  tbody th {
    font-weight: 500;
  }

  .foot {
    font-weight: 700;
    background-color: #f3f8ff;
  }

  .a--left {
    text-align: left;
  }
}

.guide-list {
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: column;
    margin: 9px 0;
  }
}

.guide-desc {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 12px 0;

  ul:not(.guide-list, .footnote) {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 9px;
  }
}

.guide-img {
  margin: 24px 0;
}
