.intro-landing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-h));
  height: calc(100svh - var(--header-h));
  background-color: #12122b;
  color: #fff;

  .title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 32px;
    letter-spacing: -0.02em;
    line-height: 1.4;
    text-shadow: 0 1px 1px #0000001a;
    transform: translateY(-40px);
  }
}

.intro-landing-bg {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #1423513d;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.intro-landing-scroll {
  position: absolute;
  bottom: 24px;
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;

  .TMIcon-root {
    position: absolute;
    left: 50%;
    top: 20px;
    width: 30px;
    margin-left: -15px;
    text-align: center;
    animation: scrollDown 1s linear infinite;
  }
}

.intro-section {
  position: relative;
  word-break: keep-all;

  .card-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 40px;
    color: var(--fc-default);
    font-size: 14px;
    border-radius: 8px;
    font-weight: 700;
    margin-top: 8px;
    white-space: nowrap;

    .TMIcon-root {
      margin-right: -8px;

      &::after {
        font-size: 18px;
      }
    }
  }
}

.intro-section-inner {
  padding: 64px 24px;
}

.intro-card {
  .card-list {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    height: 590px;

    li.card-front {
      z-index: 2;
      top: 24px;
      animation: cardIn 0.5s var(--ease);
    }

    li.card-back {
      animation: cardOut 0.5s var(--ease);
    }

    li {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 24px;
      border-radius: 16px;
    }

    .case {
      font-size: 14px;
      font-weight: 700;
    }

    .title {
      font-size: 22px;
      font-weight: 700;
      margin-top: -12px;
    }

    .desc {
      opacity: 0.8;
    }

    .card-01 {
      background-color: #122664;
      color: #fff;

      &::before {
        content: '';
        width: 100%;
        height: 198px;
        border-radius: 12px;
        margin-bottom: 16px;
        background: url(../image/intro/card_thumb_01.jpg) no-repeat center center / cover;
      }

      .card-link {
        background-color: #fff;
      }
    }

    .card-02 {
      background-color: #f1f5ff;
      color: var(--fc-default);

      &::before {
        content: '';
        width: 100%;
        height: 198px;
        border-radius: 12px;
        margin-bottom: 32px;
        background: url(../image/intro/card_thumb_02.jpg) no-repeat center center / cover;
      }

      .case {
        color: #3869fc;
      }

      .card-link {
        background-color: #3869fc;
        color: #fff;
        font-weight: 600;
      }
    }
  }
}

.intro-rotation {
  background: url(../image/intro/rotation_bg.png) no-repeat center top / cover;

  .intro-title .title {
    color: #fff;
    font-weight: 600;
  }

  .intro-rotation-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rotation-label {
    display: inline-block;
    text-align: center;
    // height: 44px;
    border-radius: 40px;
    padding: 2px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(78.93deg, #00ceff -23.64%, #2f6fff 72.79%, #8829ff 177.97%, #f632ff 268.55%);
    & > * {
      display: flex;
      align-items: center;
      // height: 40px;
      border-radius: 40px;
      padding: 8px 20px;
      background-color: #1D2E5B
    }
  }

  .rotation-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -8px 0;
  }

  .circle-cb,
  .circle-fin {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    background: url(../image/intro/rotation_circle.png) no-repeat center center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;

    &::before {
      content: '';
      display: block;
      width: 120px;
      height: 104px;
      background: url(../image/intro/rotation_company_01.png) no-repeat center top / contain;
    }
  }

  .circle-fin::before {
    background: url(../image/intro/rotation_company_02.png) no-repeat right center / 103px;
  }

  .circle-techfin {
    position: relative;
    margin: -72px 0;
    width: 280px;
    height: 280px;
    background: url(../image/intro/rotation_circle_techfin.png) no-repeat center center / 100%;

    .arrow {
      position: absolute;
      inset: 0;
      opacity: 0;
      background: url(../image/intro/rotation_circle_arr.png) no-repeat center center / 264px;
    }
  }
}

.intro-msg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-h));
  height: calc(100svh - var(--header-h));
  background: url(../image/intro/msg_bg.png) no-repeat left center / cover;
  text-align: center;
  line-height: 1.5;
  overflow: hidden;

  .msg-cont {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
  }

  .msg-title {
    font-size: 26px;
    font-weight: 700;
  }

  .unit {
    margin: -2px 4px 0;
    color: #3869fc;
  }

  .msg-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 8px
  }
  
  .line {
    display: inline-flex;
    align-items: center;
  }  

  .action {
    display: flex;
    flex-direction: column;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
  }

  .target {
    position: relative;
    display: flex;
    flex-direction: column;
    // width: 134px;
  }

  .item {
    height: 80px;
  }
  // .item:nth-child(2) {
  //   top: 80px;
  //   left: 0;
  //   height: 80px
  // }
}

.intro-card .intro-section-inner::before,
.intro-data::before,
.intro-data::after {
  content: '';
  position: absolute;
  width: 277px;
  height: 322px;
  background: url(../image/intro/data_bg.png) no-repeat left top / contain;
}

.intro-card .intro-section-inner::before,
.intro-data::before {
  top: 0;
  left: 0;
}

.intro-data::after {
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}

.intro-data {
  .data-list {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 0;

      &:not(:first-of-type) {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      gap: 4px;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5;

      small {
        font-weight: 500;
        color: var(--fc-gray);
        font-size: 14px;
      }
    }

    .value {
      color: #3869fc;
      font-size: 32px;
      font-weight: 700;
      white-space: nowrap;
    }
  }
}

.intro-swiper {
  background: linear-gradient(134.09deg, #eef0ff -9.21%, #f4f7ff 74.95%, #efecff 102.71%);
  overflow: hidden;

  .swiper-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 48px;
    margin: 32px auto 0;
    border-radius: 8px;
    background-color: #3869fc;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  }

  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    width: 280px;
    background-color: #fff;
    border-radius: 16px;
  }

  .TMboard-gallery {
    flex-direction: row;
    gap: 0;
  }

  .TMboard-item-cont {
    .thumb {
      height: 175px;
      border-radius: 16px 16px 0 0;
      aspect-ratio: unset;
      margin-bottom: 24px;
    }
    .tit {
      padding: 0 28px;
      line-height: 1.5;
      height: 3em;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .date {
      padding: 0 28px;
      margin-bottom: 28px;
    }
  }
}

.intro-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  margin-bottom: 32px;

  .title {
    font-size: 26px;
    font-weight: 700;
    color: var(--fc-default);
    line-height: 1.5;
  }
}

.title-active {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  background-image: var(--gra);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.intro-banner-hr {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 32px;
  border-radius: 16px;
  background: url(../image/intro/banner_hr_bg.png) no-repeat right center / cover;
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  text-shadow: 0 0 2px #aabaca;

  .title {
    font-size: 20px;
    font-weight: 600;
  }

  .card-link {
    width: auto;
    margin-right: auto;
    margin-top: 16px;
    padding: 0 20px;
    background-color: #fff;
    text-shadow: none
  }
}
