.container-sub {
  padding: 64px var(--spc-w)
}

.sub-headline {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
}

.sub-keyvisual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 270px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  text-shadow: 0px 0px 4px 0px #0000004d;
  background: #081443 no-repeat center center / cover;

  .tit {
    font-size: 36px;
    font-weight: 700;
    text-shadow: 0px 0px 4px 0px #0000004d;
  }

  &.terms-01 {
      background-image: url(../image/img/sub_terms_01.png);
  }
}
