.card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 24px
}

.card-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid var(--c-border2);
  border-radius: 12px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #F1F1F3
}

.card-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.card-detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  padding: 20px 0 12px;

  li {
    display: flex;
    align-items: center;
  }

  .name {
    width: 120px;
    color: var(--c-gray2)
  }
  
  .value {
    font-weight: 500
  }
}

.member-card {
  border: 1px solid var(--c-border2);
  padding: 15px 20px
}

.member-card-tit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--c-border2);
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.member-card-cont {
  padding-top: 15px;
}

.card-complate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  padding: 20px 0 40px 0;

  .tit {
    font-size: 18px;
    font-weight: 700;
  }
}