.radiocheck-root {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px 20px;
  line-height: 18px;
  min-height: 21px;
  font-size: 14px;
  text-align: left;
  word-break: keep-all;

  &.t--terms {
    [type='checkbox'] {
      border-radius: 50%;
      color: #a8a8a8;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: '';
        display: block;
        width: 6px;
        height: 9px;
        margin-top: -2px;
        border-right: 2px solid currentColor;
        border-bottom: 2px solid currentColor;
        transform: rotate(45deg);
        border-radius: 2px;
      }

      &:checked {
        background: var(--c-primary);
        color: #fff;
      }
    }
  }

  &.t--center {
    justify-content: center;
    gap: 6px 40px;
  }

  .btn-icon {
    margin-left: auto;
  }
}

.radiocheck-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;

  [type='checkbox'] {
    appearance: none;
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid #d4d4d9;
    border-radius: 4px;
    background: #fff;
    transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s;

    &:checked {
      border-color: transparent;
      background: var(--c-primary) url(../image/icon/ic_check_w.svg) no-repeat center center;
    }
  }

  [type='radio'] {
    appearance: none;
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid #d4d4d9;
    border-radius: 50%;
    background-color: #fff;

    &:checked {
      border-color: #3b5dfb;
      border-width: 6px;
    }
  }

  [type='checkbox'],
  [type='radio'] {
    &:disabled {
      border-color: #dbdbdb;
      background-color: #f7f7f7;
      cursor: default;
      
      &:checked {
        background-image: url(../image/icon/ic_check_g.svg);
      }
    }
  }
}

.radiocheck-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 18px 20px;
    border: 1px solid var(--c-border2);
    border-radius: 8px;
    font-size: 13px;
    transition: 0.2s;
    font-weight: 500;

    &:has([type='radio']:checked) {
      border-color: var(--c-primary);
      background-color: #f0f4ff;
    }
  }

  small {
    padding-left: 12px;
    font-weight: 400;
    color: #75757a;
  }

  &.t--register {
    width: 100%;
    height: 100%;
    flex-direction: row;
    gap: 16px;
    margin-top: 24px;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      font-size: 16px;
      font-weight: 700;

      small {
        padding-left: 0;
        font-weight: 400;
        font-size: 13px
      }
    }
  }
}
