.radiocheck-root {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px 20px;
  line-height: 18px;
  min-height: 21px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  word-break: keep-all;

  &.t--terms {
    [type='checkbox'] {
      width: 21px;
      height: 21px;
      border-radius: 22px;
      border-width: 2px;
      color: #a8a8a8;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: '';
        display: block;
        width: 7px;
        height: 10px;
        margin-top: -3px;
        border-right: 2px solid currentColor;
        border-bottom: 2px solid currentColor;
        transform: rotate(45deg);
        border-radius: 2px;
      }

      &:checked {
        background: var(--c-secondary);
        color: #fff;
      }
    }
  }

  &.t--center {
    justify-content: center;
    gap: 6px 40px;
  }

  .btn-icon {
    margin-left: auto;
  }
}

.radiocheck-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;

  [type='checkbox'] {
    appearance: none;
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid #d4d4d9;
    border-radius: 4px;
    background: #fff;
    transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s;

    &:checked {
      border-color: transparent;
      background: var(--c-primary) url(../image/icon/ic_check_w.svg) no-repeat center center;
    }
  }

  [type='radio'] {
    appearance: none;
    flex-shrink: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    

    
  }

  [type='checkbox'],
  [type='radio'] {
    &:disabled {
      border-color: #dbdbdb;
      background-color: #f7f7f7;
      cursor: default;
    }
  }
}

.radiocheck-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  .item {
    padding: 18px 20px;
    border: 1px solid var(--c-border2);
    border-radius: 8px;
    font-size: 13px;
    transition: .2s;
    font-weight: 500;
    
    &:has([type='radio']:checked) {
      border-color: var(--c-primary);
      background-color: #F0F4FF;
    }
  }
  
  small {
    padding-left: 12px;
    font-weight: 400px;
    color: #75757A;
  }
}
