.combobox-root {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;

  &.ac--focus {
    .combobox-dropdown {
      max-height: 0;
      transition: max-height 0.2s;
    }

    &:has(button:focus),
    &.ac--active {
      .combobox-dropdown {
        max-height: 200px;
        overflow-y: auto;
      }
    }

    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}

.combobox-btn {
  @include formBox;
  min-width: 160px;
  padding-right: 50px;
  color: var(--c-gray2);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    border-left: 1px solid var(--c-border);
    background: url(../image/icon/ic_down.svg) no-repeat center center;
  }
}

.combobox-dropdown {
  z-index: 99;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: -1px;
  font-size: 12px;
  color: var(--c-gray1);
  overflow: hidden;

  .combobox-option {
    border: 1px solid var(--c-border);
    border-radius: 4px;
    background-color: #fff;
  }

  li {
    display: flex;
    align-items: center;
    transition: background-color 0.2s;

    &.ac--active {
      background-color: rgba(50, 101, 255, 0.15);
    }
    &:hover:not(.ac--active, :has(button:disabled)) {
      background-color: rgba(50, 101, 255, 0.15);
    }
    & > * {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 2.4em;
      text-align: left;
      padding: 5px 12px;
      color: inherit;
    }

    button:disabled {
      cursor: not-allowed;
    }
  }
}
