.datepicker-root {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 3px;

  // &.ac--focus {
  //   .datepicker-popper {
  //     opacity: 0;
  //     transition: opacity 0.2s;
  //     visibility: hidden;
  //   }
  // }

  &:has(input:focus, button:focus),
  &.ac--active {
    .datepicker-popper {
      opacity: 1;
      visibility: visible;
    }
  }
}

.datepicker-popper {
  z-index: 99;
  position: absolute;
  top: 100%;
  left: 0;

  opacity: 0;
  transition: opacity 0.2s;
  visibility: hidden;
}

.datepicker-box {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-top: 2px;
  color: #222;
  min-height: 304px;
  border: 1px solid var(--c-border2);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 3px 12px 0px #371d6e12;

  // max-width: 360px;
  // margin: 0 auto
}

.datepicker-action {
  display: flex;
  justify-content: center;
  gap: 8px;
  border-top: 1px solid var(--c-border2);
  margin-top: 8px;
  margin-bottom: -8px;
  padding-top: 16px;

  .btn-outlined,
  .btn-contained {
    width: 90px;
    height: 38px;
  }
}

.datepicker-cont {
  display: flex;
  flex-direction: column;
}

.datepicker-section {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.datepicker-month {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  font-weight: 700;
  font-size: 20px;
}

.datepicker-month-prev,
.datepicker-month-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--c-gray1);
  
  .btn-icon {
    border-radius: 10px;
    transition: background-color .2s;
    &:hover {
      background-color: #F1F1F3;
    }
  }
}
.datepicker-month-prev {
  left: 0;
}
.datepicker-month-next {
  right: 0;
}

.datepicker-week,
.datepicker-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px 0;

  .datepicker-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;

    &:nth-child(7n + 1),
    &.t--off {
      color: var(--c-error);
    }
  }
}

.datepicker-week {
  opacity: 0.6;

  .datepicker-item {
    height: 40px;
  }
}

.datepicker-days {
  padding: 8px 0;

  &:has(.t--end):not(:has(.t--start)) {
    .datepicker-item {
      background-color: #f0f4ff;
    }
  }

  .datepicker-item {
    &.t--disabled {
      .datepicker-btn {
        opacity: 0.4;

        &:hover,
        &:focus {
          border-color: transparent;
          cursor: default;
        }
      }
    }

    &.t--start,
    &.t--start ~ .datepicker-item {
      background-color: #f0f4ff;
    }

    &.t--end,
    &.t--end ~ .datepicker-item {
      background-color: inherit;
    }
  }
}

.datepicker-btn {
  z-index: 1;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid transparent;
  font-size: 15px;
  color: inherit;
  transition:
    border-color 0.3s,
    background-color 0.3s,
    color 0.3s;

  &:not(.t--selected) {
    &:hover,
    &:focus {
      border-color: currentColor;
    }
  }

  &.t--selected {
    background-color: var(--c-primary);
    color: #fff !important;
  }
}
