.sticker-side {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 0 9px;
  border-radius: 20px;
  border: 1px solid currentColor;
  font-size: 11px;

  &.c--first {
    color: var(--c-error);
  }
  &.c--second {
    color: var(--c-secondary);
  }
}

.label-state {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 56px;
  height: 26px;
  padding: 0 6px;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
  background-color: var(--c-secondary);

  &.s--sm {
    min-width: 50px;
  }
}

.lavel-invest,
.lavel-investee {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50%;
  color: #fff;
  background-color: #fb7d5b;
}

.lavel-investee {
  background-color: var(--c-success);
}

.label-contained {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 66px;
  height: 25px;
  padding: 0 6px;
  border-radius: 26px;
  font-size: 12px;
  color: #fff;
  background-color: var(--c-secondary);
}

.label-ratings {
  display: inline-flex;
  align-items: center;
  margin-left: 6px;
  height: 20px;
  padding: 5px;
  border-radius: 4px;
  background-color: #e5e5e5;
  font-weight: 600;
}

.label-grade {
  display: inline-flex;
  align-items: center;
  margin-left: 6px;
  height: 20px;
  padding: 0 5px;
  border-radius: 4px;
  background-color: #0f7d00;
  font-size: 10px;
  font-weight: 600;
  color: #fff;

  &.s--sm {
    height: 16px;
    padding: 0 3px;
  }

  &.g--defer {
    background-color: #ffd400 !important;
    color: #fff !important;
  }

  // 관찰
  &.g--observe {
    background-color: #ff9900 !important;
    color: #fff !important;
  }

  // 주의
  &.g--warn {
    background-color: var(--c-error) !important;
    color: #fff !important;
  }

  &.g--active {
    background-color: var(--c-secondary) !important;
    color: #fff !important;
  }
}
