.modal-root,
.alert-root {
  z-index: 999;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}

.modal-backdrop,
.alert-backdrop {
  @include backdrop;
}

.modal-box,
.alert-box {
  @include popBox;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.modal-box {
  width: 420px;
}

.modal-root {
  &.s--xl .modal-box {
    width: 1000px;
  }
  &.s--lg .modal-box {
    width: 880px;
  }
  &.s--md .modal-box {
    width: 600px;
  }

  &.h--500 .modal-box {
    height: 500px;
  }

  .card-list {
    padding-bottom: 10px;
  }
}

.alert-box {
  min-width: 380px;
  min-height: 132px;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  color: var(--c-gray1);
}

.modal-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 36px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--c-border2);

  .font-h3 {
    font-size: 20px;
  }
}

.modal-contents,
.alert-contents {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 20px;
  overflow-y: auto;

  &.t--visible {
    overflow: visible;
  }
}

.modal-contents {
  overflow-y: scroll;
  margin-right: -18px;
  padding-right: 12px;
  gap: 16px;
}

.modal-action,
.alert-action {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.modal-action button {
  margin-top: 40px;
  width: 160px;
  height: 48px;
  font-size: 16px;
}

.alert-action {
  margin-bottom: 16px;

  button {
    margin-top: 24px;
    width: 104px;
    height: 40px;
    font-size: 14px;
  }
}

.alert-icons {
  display: flex;
  justify-content: center;
  margin-bottom: -8px;
}

.alert-msg {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  // padding: 24px;
  color: #4f4f55;
}

.modal-desc-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--c-gray1);
  font-weight: 500;
}
