.modal-root,
.alert-root {
  z-index: 999;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}

.modal-backdrop,
.alert-backdrop {
  @include backdrop;
}

.modal-box,
.alert-box {
  @include popBox;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.modal-box {
  width: 420px;
}

.modal-root {
  &.s--xl .modal-box {
    width: 1000px;
  }
  &.s--lg .modal-box {
    width: 800px;
  }
  &.s--md .modal-box {
    width: 600px;
  }

  &.h--500 .modal-box {
    height: 500px
  }

  .card-list {
    padding-bottom: 10px
  }
}

.alert-box {
  min-width: 280px;
  min-height: 132px;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  color: var(--c-gray1);
}

.modal-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 30px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--c-border2);
}

.modal-contents,
.alert-contents {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 20px;
  overflow-y: auto;

  &.t--visible {
    overflow: visible
  }
}

.modal-contents {
  overflow-y: scroll;
  margin-right: -18px;
  padding-right: 12px;
  gap: 10px;
}

.modal-action,
.alert-action {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  button { margin-top: 20px }
}

.alert-icons {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}

.alert-msg {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}

.modal-desc-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--c-gray1);
  font-weight: 500;
}