.searchbox-root {
  display: flex;
  gap: 50px;
  width: 100%;
  padding: 24px 30px;
  margin-bottom: 38px;
  border-radius: 4px;
  border: 1px solid #afccec;
  background-color: #f0f7ff;

  .textfield-form {
    max-width: 240px;

    &:read-only {
      background-color: #fff;
    }
  }

  div.textfield-form {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    min-width: 240px;
  }

  .radiocheck-label {
    font-weight: 600;
    font-size: 14px;
    color: var(--c-black);
  }
}

.searchbox-grid {
  border-collapse: separate;
  border-spacing: 0 12px;
  margin: -17px 0;

  th {
    text-align: left;
    vertical-align: middle;
    padding-right: 10px
  }

  td {
    vertical-align: middle;
    padding-right: 20px
  }

  .combobox-root {
    display: inline-flex;
  }

  .textfield-form {
    width: auto;
  }
}

.searchbox-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.searchbox-label {
  display: inline-flex;
  align-items: center;
  padding-right: 4px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}

.searchbox-btns {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal-root .searchbox-root {
  padding: 14px 20px;
  margin-bottom: 0;
}

.searchbox-chips {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 30px;

  .chip {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    height: 30px;
    padding: 0 9px;
    border: 1px solid var(--c-border2);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
  }

  .title {
    font-weight: 700;
    margin-right: 10px;
  }
}

.searchbox-root + .searchbox-chips {
  margin-top: -33px;
}
