.searchbox-root {
  display: flex;
  gap: 24px;
  width: 100%;
  padding: 24px 30px;
  margin-bottom: 32px;
  border-radius: 8px;
  background-color: #f9f9f9;

  .textfield-form {
    &:read-only {
      background-color: #fff;
    }
  }

  div.textfield-form {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
  }

  .radiocheck-label {
    font-weight: 600;
    font-size: 14px;
    color: var(--c-black);
  }
}

.searchbox-grid {
  border-collapse: separate;
  border-spacing: 0 12px;
  margin: -17px 0;

  th {
    text-align: left;
    vertical-align: middle;
    padding-right: 10px;
  }

  td {
    vertical-align: middle;
    padding-right: 20px;
  }

  .combobox-root {
    display: inline-flex;
  }

  .textfield-form {
    width: auto;
  }
}

.searchbox-item {
  display: flex;
  align-items: center;
  gap: 16px;

  &.s--full {
    flex-grow: 1;
  }

  &.s--min {
    flex-grow: 1;

    .combobox-root {
      flex-grow: 1;
    }
    .combobox-btn {
      min-width: 110px;
    }
  }

  .radiocheck-root {
    flex-wrap: nowrap;
  }

  .combobox-btn {
    min-width: 160px;
  }

  .textfield-root {
    max-width: 640px;
  }
}

.searchbox-label {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  white-space: nowrap;
}

.searchbox-btns {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    height: 40px;
  }

  .btn-contained {
    padding: 0 20px;
  }
}

.modal-root .searchbox-root {
  padding: 14px 20px;
  margin-bottom: 0;
}

.searchbox-chips {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 30px;

  .chip {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    height: 30px;
    padding: 0 9px;
    border: 1px solid var(--c-border2);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
  }

  .title {
    font-weight: 700;
    margin-right: 10px;
  }
}

.searchbox-root + .searchbox-chips {
  margin-top: -33px;
}

.search-filter-root {
  @include popper;
}

.search-filter-popper {
  top: calc(100% + 8px);
  right: 0;
  width: 560px;
  padding: 12px 24px 30px;
  border-radius: 16px;
  border: 1px solid var(--c-border2);
  background-color: #fff;
  box-shadow: 12px 16px 40px 0px #0000000a;

  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--c-border2);
  }

  .filter-cont {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0 36px;
  }

  .filter-action {
    text-align: center;

    .btn-contained {
      min-width: 160px;
      height: 48px;
      font-size: 16px;
    }
  }

  .filter-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .filter-chip-list {
      max-width: calc(100% - 80px);
    }

    .btn-text {
      height: 26px;
      font-size: 14px;
    }
  }
}

.filter-chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .btn-chip {
    display: inline-flex;
    align-items: center;
    height: 26px;
    padding: 0 4px 0 8px;
    background-color: #f1f1f3;
    border-radius: 6px;
    font-size: 13px;
    color: var(--c-gray2);

    &:hover {
      background-color: #e8e8eb;
    }
  }
}

.filter-checklist-root {
  display: flex;
  border: 1px solid var(--c-border2);
  border-radius: 6px;

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border: 3px solid #fff;
    border-radius: 5px;
    background-color: rgba(33, 33, 38, 0.12);
  }

  --chk-h: 40px;

  .checklist-box {
    flex: 1;
    height: calc(var(--chk-h) * 5);
    padding: 8px 0 8px 8px;
    box-sizing: content-box;
    overflow-y: auto;

    &:not(:first-child) {
      border-left: 1px solid var(--c-border2);
    }
  }

  .radiocheck-root {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }

  .radiocheck-label {
    width: 100%;
    height: var(--chk-h);
    padding: 0 16px;
    border-radius: 8px;
    justify-content: space-between;
    font-weight: 500;
    color: var(--c-gray1);
    transition: background-color 0.2s;

    &.ac--active {
      background-color: #f1f1f3;
    }

    &:hover {
      [type='checkbox'] {
        box-shadow: 0 0 0 3px #f1f1f3;
      }
    }
  }
}

.searchbox-root:has(.searchbox-filter-result) {
  flex-wrap: wrap;
}

.searchbox-filter-result {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  padding-top: 16px;
  margin-top: -8px;
  border-top: 1px solid var(--c-border2);

  .chip {
    display: inline-flex;
    align-items: center;
    height: 30px;
    padding-left: 4px;
    border: 1px solid #e8e8eb;
    border-radius: 6px;
    background-color: #fff;

    & > .icon-comm {
      margin-right: 2px;
    }

    .btn-icon {
      width: 24px;
      height: 30px;
    }
  }
}

.searchbox-filter-btns {
  margin-left: auto;

  .btn-comm {
    height: 40px;
  }
}

.select-btns {
  display: flex;
  gap: 8px
}