.searchbox-root {
  display: flex;
  gap: 24px;
  width: 100%;
  padding: 24px 30px;
  margin-bottom: 32px;
  border-radius: 8px;
  background-color: #f9f9f9;

  .textfield-form {
    &:read-only {
      background-color: #fff;
    }
  }

  div.textfield-form {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
  }

  .radiocheck-label {
    font-weight: 600;
    font-size: 14px;
    color: var(--c-black);
  }
}

.searchbox-grid {
  border-collapse: separate;
  border-spacing: 0 12px;
  margin: -17px 0;

  th {
    text-align: left;
    vertical-align: middle;
    padding-right: 10px;
  }

  td {
    vertical-align: middle;
    padding-right: 20px;
  }

  .combobox-root {
    display: inline-flex;
  }

  .textfield-form {
    width: auto;
  }
}

.searchbox-item {
  display: flex;
  align-items: center;
  gap: 16px;

  &.s--full {
    flex-grow: 1;
  }

  &.s--min {
    flex-grow: 1;
    
    .combobox-root {
      flex-grow: 1;
    }
    .combobox-btn {
      min-width: 110px;
    }
  }

  .radiocheck-root {
    flex-wrap: nowrap;
  }

  .combobox-btn {
    min-width: 160px;
  }
}

.searchbox-label {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  white-space: nowrap;
}

.searchbox-btns {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    height: 40px;
  }

  .btn-contained {
    padding: 0 20px;
  }
}

.modal-root .searchbox-root {
  padding: 14px 20px;
  margin-bottom: 0;
}

.searchbox-chips {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 30px;

  .chip {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    height: 30px;
    padding: 0 9px;
    border: 1px solid var(--c-border2);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
  }

  .title {
    font-weight: 700;
    margin-right: 10px;
  }
}

.searchbox-root + .searchbox-chips {
  margin-top: -33px;
}
