.switch-root {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  line-height: 2;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;

  [type='checkbox'] {
    appearance: none;
    flex-shrink: 0;
    position: relative;
    width: 54px;
    height: 25px;
    border: 0;
    border-radius: 25px;
    background-color: #e9e9ea;
    transition: background-color 0.2s;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 20px;
      z-index: 2;
      color: #fff;
      font-weight: 600;
      width: 34px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 3px 1px 0px #0000000f, 0px 3px 8px 0px #00000026;
      transition: left 0.2s;
    }

    &:checked {
      background-color: var(--c-secondary);

      &::after {
        left: 31px;
      }

      &::before {
        content: '';
        left: 3px;
      }
    }

    &:hover,
    &:hover + span {
      cursor: pointer;
    }

    &:disabled,
    &:disabled + span {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  &.t--appr {
    [type='checkbox'] {
      &::before {
        content: '거절';
      }

      &:checked {
        &::before {
          content: '승인';
        }
      }
    }
  }
}

.switch-label {
  display: inline-flex;
  align-items: center;
  gap: 0 0.2em;
}

.switchgroup-wrap {
  @include formStyle;
  display: flex;
  width: unset;
  padding: 0;
  overflow: hidden;
  background: #999;
}

.switchgroup-root {
  display: inline-flex;
  white-space: nowrap;
  background-color: #ebebeb;

  [type='radio'] {
    appearance: none;
    position: absolute;
  }

  &:has([type='radio']:checked) {
    font-weight: 700;
    .switchgroup-label {
      background-color: #fff;
    }
  }

  &:not(:first-child) {
    border-left: 1px solid var(--c-border);
  }
}

.switchgroup-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  padding: 0 10px;
  cursor: pointer;
}
