.table-wrap {
}

.table-header {
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 32px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;

  .count {
    display: inline-flex;
    align-items: center;

    em {
      padding: 0 4px;
      color: var(--c-primary);
    }
  }

  .msg-result {
    color: #0f172a;

    em {
      font-weight: 700;
      color: var(--c-primary);
    }
  }

  .utils {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    font-size: 13px;
    color: var(--c-gray1);
  }
  .unit {
    margin-left: auto;
    margin-top: auto;
    font-size: 13px;
    color: #8b8b8f;
  }

  &:has(.tabmenu-filter) .utils {
    margin-bottom: auto;
  }
}

.table-footer-btns {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.table-datagrid,
.table-datatree,
.table-checklist {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid var(--c-border2);
  border-left: 0 hidden;
  border-right: 0 hidden;
  background: #fff;
  color: #212126;
  font-size: 14px;
  font-weight: 500;

  th {
    height: 56px;
    border-bottom: 1px solid var(--c-border2);
    background-color: #f9f9f9;
    vertical-align: middle;
    font-weight: 500;
  }

  td {
    height: 56px;
    padding: 0 19px;
    border-bottom: 1px solid var(--c-border2);
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    transition: background-color 0.2s;
  }

  th:not(:first-of-type) {
    & > .tit {
      display: inline-block;
      width: 100%;
      height: 16px;
      border-left: 1px solid var(--c-border2);
    }
  }

  thead th:not(:has(> .tit)) {
    border-left: 1px solid #e8e8eb;
  }

  tfoot th {
    padding: 0 12px;
  }

  .th-cont {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}

.table-small {
  thead th {
    height: 48px;
  }

  td {
    height: 35px;
    border-right: 1px solid var(--c-border2);
    border-left: 1px solid var(--c-border2);
    line-height: 1.3;

    & > p {
      text-align: left;
    }
  }
}

.table-low {
  th,
  td {
    height: 48px;
  }
}

.table-datagrid {
  tbody th {
    padding: 0 12px;
    background-color: #fff;
    // background-color: var(--c-gray4);
    // font-weight: 500;
    // text-align: left;
  }

  tfoot {
    td,
    th {
      background-color: #f0f4ff;
    }

    tr:last-of-type {
      td,
      th {
        background-color: #d8e0ff;
      }
    }
  }

  a {
    display: flex;
    height: 100%;
    align-items: center;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  &:not(.s--sm) tbody {
    tr:hover td {
      // background-color: #f3f6ff;
    }
  }

  th.bg--first {
    background-color: #e7edff !important;
  }

  th.bg--second {
    background-color: #dcfaf8 !important;
  }

  td.bg--first {
    background-color: #f3f6ff !important;
  }

  td.bg--second {
    background-color: #ebfaf9 !important;
  }

  .btn-fav {
    .icon-comm {
      width: 22px;
      background-size: contain;
    }
  }
}

.table-datatree {
  table-layout: fixed;

  tbody th {
    background-color: #e7edff;
    font-weight: 500;
    text-align: center;
  }

  tfoot td,
  .line-foot td {
    background-color: var(--c-secondary);
    color: #fff;
    border-color: rgba(255, 255, 255, 0.6);
  }

  .line-lv2 td {
    background-color: #f0f4ff;
  }

  .line-lv3 .tree-item {
    padding-left: 1em;
  }

  .line-lv4 .tree-item {
    padding-left: 2em;
  }

  .tree-item {
    display: flex;
    align-items: center;
    gap: 6px;
    text-align: left;

    .btn-icon {
      margin-left: auto;
    }
  }

  .bg--error,
  .bg--success {
    border-color: rgba(255, 255, 255, 0.6);
    color: #fff;
  }
}

.table-checklist {
  td {
    text-align: left;
    padding: 9px 20px;
  }

  .radiocheck-root {
    display: flex;
  }
}

.finance-table {
  border-radius: 8px;
  border: 1px solid var(--c-border2);
  overflow: hidden;

  .table-datagrid {
    border: 0 hidden;
    tbody th {
      text-align: left;
    }

    .bg--em,
    .c--em {
      font-weight: 700;
    }
  }
}

.monitoring-root.c--first,
.finance-table {
  .c--em {
    color: #5a71fe;
  }
  tbody tr:first-child {
    td.bg--em {
      background-color: rgba(125, 152, 255, 0.7);
    }
  }

  tbody tr:nth-child(2) {
    td.bg--em {
      background-color: rgba(125, 152, 255, 0.6);
    }
  }

  tbody tr:nth-child(3) {
    td.bg--em {
      background-color: rgba(125, 152, 255, 0.5);
    }
  }

  tbody tr:nth-child(4) {
    td.bg--em {
      background-color: rgba(125, 152, 255, 0.4);
    }
  }

  tbody tr:nth-child(5) {
    td.bg--em {
      background-color: rgba(125, 152, 255, 0.3);
    }
  }
}

.monitoring-root.c--second,
.finance-table.c--second {
  .c--em {
    color: var(--c-success);
  }
  tbody tr:first-child {
    td.bg--em {
      background-color: rgba(79, 191, 155, 0.7);
    }
  }

  tbody tr:nth-child(2) {
    td.bg--em {
      background-color: rgba(79, 191, 155, 0.6);
    }
  }

  tbody tr:nth-child(3) {
    td.bg--em {
      background-color: rgba(79, 191, 155, 0.5);
    }
  }

  tbody tr:nth-child(4) {
    td.bg--em {
      background-color: rgba(79, 191, 155, 0.4);
    }
  }

  tbody tr:nth-child(5) {
    td.bg--em {
      background-color: rgba(79, 191, 155, 0.3);
    }
  }
}

.table-sticky {
  --h: 241px;

  position: relative;
  max-height: var(--h);
  overflow-y: auto;
  border-top: 1px solid var(--c-border2);
  margin-right: -5px;
  padding-right: 5px;

  table {
    border-spacing: 0;
    border-top: 0 hidden;
    border-bottom: 0 hidden;
    box-shadow: 0 1px 0 0 var(--c-border2);
  }

  thead {
    z-index: 1;
    position: sticky;
    top: 0;

    th {
      border-bottom: 0;
      box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    }
  }

  &.h--auto {
    max-height: 100%;
  }

  &.line10 {
    max-height: 530px;
  }
}

.table-rows {
  width: 100%;
  table-layout: fixed;
  border-top: 1px solid var(--c-border2);
  font-weight: 400;

  th {
    width: 140px;
    height: 48px;
    padding-left: 20px;
    border-bottom: 1px solid var(--c-border2);
    background-color: var(--c-gray4);
    vertical-align: top;
    text-align: left;
    font-size: 14px;
    line-height: 50px;
    font-weight: 400;
    color: var(--c-gray1);
    white-space: nowrap;
  }

  td {
    height: 48px;
    padding: 9px 10px;
    border-bottom: 1px solid var(--c-border2);
    vertical-align: middle;
  }
}

.al--center {
  text-align: center !important;
}

.al--left {
  text-align: left !important;
}

.al--right {
  text-align: right !important;
  font-feature-settings: 'tnum' 1;

  em {
    letter-spacing: -0.035em;
  }
}

.al--num {
  text-align: right !important;
  font-weight: 600;
  color: var(--c-black);
}

.th-bg {
  color: #fff;
}

.require {
  position: relative;
  display: inline-block;
  font-size: 14px;
  min-height: 0.5em;
  margin-right: 5px;
  &::after {
    content: '*';
    color: var(--c-error);
    position: absolute;
    top: 5px;
    left: 100%;
    margin-top: -10px;
  }
}

.datagrid-list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .msg-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 16px;
    color: var(--c-gray1);
  }
}

.table-empty {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-bottom: 1px solid var(--c-border2);
  text-align: center !important;
  font-size: 14px;
  color: #8b8b8f;
}

.table-btns {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

// dashboard table
.table-dashboard-box {
  flex-grow: 1;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  padding: 0 20px 2px;

  .table-sticky {
    height: 235px;
    max-height: unset;
    border-bottom: 0;
    table {
      box-shadow: none;
    }
  }
}

.table-dashboard {
  width: 100%;
  border-collapse: collapse;
  border: 0 hidden;
  font-weight: 500;

  th {
    height: 35px;
    border-bottom: 1px solid #e6eff5;
    vertical-align: middle;
    font-size: 12px;
    color: #718ebf;
    font-weight: 500;
    background-color: #fff;
  }

  td {
    height: 40px;
    padding: 0 19px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.2s;
  }

  .c--error,
  .c--calm {
    font-weight: 600;
  }
}

.table-detail {
  width: 100%;
  font-size: 13px;

  th {
    padding: 3px 0;
    text-align: left;
    font-weight: 400;
    color: #999;
    white-space: nowrap;
  }

  td {
    width: 70%;
    padding-left: 10px;
    color: #333;
    font-weight: 500;
  }
}

.table-price {
  table-layout: fixed;

  td {
    padding: 0 10px;
    text-align: right;
    background-color: #fff !important;
  }

  tbody th {
    text-align: left;
  }
}

.dashboard-panel {
  .table-price {
    td {
      word-break: break-all;
    }
  }
}

.table-xscroll {
  overflow-x: auto;
}

.summary-list {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #e8e8eb;
  font-size: 13px;
  color: #8b8b8f;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px;
    flex-grow: 1;

    &:not(:first-of-type) {
      border-left: 1px solid #e8e8eb;
    }
  }

  .value {
    font-size: 18px;
    font-weight: 700;
    color: var(--c-black);
  }
}

.td-grade {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 120px;
  white-space: nowrap;
  margin: 0 auto
}