.table-wrap {
  border-top: 2px solid var(--c-gray1);
}

.table-header {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  min-height: 32px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;

  .msg-result {
    color: #0f172a;

    em {
      font-weight: 700;
      color: var(--c-secondary);
    }
  }

  .utils {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
    font-size: 12px;
  }
}

.table-footer-btns {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.table-datagrid,
.table-datatree,
.table-checklist {
  width: 100%;
  border-collapse: collapse;
  border-top: 0 hidden;
  border-left: 0 hidden;
  border-right: 0 hidden;
  background: #fff;
  font-weight: 500;

  th {
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f0f2f8;
    vertical-align: middle;
  }

  td {
    height: 40px;
    padding: 0 19px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.2s;
  }
}

.table-datagrid {
  tbody th {
    padding: 0 20px;
    background-color: var(--c-gray4);
    font-weight: 500;
    text-align: left;
  }

  tfoot {
    td {
      background-color: #f3f6ff;
    }

    tr:last-of-type td {
      background-color: #e7edff;
    }
  }

  a {
    display: flex;
    height: 100%;
    align-items: center;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  &:not(.s--sm) tbody {
    tr:hover td {
      background-color: #f3f6ff;
    }
  }

  &:not(.s--sm, .t--board) tbody {
    tr:nth-child(even) td {
      background-color: var(--c-gray4);
    }

    tr:hover td {
      background-color: #f3f6ff;
    }
  }

  th.bg--first {
    background-color: #e7edff !important;
  }

  th.bg--second {
    background-color: #dcfaf8 !important;
  }

  td.bg--first {
    background-color: #f3f6ff !important;
  }

  td.bg--second {
    background-color: #ebfaf9 !important;
  }
}

.table-datatree {
  table-layout: fixed;

  tbody th {
    background-color: #e7edff;
    font-weight: 500;
    text-align: center;
  }

  tfoot td,
  .line-foot td {
    background-color: var(--c-secondary);
    color: #fff;
    border-color: rgba(255, 255, 255, 0.6);
  }

  .line-lv2 td {
    background-color: #e7edff;
    font-weight: 700;
  
    &.al--right {
      letter-spacing: -0.035em;
    }
  }

  .line-lv3 .tree-item {
    padding-left: 2em;
  }

  .line-lv4 .tree-item {
    padding-left: 4em;
  }

  .tree-item {
    display: flex;
    align-items: center;
    gap: 6px;
    text-align: left;
    font-weight: 600;

    .btn-icon {
      margin-left: auto;
    }
  }

  .bg--error,
  .bg--success {
    border-color: rgba(255, 255, 255, 0.6);
    color: #fff;
  }
}

.table-checklist {
  td {
    text-align: left;
    padding: 9px 20px;
  }

  .radiocheck-root {
    display: flex;
  }
}

.monitoring-root.c--first {
  .c--em {
    color: #5a71fe;
  }
  tbody tr:first-child {
    td.bg--em {
      background-color: #98a6fe;
    }
  }

  tbody tr:nth-child(2) {
    td.bg--em {
      background-color: #adb8fe;
    }
  }

  tbody tr:nth-child(3) {
    td.bg--em {
      background-color: #c1cafe;
    }
  }

  tbody tr:nth-child(4) {
    td.bg--em {
      background-color: #98a6fe66;
    }
  }

  tbody tr:nth-child(5) {
    td.bg--em {
      background-color: #eaedff;
    }
  }
}

.monitoring-root.c--second {
  .c--em {
    color: #23c2b8;
  }
  tbody tr:first-child {
    td.bg--em {
      background-color: #23c2b899;
    }
  }

  tbody tr:nth-child(2) {
    td.bg--em {
      background-color: #23c2b880;
    }
  }

  tbody tr:nth-child(3) {
    td.bg--em {
      background-color: #23c2b866;
    }
  }

  tbody tr:nth-child(4) {
    td.bg--em {
      background-color: #23c2b84d;
    }
  }

  tbody tr:nth-child(5) {
    td.bg--em {
      background-color: #23c2b826;
    }
  }
}

.table-sticky {
  position: relative;
  max-height: 243px;
  overflow-y: auto;
  border-bottom: 1px solid var(--c-border2);

  table {
    border-spacing: 0;
    border-bottom: 0 hidden;
    box-shadow: 0 1px 0 0 var(--c-border2);
  }

  thead {
    z-index: 1;
    position: sticky;
    top: 0;

    th {
      border-bottom: 0;
      box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    }
  }

  &.h--auto {
    max-height: 100%;
  }
}

.table-rows {
  width: 100%;
  table-layout: fixed;
  font-weight: 500;

  th {
    width: 280px;
    height: 50px;
    padding-left: 20px;
    border-bottom: 1px solid var(--c-border2);
    background-color: var(--c-gray4);
    vertical-align: top;
    text-align: left;
    font-size: 14px;
    line-height: 50px;
    // white-space: nowrap;
  }

  td {
    height: 50px;
    padding: 9px 10px;
    border-bottom: 1px solid var(--c-border2);
    vertical-align: middle;
  }
}

.modal-box .table-rows th {
  width: 120px;
}

.al--left {
  text-align: left !important;
}

.al--right {
  text-align: right !important;
  font-feature-settings: "tnum" 1;

  em {
    letter-spacing: -0.035em;
  }
}

.al--num {
  text-align: right !important;
  font-weight: 600;
  color: var(--c-black);
}

.th-bg {
  color: #fff;
}

.require {
  position: relative;
  display: inline-block;
  font-size: 14px;
  min-height: 0.5em;
  margin-right: 5px;
  &::after {
    content: '*';
    color: var(--c-error);
    position: absolute;
    top: 5px;
    left: 100%;
    margin-top: -10px;
  }
}

.datagrid-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 28px;
}

.table-empty {
  border-bottom: 1px solid var(--c-border2);
  padding: 12px;
  text-align: center;
  font-size: 12px;
}

.table-btns {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

// dashboard table
.table-dashboard-box {
  flex-grow: 1;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  padding: 0 20px 2px;

  .table-sticky {
    height: 235px;
    max-height: unset;
    border-bottom: 0;
    table {
      box-shadow: none;
    }
  }
}

.table-dashboard {
  width: 100%;
  border-collapse: collapse;
  border: 0 hidden;
  font-weight: 500;

  th {
    height: 35px;
    border-bottom: 1px solid #e6eff5;
    vertical-align: middle;
    font-size: 12px;
    color: #718ebf;
    font-weight: 500;
    background-color: #fff;
  }

  td {
    height: 40px;
    padding: 0 19px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.2s;
  }

  tr:nth-of-type(even) {
    background: rgba(237, 241, 255, 0.6);
  }

  .c--error,
  .c--calm {
    font-weight: 600
  }
}

.table-detail {
  width: 100%;
  font-size: 10px;

  th {
    padding: 3px 0;
    text-align: left;
    font-weight: 400;
    color: #999
  }

  td {
    padding-left: 10px;
    color: #333;
    font-weight: 600
  }
}