.tooltip-root {
  position: relative;

  &.ac-hover {
    &:hover {
      .tooltip-popper {
        opacity: 1;
        visibility: visible;
      }
    }

    .tooltip-popper {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s;
    }
  }

  .btn-icon {
    height: 25px;
  }

  &.xp {
    .tooltip-popper {
      left: auto;
      right: -10px;
    }
  }
}

.tooltip-popper {
  z-index: 1;
  position: absolute;
  bottom: 100%;
  left: -10px;
  padding-top: 5px;
}

.tooltip-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 320px;
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid var(--c-border2);
  background-color: #fff;
  color: var(--c-black);
  font-size: 12px;
  line-height: 1.4;
  text-align: left;
  white-space: normal;
  box-shadow: 0px 3px 12px 0px #00000012;

  .tit {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    white-space: nowrap;
    line-height: 1;

    small {
      font-size: 12px;
      font-weight: 400;
    }
  }

  .msg {
    font-size: 13px;
    font-weight: 400;
  }

  ul {
    padding-left: 16px;
  }

  li {
    padding: 3px 0 3px 0.7em;
    text-indent: -0.7em;

    &::before {
      content: '• ';
    }
  }
}
