@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes toastIn {
  from {
    opacity: 0;
    // filter: blur(10px)
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    // filter: none
    transform: none;
  }
}

@keyframes toastOut {
  to {
    opacity: 0;
    // filter: blur(5px)
    transform: translateY(50%);
  }
}

@keyframes refresh {
  to {
    transform: rotate(1turn);
  }
}

@keyframes scrollDown {
  0% {
    margin-top: -7px;
    opacity: 0;
  }
  40% {
    margin-top: 5px;
    opacity: 1;
  }
  60% {
    margin-top: 5px;
    opacity: 1;
  }
  100% {
    margin-top: -7px;
    opacity: 0;
  }
}

@keyframes snackIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes cardIn {
  from {
    top: 0;
  }
  50% {
    top: 40px;
    // transform: translateX(24px);
  }
  to {
    top: 24px;
    z-index: 3
  }
}

@keyframes cardOut {
  from {
    top: 24px;
    z-index: 2
  }
  50% {
    top: -16px;
  }
  to {
    top: 0;
    z-index: 1
  }
}
