:root {
  // color
  color: #222;
  --fc-default: #222;
  --fc-gray: #7b7b7b;

  // state-color
  --c-component: #265cf0;
  --c-disabled: #bebebe;
  --c-active: #3b5dfb;
  --c-success: #2cc78e;
  --c-error: #fc5356;
  --c-warn: #febb2b;
  --c-bg: #f8f9fb;
  --c-border: #ddd;
  --tb-bg: #f7f8fa;
  --c-hover: #e9eff3;
  --bc-hover: rgba(77, 124, 254, 0.1);

  // input
  --form-h: 48px;
  --form-h-s: 38px;
  --form-round: 8px;
  --form-pd: 1em;
  --form-c-bg-dis: rgba(245, 245, 245, 1);
  --form-c-text-dis: rgba(34, 34, 34, 0.3);

  // console
  --max-w: unset; /*720px;*/
  --min-w: 360px;
  --spc-w: 24px;

  // etc
  --ease: cubic-bezier(0, 0.75, 0, 1);
  --gra: linear-gradient(97deg, #0046ff, #8e48ff 60%);
}
