.SOLFooter {
  &-root {
    --font-13: 13px;
    --font-14: 14px;
    --font-15: 15px;
    --fc-gray2: #777;
    --fc-default: #222;
    --max-w: 1200px;
    --beta-g: linear-gradient(108.47deg, #22d6ff -38.28%, #225eff 43.3%, #8c2fff 100%);

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-size: var(--font-15);
    color: var(--fc-gray2);
    letter-spacing: -0.4px;
    white-space: nowrap;

    &.t--dark {
      border-top: 0;
      background-color: #020214;
      color: #8e8e8e;
      .SOLFooter-top-flex {
        width: var(--max-w);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .landing-shortcut-block {
          padding-top: 40px;
          .landing-shortcut-title {
            margin-bottom: 0em;
            .SOLTitle-t3 {
              font-size: var(--font-15);
              color: #fff;
            }
          }
          .landing-shortcut-contact {
            gap: 0em;
            .tel {
              color: #9b9ba0;
            }
            .item {
              .work {
                color: #9b9ba0;
              }
            }
          }
        }
      }

      .SOLFooter-nav-menu {
        color: #fff;

        ul {
          color: #9b9ba0;
        }

        .label {
          font-weight: 500;
          color: #fff;
          border: 1px solid rgba(255, 255, 255, 0.3);
          background: none;

          &::before {
            content: none;
          }
        }

        .beta {
          color: inherit;
          background: none;
        }
      }

      .SOLFooter-menu {
        a {
          &:not(:first-of-type)::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            height: 10px;
            margin-top: -5px;
            border-left: 1px solid rgba(255, 255, 255, 0.3);
          }
          em {
            color: #9e9e9e;
            font-weight: 700;
          }
        }
        &.no-mg {
          a {
            em {
              color: #9e9e9e;
            }
          }
        }
      }

      .SOLFooter-copyright {
        font-size: var(--font-13);
        font-weight: 500;
      }
      .SOLFooter-line {
        border-top-color: rgba(255, 255, 255, 0.1);
      }
      .SOLFooter-dropbox-inner {
        background-color: unset;
        border: 1px solid #38383e;
        color: #c3c3c3;
        &:hover,
        &.on {
          background-color: #38383e;
        }

        a:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }

        &:has(button:focus, a:focus) {
          background-color: #38383e;
        }
      }
    }
  }

  &-nav,
  &-container {
    width: 100%;
    max-width: var(--max-w);
  }

  &-line {
    width: 100%;
  }

  &-line {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &-nav {
    padding: 40px 0;
  }

  &-nav-menu {
    display: flex;
    width: 100%;
    color: var(--fc-default);
    font-weight: 600;
    font-size: var(--font-15);
    gap: 80px;

    & > li {
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      margin-top: 1em;
      font-weight: 400;
    }

    a {
      color: inherit;
    }

    .label {
      position: relative;
      display: inline-flex;
      height: 1.62em;
      padding: 0 0.7em;
      font-size: var(--font-13);
      font-weight: 600;
      border-radius: 1.62em;
      overflow: hidden;
      margin-left: 0.5em;
      background-image: var(--beta-g);

      &::before {
        content: '';
        position: absolute;
        inset: 1px;
        background-color: #fff;
        border-radius: 1.62em;
      }
    }

    .beta {
      z-index: 1;
      position: relative;
      flex: 1;
      display: inline-flex;
      align-items: center;
      color: transparent;
      background-image: var(--beta-g);
      background-clip: text;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    font-size: var(--font-13);
  }

  &-content {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
  }

  &-logo {
    flex-shrink: 0;
    width: 203px;

    img {
      max-width: 100%;
    }
  }

  &-menu,
  &-utils {
    color: var(--fc-default);
  }
  // .SOLFooter-menu, .SOLFooter-utils {
  //     color: #fff;

  //     a {
  //         opacity: 0.8;
  //         transition: opacity .2s;
  //         &:hover { opacity: 1 }
  //     }
  // }

  &-menu {
    display: flex;
    margin-left: 2em;
    color: #9e9e9e;
    &.no-mg {
      margin-left: 0;
      a {
        &:first-child {
          padding-left: 0;
        }
      }
    }

    a {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 2em;
      padding: 0 10px;
      color: inherit;

      &:not(:first-of-type)::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        height: 10px;
        margin-top: -5px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
      }

      em {
        color: #7f7f7f;
        font-weight: 600;
      }
    }
  }

  &-utils {
    display: flex;
    align-items: center;
    gap: 3em;
    margin-left: auto;

    > a {
      display: inline-flex;
      height: 48px;
      align-items: center;
      color: inherit;
    }
  }

  &-social {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &-dropbox {
    --drop-h: 38px;

    z-index: 9;
    position: relative;
    width: 242px;
    height: var(--drop-h);
    font-size: var(--font-14);

    &-inner {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border: solid 1px rgba(219, 219, 219, 0.2);
      border-radius: 6px;
      background-color: #f8f8f8;
      color: #4b4e53;
      transition: color 0.2s, background-color 0.2s, max-height 0.2s ease-in-out;

      &:hover,
      &.on {
        background-color: #f0f0f0; // hover 상태와 .on 상태 공통 적용
      }

      ul {
        display: none;
      }

      &.on {
        ul {
          display: block;
        }

        .SOLFooter-dropbox-btn {
          &::after {
            content: '';
            transform: rotate(-133deg);
            margin-top: 0px;
          }
        }
      }
    }

    ul {
      order: 1;
    }

    a {
      display: flex;
      align-items: center;
      padding: 0 16px;
      height: 39px;
      color: inherit;
      transition: background-color 0.2s;

      &:hover {
        background-color: #ebebeb;
      }
    }

    &-btn {
      position: relative;
      flex-shrink: 0;
      order: 2;
      width: 100%;
      padding: 0 16px;
      height: var(--drop-h);
      text-align: left;
      color: inherit;

      &::after {
        content: '';
        position: absolute;
        right: 16px;
        top: 50%;
        width: 8px;
        height: 8px;
        margin-top: -6px;
        border-right: 1px solid currentColor;
        border-bottom: 1px solid currentColor;
        transform: rotate(45deg);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  &-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    .line {
      display: flex;
      align-items: center;

      span {
        display: inline-flex;
        align-items: center;
        height: 10px;

        &:not(:first-of-type) {
          padding-left: 0.6em;
          margin-left: 0.6em;
          border-left: 1px solid rgba(255, 255, 255, 0.3);
        }
      }
    }

    .copyright {
      margin-top: -2px;
    }
  }
}
