.console-header {
  z-index: 101;
  position: relative;
  height: var(--h-header);
  border-bottom: 1px solid var(--c-border2);
  background-color: #fff;
  font-size: 16px;
  color: var(--c-black);
  font-weight: 600;
}

.console-area {
  @include width;
  display: flex;
  gap: var(--w-gap);
  align-items: flex-start;
  height: var(--h-header);
}

.console-header-logo {
  position: relative;
  z-index: 91;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 224px;
  height: var(--h-header);
  font-size: 18px;
  font-weight: 500;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
  }

  .logo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    color: transparent;
    width: 187px;
    height: 16px;
    background: url(../image/logo/bi_monitoring.svg) no-repeat left center / contain;
  }

  .crediview {
    width: 98px;
    height: 16px;
    background: url(../image/logo/bi_crediview.svg) no-repeat left center / contain;
  }

  .monitoring {
    width: 82px;
    height: 15px;
    background: url(../image/logo/bi_monitoring2.svg) no-repeat left center / contain;
  }

  .db {
    width: 182px;
    height: 16px;
    background: url(../image/logo/bi_db.png) no-repeat left center / contain;
  }
}

.console-header-nav {
  flex-grow: 1;
  display: flex;
  height: var(--h-header);
}

.console-header-menu {
  position: relative;
  z-index: 91;
  display: flex;
  // gap: 40px;

  .nav-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: inherit;
    white-space: nowrap;

    &.ac--active {
      color: var(--c-primary);
    }
  }

  .console-nav-item {
    position: relative;
    width: 122px;

    ////////////////////// hover event ////////////////////
    &:hover {
      .console-nav-sub {
        margin-top: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.console-nav-sub {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 8px;
  font-size: 14px;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  transition:
    margin-top 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

  a {
    display: flex;
    align-items: center;
    height: 31px;
    padding: 0 20px;
    color: inherit;
    font-weight: 600;
    white-space: nowrap;

    &:hover,
    &.ac--active {
      color: var(--c-primary);
    }
  }
}

.console-nav-sublist {
  min-width: 190px;
  padding: 12px 0;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 3px 6px #00000029;
}

.console-header-global {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
  height: var(--h-header);
  font-size: 14px;
  font-weight: 500;

  .global-btns {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    height: 100%;

    .btn-global {
      min-width: 58px;
      height: 32px;
      padding: 0 10px;
      color: inherit;
      border: 1px solid #d4d4d9;
      border-radius: 6px;
      font-size: 13px;

      &.c--active {
        border-color: currentColor;
        color: #3b5dfb;
      }
    }

    .btn-icon,
    .btn-user {
      transition: background-color 0.2s;

      &:hover {
        background-color: #f1f1f3;
      }
    }
  }
}

.global-btn-user {
  z-index: 1;
  position: relative;
  font-size: 13px;
  margin: 0 6px;

  & > * {
    position: relative;
  }

  &.ac--active {
    .global-user-menu {
      opacity: 1;
      max-height: 400px;
      visibility: visible;
    }

    .btn-user::after {
      margin-top: -8px;
      border-color: transparent transparent currentColor;
    }
  }

  a {
    color: inherit;
  }

  .btn-user {
    z-index: 1;
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 32px;
    padding-right: 30px;
    padding-left: 8px;
    border-radius: 6px;
    color: inherit;
    font-weight: 400;

    &::after {
      content: '';
      position: absolute;
      right: 8px;
      top: 50%;
      margin-top: -2px;
      border-style: solid;
      border-width: 6px;
      border-color: currentColor transparent transparent;
      border-radius: 2px;
    }

    & > .icon-comm:first-child {
      margin-left: -8px;
    }
  }

  &.t--service {
    margin-right: 16px;

    .global-user-menu {
      inset: -8px -8px auto;
      padding: 48px 16px 4px;
    }
  }
}

.global-user-menu {
  position: absolute;
  inset: -12px -16px auto;
  padding: 52px 16px 10px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 3px 6px #00000029;
  opacity: 0;
  max-height: 0;
  transition:
    opacity 0.3s,
    max-height 0.2s ease-in-out;
  overflow: hidden;
  visibility: hidden;

  .btn-logout {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 6px;
    padding: 0 8px;
  }
}

.user-menu-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-top: 1px solid #f1f1f3;
  font-size: 16px;
  padding: 12px 0 8px;

  .info-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
  }

  .info-detail-item {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

  .company {
    color: #75757a;
  }

  .time {
    color: var(--c-primary);
  }
}

.global-user-menu:has(.btn-logout) {
  .user-menu-list {
    border-bottom: 1px solid #f1f1f3;
    margin-bottom: 8px;
  }
}

.user-menu-list {
  border-top: 1px solid #f1f1f3;
  padding: 8px 0;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding: 0 8px;
    border-radius: 6px;
    color: inherit;
    transition: background-color 0.2s;

    &:hover {
      background-color: #f1f1f3;
    }
  }

  .icon-comm {
    opacity: 0.6;
    transform: scale(0.8);
  }
}

.console-header-search {
  position: relative;
  margin: auto;
  display: flex;
  width: 568px;

  .textfield-form {
    background-color: #f9f9f9;
    padding-left: 34px;
  }

  .icon-comm {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 12px;
    margin-top: -7px;
    width: 15px;
  }
}

.global-apps-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
