.console-header {
  z-index: 101;
  position: fixed;
  inset: 0 0 auto 0;
  height: var(--h-header);

  &.show {
    .console-header-inner {
      background-color: #fff;
      box-shadow: 0 0 12px 0 #00000040;
    }
  }
}

.console-header-inner {
  z-index: 1001;
  position: absolute;
  inset: 0 0 auto 0;
  // display: flex;
  // gap: var(--w-gap);
  // align-items: flex-start;
  height: var(--h-header);
  background-color: #fff;
  overflow: hidden;
  font-size: 16px;
  color: #212126;
  white-space: nowrap;
  font-weight: 500;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out, height 0.4s ease-in-out;
}

.console-area {
  display: flex;
  gap: var(--w-gap);
  align-items: flex-start;
  height: var(--h-header);
  max-width: var(--w-cont);
  margin: 0 auto
}

.console-header-logo {
  position: relative;
  z-index: 91;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 150px;
  height: var(--h-header);
  font-size: 18px;
  font-weight: 500;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
  }

  .logo {
    position: relative;
    width: 110px;
    height: 25px;
    color: transparent;

    .eng {
      position: absolute;
      inset: 0 0 auto 0;
      height: 100%;
      background: url(../../Common/image/crediview/logo/bi_crediview.svg) no-repeat left center / contain;
      animation: logoSwap 10s ease infinite;
    }
    .kr {
      position: absolute;
      inset: auto 0 0 0;
      height: 100%;
      background: url(../../Common/image/crediview/logo/bi_crediview_kr.svg) no-repeat center 58% / 65%;
      animation: logoSwap2 10s ease infinite;
    }
  }
}

.console-header-nav {
  flex-grow: 1;
  display: flex;
  height: var(--h-header);
}

.console-header-menu {
  position: relative;
  z-index: 91;
  display: flex;
  gap: 10px;

  .nav-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 22px;
    color: inherit;
  }

  .console-nav-item {
    position: relative;
  }
}

.console-nav-sub {
  position: absolute;
  top: 60px;
  left: 0;
  overflow: hidden;
  margin-top: 20px;
  font-size: 14px;

  a {
    display: block;
    height: 33px;
    padding: 0 22px;
    color: inherit;
    font-weight: 500;
    white-space: nowrap;

    &:hover,
    &.ac--active {
      color: #3d58c9;
      span {
        border-bottom-color: currentColor;
      }
    }

    span {
      border-bottom: 1px solid transparent;
      transition: border-bottom-color 0.2s;
    }
  }
}

.console-header-global {
  display: flex;
  margin-left: auto;
  gap: 10px;
  padding: 8px 0;
  font-size: 14px;

  .btn-icon {
    width: 28px;
    height: 28px;
    color: inherit;
  }

  .btn-txt {
    height: 100%;
    padding: 4px;
    color: inherit;
  }

  .global-panel {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    min-width: 126px;
    border-radius: 4px;
    padding: 0 10px;
    background-color: rgba(61, 88, 201, 0.15);
    transition: background-color 0.2s;

    .user {
      display: inline-flex;
      align-items: center;
      height: 100%;
      line-height: 1em;
    }
  }

  a.global-panel {
    min-width: unset;
    color: inherit;
  }

  .global-date {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
  }

  .global-btns {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .btn-global {
      min-width: 58px;
      height: 32px;
      padding: 0 10px;
      color: inherit;
      border: 1px solid #D4D4D9;
      border-radius: 6px;
      font-size: 13px;

      &.c--active {
        border-color: currentColor;
        color: #3B5DFB
      }
    }
  }
}

///////////////// sitemap

.btn-sitemap-close {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  // display: none;
  opacity: 0;
  transition: opacity 0.5s;

  .i--close {
    font-weight: 200;
    font-size: 36px;
  }
}
