.console-header {
  z-index: 101;
  position: relative;
  height: var(--h-header);
  border-bottom: 1px solid var(--c-border2);
  background-color: #fff;
  font-size: 16px;
  color: var(--c-gray1);
  white-space: nowrap;
  font-weight: 600;
}

.console-area {
  @include width;
  display: flex;
  gap: var(--w-gap);
  align-items: flex-start;
  height: var(--h-header);
}

.console-header-logo {
  position: relative;
  z-index: 91;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 224px;
  height: var(--h-header);
  font-size: 18px;
  font-weight: 500;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
  }

  .logo {
    position: relative;
    width: 82px;
    height: 30px;
    color: transparent;
    background: url(../image/logo/bi_monitoring.png) no-repeat left center / contain;
  }
}

.console-header-nav {
  flex-grow: 1;
  display: flex;
  height: var(--h-header);
}

.console-header-menu {
  position: relative;
  z-index: 91;
  display: flex;
  gap: 100px;

  .nav-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    color: inherit;

    &.ac--active {
      color: var(--c-primary);
    }
  }

  .console-nav-item {
    position: relative;

    ////////////////////// hover event ////////////////////
    &:hover {
      .console-nav-sub {
        margin-top: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.console-nav-sub {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 8px;
  font-size: 14px;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  transition:
    margin-top 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

  a {
    display: flex;
    align-items: center;
    height: 31px;
    padding: 0 20px;
    color: inherit;
    font-weight: 600;
    white-space: nowrap;

    &:hover,
    &.ac--active {
      color: var(--c-primary);
    }
  }
}

.console-nav-sublist {
  min-width: 190px;
  padding: 12px 0;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 3px 6px #00000029;
}

.console-header-global {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 500;

  .btn-icon {
    position: relative;
    width: 32px;
    height: 32px;
    color: inherit;

    .badge {
      position: absolute;
      top: 0;
      right: 0;
      padding: 2px 4px;
      border-radius: 20px;
      background-color: #e14b5f;
      font-size: 10px;
      color: #fff;
      line-height: 1;
    }
  }

  .global-btns {
    position: relative;
    display: inline-flex;
    gap: 15px;

    .btn-global {
      min-width: 58px;
      height: 32px;
      padding: 0 10px;
      color: inherit;
      border: 1px solid #d4d4d9;
      border-radius: 6px;
      font-size: 13px;

      &.c--active {
        border-color: currentColor;
        color: #3b5dfb;
      }
    }
  }
}

.global-btn-user {
  z-index: 1;
  position: relative;
  font-size: 13px;

  & > * {
    position: relative;
  }

  &.ac--active {
    .global-user-menu {
      opacity: 1;
      max-height: 300px;
      visibility: visible;
    }

    .btn-user::after {
      margin-top: -8px;
      border-color: transparent transparent currentColor;
    }
  }

  a {
    color: inherit;
  }

  .btn-user {
    z-index: 1;
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 32px;
    padding-right: 20px;
    color: inherit;
    font-weight: 400;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -2px;
      border-style: solid;
      border-width: 6px;
      border-color: currentColor transparent transparent;
      border-radius: 2px;
    }
  }
}

.global-user-menu {
  position: absolute;
  inset: -12px -20px auto;
  padding: 52px 16px 8px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 3px 6px #00000029;
  opacity: 0;
  max-height: 0;
  transition:
    opacity 0.3s,
    max-height 0.2s ease-in-out;
  overflow: hidden;
  visibility: hidden;

  .btn-logout {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 6px;
    padding: 0 8px;
  }
}

.user-menu-list {
  border-top: 1px solid #f1f1f3;
  border-bottom: 1px solid #f1f1f3;
  padding: 8px 0;
  margin-bottom: 8px;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding: 0 8px;
    border-radius: 6px;
    transition: background-color 0.2s;

    &:hover {
      background-color: #f1f1f3;
    }
  }

  .icon-comm {
    opacity: 0.6;
    transform: scale(0.8);
  }
}
