#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.console-root {
  // flex: 1 0 auto;
  // position: absolute;
  // inset: 0;
  display: flex;
  flex-direction: column;
  // min-width: 1900px;
  // overflow: hidden;
  color: var(--c-gray1);
}

.console-container {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  gap: 12px;
}

.console-contents {
  position: relative;
  flex-grow: 1;
}

.console-contents-inner {
  width: var(--w-cont);
  margin: 0 auto;
  padding: 56px 20px 0
}

.console-contents-header {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 20px;

  .cont-headline-box {
    margin: 0
  }
}