#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.console-root {
  flex: 1 0 auto;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  min-width: 1900px;
  overflow: hidden;
}

.console-container {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  gap: 12px;
  background-color: #eff3ff;

  &.ac--fold {
    gap: 0;

    .console-sidebar {
      width: 0;
    }
    .console-sidebar-inner {
      transform: translateX(-100%);
    }
    .console-contents {
      border-left: 0;
    }
    .sidebar-foldBtn .icon-comm {
      transform: scaleX(1);
      margin-right: 1px
    }
  }
}

.console-contents {
  position: relative;
  flex-grow: 1;
  background-color: #fff;
  border-left: 1px solid #ddd;
  font-weight: 500;
  height: 100%;
}

.console-contents-inner {
  position: absolute;
  inset: 0;
  overflow-y: scroll;
  padding: 30px;
}

.console-contents-header {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 20px;

  .cont-headline-box {
    margin: 0
  }
}