.console-sidebar {
  --w-short: 48px;
  --w-cont: calc(var(--w-sidebar) - var(--w-short));

  z-index: 99;
  position: absolute;
  inset: 0 auto 0 0;
  border-right: 1px solid #d8e0ff;
  background-color: #f0f4ff;
  box-shadow: 3px 0px 8px 0px #0b1f5b0f;
  width: var(--w-short);

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    border: 0;
    border-radius: 5px;
    background-color: rgba(33, 33, 38, 0.12);
  }

  .textfield-form {
    height: 36px;
    font-size: 13px;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0 auto 0 0;
    width: var(--w-short);
    background: #1c3bdb;
  }
}

.sidebar-posistion {
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
}

.sidebar-menu {
  z-index: 3;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: var(--w-short);
  padding: 6px;
  // background-color: #1c3bdb;
}

.sidebar-btn,
.sidebar-foldBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  color: #fff;
  opacity: 0.5;
  transition:
    opacity 0.3s,
    background-color 0.3s;

  &.company {
    background: url(../image/icon/ic_side_company.svg) no-repeat center center;
  }
  &.fav {
    background: url(../image/icon/ic_side_fav.svg) no-repeat center center;
  }
  &.memo {
    background: url(../image/icon/ic_side_doc.svg) no-repeat center center;
  }

  &.ac--active,
  &:hover {
    opacity: 1;
    background-color: rgba(33, 33, 38, 0.3);
  }
}

.sidebar-foldBtn {
  background: url(../image/icon/ic_side_fold.svg) no-repeat center center;

  &.open {
    transform: scaleX(-1);
  }
}

.sidebar-container {
  position: relative;
  width: 0;
  min-height: calc(100vh - var(--h-header));
  line-height: 1.4;
  overflow: hidden;

  .sidebar-h1 {
    font-size: 16px;
    margin-bottom: 15px;
    color: var(--c-gray1);
  }
  .sidebar-h2 {
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 4px;
    color: var(--c-gray1);
  }
}

.sidebar-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(var(--w-sidebar) - var(--w-short));
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar-tab-cont {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.sidebar-subtit {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #d4d4d9;
  font-size: 13px;
  color: #4f4f55;
}

.sidebar-box {
  padding: 14px 16px;
  border-radius: 8px;
  background-color: #fff;
}

.sidebar-searchbox {
  position: relative;

  .textfield-root {
    &::after {
      content: '';
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 7px;
      width: 22px;
      height: 22px;
      transform: translateY(-50%);
      background: url(../image/icon/ic_search.svg) no-repeat center center / 16px;
      opacity: 0.6;
    }
  }

  .textfield-form {
    height: 36px;
    padding-left: 32px;
    padding-right: 0;
    font-size: 13px;
  }
}

.sidebar-content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .textarea-form {
    resize: none;
    height: 100%;
    font-size: 14px;
  }

  &.ac--del {
    .sidebar-memo-footer,
    .radiocheck-root {
      display: none;
    }
  }
}

.sidebar-cont-scroll {
  position: absolute;
  inset: 0 -9px 0 0;
  padding-right: 9px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sidebar-empty {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  color: var(--c-gray2);
  font-size: 14px;

  &::before {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url(../image/icon/ic_empty.svg) no-repeat center center;
  }
}

.sidebar-companylist {
  display: flex;
  flex-direction: column;
  padding: 8px 0;

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 8px 30px 8px 0;
    font-weight: 500;
  }

  .num {
    color: var(--c-gray2);
    font-weight: 400;
  }

  em {
    font-weight: inherit;
    color: var(--c-primary);
  }

  .btn-fav {
    position: absolute;
    top: 50%;
    right: -8px;
    width: 36px;
    height: 36px;
    transform: translateY(-50%);

    .icon-comm {
      width: 20px;
    }
  }
}

// 메모
.sidebar-footer {
  flex-shrink: 0;
  display: flex;
  gap: 8px;
  margin-top: auto;
  padding-top: 20px;

  button {
    flex: 1;
    height: 40px;
  }
}

.sidebar-memo-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .box {
    height: 42px;
    line-height: 42px;
    padding: 0 16px;
    border-radius: 8px;
    border: 1px solid var(--c-border2);
    background-color: #fff;
  }
}

.sidebar-memo-utils {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  gap: 4px;

  .btn-icon {
    width: 26px;
    height: 26px;
  }
}

.sidebar-memo-searchbox {
  position: relative;
  overflow: hidden;
  max-height: 0;
  // transition: max-height .2s;

  &.ac--active {
    max-height: 50px;
  }

  .textfield-root {
    margin-bottom: 10px;

    &::after {
      content: '';
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background: url(../image/icon/ic_search.svg) no-repeat center center / 24px;
      opacity: 0.8;
    }
  }

  .textfield-form {
    padding-left: 30px;
    padding-right: 0;
    font-size: 14px;
    border: 0;
    background-color: transparent;
  }
}
