.TMFooter-root {
  z-index: 98;
  position: relative;
  padding: 32px 0;
  margin-top: auto;
  background-color: #2a2e36;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 300;
}

.TMFooter-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 var(--spc-w);
}

.TMFooter-logo {
  width: 162px;
  height: 25px;
  background: url(../../techfin-m/image/logo/logo_techfin_w.svg) no-repeat left center / 100%;
}

.TMFooter-address {
  font-size: 11px;
  line-height: 1.6;
  word-break: keep-all;
  p {
    padding: 2px 0;
    font-size: 12px;
    font-weight: 400;
  }

  em {
    font-size: 12px;
    font-weight: inherit;
  }
}

.TMFooter-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 2px 0 -5px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  line-height: 1.8;
  white-space: nowrap;

  a {
    display: inline-block;
    color: inherit;
  }

  em {
    color: #fff;
    font-weight: inherit;
  }
}

.TMFooter-address p > *,
.TMFooter-menu a {
  display: inline-block;
  &:not(:last-child) {
    &::after {
      content: '|';
      display: inline-block;
      padding: 0 10px;
    }
  }
}

// family site
.TMFooter-dropbox {
  --drop-h: 40px;
  z-index: 0;
  position: relative;
  height: var(--drop-h);
  font-size: 14px;
  color: #fff;

  a {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 39px;
    color: inherit;
    transition: background-color 0.2s;
  }

  &.on .TMFooter-dropbox-inner {
    max-height: 300px;
    background-color: #353940;

    .TMFooter-dropbox-btn {
      &::after {
        // opacity: 0.5;
        transform: rotate(-135deg);
      }
    }
  }
}

.TMFooter-dropbox-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: var(--drop-h);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: #2a2e36;
  transition: color 0.2s, background-color 0.2s, max-height 0.2s ease-in-out;
}

.TMFooter-dropbox-btn {
  position: relative;
  flex-shrink: 0;
  order: 2;
  width: 100%;
  padding: 0 16px;
  height: var(--drop-h);
  text-align: left;
  color: inherit;

  &::after {
    content: '';
    position: absolute;
    right: 16px;
    top: 50%;
    width: 6px;
    height: 6px;
    margin-top: -4px;
    border-right: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out, margin-top 0.3s ease-in-out;
    opacity: 0.6;
  }
}
