.SOLAlert-root {
  z-index: 1005;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-w);
  margin: 0 auto;
}

.SOLAlert-backdrop {
  @include backdrop;
}

.SOLAlert-box {
  @include popBox;
  padding: 32px 20px 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  word-break: keep-all;
}

.SOLAlert-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.SOLAlert-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  text-align: center;
  line-height: 1.5;

  .SOLText-desc {
    padding: 0 20px;

    &.s--lg {
      font-size: var(--font-16);
      font-weight: 700;
      color: #404252;
    }

    &.bold {
      font-size: var(--font-16);
      font-weight: 700;
    }
    &.pd-0 {
      padding: 0;
    }
  }

  .SOLTitle-t4 {
    margin-bottom: 5px;
  }

  .SOLTable-small.t--list {
    th,
    td {
      font-size: var(--font-12);
    }
    td {
      width: 80%;
    }
  }
}

.SOLAlert-action {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 16px;

  .SOLBtn-root {
    min-width: 90px;
  }
}

.SOLAlert-msgbox {
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  background-color: var(--c-bg);
  line-height: 1.6;
  font-size: var(--font-12);
  color: #000;

  ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: left;
  }

  li {
    position: relative;
    padding: 1px 0 1px 1em;
    line-height: 1.4;

    &::before {
      content: '· ';
      position: absolute;
      top: 0;
      left: 0.5em;
    }
  }

  .name {
    display: inline-block;
    min-width: 50px;
    color: var(--fc-gray2);
    padding-right: 10px;
    text-indent: 0;

    &.wide {
      min-width: 70px
    }
  }

  .msg-expdate {
    display: flex;
    flex-direction: column;
    gap: 1px;
    color: var(--fc-gray1);
    font-size: var(--font-13);

    em {
      color: var(--c-error);
      font-size: var(--font-14);
    }
  }

  .SOLTitle-t4 {
    padding: 6px 0 8px;
  }

  &.mgt15 {
    margin-top: 15px;
  }
  &-title {
    font-size: var(--font-16);
    font-weight: 700;
    color: #404252;
    padding-bottom: 5px;
  }

  &-text {
    font-size: var(--font-12);
    font-weight: 400;
    color: #404252;
  }
  &.left {
    text-align: left;
  }
  &.bd-radius {
    border-radius: 8px;
  }
  .kepp-in-mind {
    font-size: var(--font-14);
    h5.title {
      font-size: var(--font-14);
      font-weight: 700;
      color: #4e5262;
      padding: 0 0 11px 28px;
      border-bottom: solid 1px #e6e8eb;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        background: url(../../Common/image/icon/ic_info.svg) no-repeat center;
        border: solid 1px #0a2b582e;
        border-radius: 50%;
      }
    }
    ul.list {
      padding: 0px 0 0 0;
      li {
        position: relative;
        padding: 0 0 0 20px;
        text-indent: 0;
        line-height: unset;
        &::before {
          content: '';
          position: absolute;
          left: 10px;
          top: 10px;
          width: 2px;
          height: 2px;
          background: #0a2b58;
          border-radius: 50%;
        }
        span.tit {
          display: inline-block;
          width: 110px;
        }
        span.con {
          display: inline-block;
          width: 100%;
        }
      }
    }
    div.flex-box {
      display: flex;
      justify-content: space-between;
      &.bd-bt-line {
        border-bottom: solid 1px #bebebe;
      }
      .SOLIcon-gt--r {
        &::after {
          width: 8px;
          height: 8px;
        }
      }
    }
  }
}

.SOLAlert-msgbox-list {
  margin-top: 8px;
  text-align: left;

  li::before {
    content: '·';
    padding-right: 6px;
  }
}

.SOLAlert-panelbox {
  border: 1px solid var(--tb-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  color: var(--fc-gray1);
  font-size: var(--font-12);
  line-height: 1.4;
  text-align: left;
}

.SOLAlert-btnbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0 1em;
  border-bottom: 1px solid var(--tb-border);
  text-align: left;

  .bullet {
    position: relative;
    display: inline-block;
    padding-left: 0.6em;

    &::before {
      content: '·';
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
