// 안내용 공통 팝업
.review-popup-component {
  position: fixed;
  z-index: 998;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  border-radius: 16px 16px 0 0;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 #00000029;
  box-sizing: border-box;
  //display: none;
  &.w312 {
    width: 312px;
    height: 480px;
    .review-popup-header {
      .tit {
        font-size: var(--font-16);
      }
    }
  }
  &.w520 {
    width: 520px;
    height: 400px;
  }
  &.w400 {
    width: 400px;
  }

  &.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &.bottom {
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  &.left {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
  }

  &.right {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
  }

  .review-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #e6e8eb;
    padding: 16px 24px;
    .tit {
      width: 100%;
      font-size: 20px;
      font-weight: 700;
      color: #222222;
      padding-right: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .h-close-btn {
      display: block;
      text-indent: -9999px;
      width: 16px;
      height: 16px;
      background: url(/src/app/backoffice/resource/images/review-popup-c-btn.png)
        no-repeat;
      cursor: pointer;
    }
  }
  .review-popup-contents {
    padding: 30px 24px 0 24px;
    max-height: calc(100% - 90px);
    overflow-y: scroll;
    /* Webkit 기반 브라우저 (Chrome, Safari 등) */

    p {
      font-size: 14px;
      font-weight: 400;
      color: #222222;
    }
  }
  .review-popup-contents::-webkit-scrollbar-track {
    background: transparent; /* 스크롤 트랙 숨기기 */
  }

  .skip-today-box {
    width: 100%;
    position: absolute;
    bottom: -51px;
    left: 0;
    display: flex;
    justify-content: flex-start;
    background-color: #353535;
    padding: 16px 24px;
    border-radius: 0 0 16px 16px;
    box-sizing: border-box;

    .chk-box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      input[type="checkbox"] {
        width: 18px;
        height: 18px;
        border-radius: 4px;
        cursor: pointer;
      }
      label {
        color: #fff;
        display: inline-block;
        padding: 0 0 0 5px;
        font-size: 14px;
        font-weight: 500;
        color: #bababa;
      }
    }

    .skip-btn-close {
      display: block;
      font-size: 14px;
      font-weight: 500;
      color: #bababa;
      position: relative;
      padding: 0 0 0 20px;
      cursor: pointer;
      margin-left: auto; // 핵심 포인트
      &:before {
        content: "";
        width: 10px;
        height: 10px;
        background: url(/src/app/backoffice/resource/images/skip-btn-close.png)
          no-repeat;
        position: absolute;
        top: 4px;
        left: 0;
      }
    }
  }
}

// 안내용 공통 팝업 사이즈별
@media all and (max-width: 800px) {
  .review-popup-component {
    width: 90%;
  }
}
