.SOLSnackbar-root {
  z-index: 1003;
  position: fixed;
  inset: auto 0 0;

  &.h--max {
    .SOLSnackbar-box {
      min-height: 90svh
    }
  }

  &.c--bg {
    .SOLSnackbar-box {
      background-color: #F5F7FA;
    }
    .SOLSnackbar-footer {
      background: linear-gradient(to top, rgba(245,247,250,1) 82px, rgba(245,247,250,0));
    }
  }
}

.SOLSnackbar-backdrop {
  @include backdrop;
  position: fixed;
  inset: 0;
}

.SOLSnackbar-box {
  position: absolute;
  inset: auto 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100svh;
  background-color: #fff;
  border-radius: 16px 16px 0 0;
  box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.07);
  word-break: keep-all;
  animation: snackIn 0.8s 0.2s var(--ease) both;
}

.SOLSnackbar-header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 69px;
  padding: 24px var(--spc-w);
  border-radius: 16px 16px 0 0;
  background-color: #fff;
  font-size: var(--font-12);
  color: var(--fc-gray2);

  &.center { text-align: center }

  .SOLSnackbar-title {
    font-size: var(--font-18);
    font-weight: 700;
    color: var(--fc-default);

    em {
      color: var(--c-active)
    }
  }

  .note {
    position: absolute;
    top: 50%;
    right: var(--spc-w);
    transform: translateY(-50%);
    font-size: var(--font-13)
  }
  
  // &::before {
  //   content: '';
  //   z-index: 1;
  //   position: absolute;
  //   inset: 100% 0 auto;
  //   height: 20px;
  //   background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
  // }
}

.SOLSnackbar-close {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--fc-default)
}

.SOLSnackbar-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px var(--spc-w);

  &:not(.SOLSnackbar-bg) { background-color: #fff }
  
}

.SOLSnackbar-body {
  flex-grow: 1;
  overflow-y: auto;
  .SOLSnackbar-section:first-child { padding-top: 0 }
  .hr-comm {
    width: calc(100% - var(--spc-w) * 2);
    margin: 0 auto
  }
}

.SOLSnackbar-footer {
  @extend .console-footer;
  margin-top: 0 !important;
}

.SOLSnackbar-footer-btns {
  @extend .console-footer-btns;
}

.SOLSnackbar-msgbox {
  @extend .SOLAlert-msgbox;
  padding: 12px 24px;

  &.js-accordian-root { padding: 0 18px }

  .SOLTable-small.t--list {
    th {
      color: #404252;
    }
    td {
      text-align: right;
    }
  }

  & + & { margin-top: -10px }
}

.SOLSnackbar-msgbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-14);
  padding: 7px 0
}

.SOLSnackbar-msgbox-body {
  display: flex;
  flex-direction: column;

  .SOLTable-small {
    margin: 20px 0;
    td { text-align: left }
  }

  .hr-comm { width: 100% }
}

.js-accordian-root.st--open .SOLSnackbar-msgbox-body {
  max-height: 500px;  
}

.service-snack-coupon {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.service-snackbar-account {
  display: flex;
  flex-direction: column;
  gap: 24px
}