
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>고객관리-사업자관리-조회/목록</title>
<script type="text/javascript" src="../resource/js/common.js" ></script>
<script type="text/javascript">
setBizGrid();
/* $("#GridName").jqGrid("clearGridData");
$("#GridName).jqGrid("setGridParam",{data : data};
$("#GridName").trigger("reloadGrid"); */
var gridid_page = 1; // 실제 그리드 ID_page 변수명 셋팅 
$(document).ready(function(){
	
	
	
	
	
})

// 사업자관리 목록 조회 
function getGridData(page,gridId){
	// 공통 검색폼 param 조회 
	var param = getSearchParam();
	param.page =  page;
	if(!isEmpty($("#search_typ_use").val())){
		param.searchTypUse = $("#search_typ_use").val().replace(/-/gi, "")
	}
	
	//Dcloud.showLoading();
	postAjax("/api/cbsvc/client/biz/list", param, function(data){
		$("#"+gridId).jqGrid("clearGridData");
		$("#"+gridId).jqGrid("setGridParam",{data : data.resultData.data});
		$("#"+gridId).trigger("reloadGrid");
		var pagenation = data.resultData.pagenation;
		var tot_cnt = pagenation.total_cnt;
		$("#tot_cnt").text(tot_cnt);
		var pagingSrc = setPagiNation(pagenation,"getGridData","bizGridArea");
		$("#bizPagingArea").html(pagingSrc);
		Dcloud.closeLoading();
	})  
}


// 사업자관리 그리드 세팅 
function setBizGrid(){
	$("#bizGridArea").jqGrid({
       datatype: "local",
       height: 400, 
       width: 1200,
       colNames : ['No','기업명','사업자등록번호','대표자명','사용계정 수','최초가입일','사용유무'], 
       colModel:[
           {name : "no_row",
           index : "no_row",
           width : 4,
           align : 'center',
           hidden: false
           },

           {name : "nm_company",
           index : "nm_company",
           width : 21,
           align : 'left',
           hidden: false
           },

           {name : "no_biz",
           index : "no_biz",
           width : 17,
           align : 'center',
           hidden: false,
           formatter: function(value){
        	   return '<a href="javascript:openBizDetail(\''+value+'\')" style="color: #00bdff;">' + formatBusinessNumber(value) + '</a>';
           	}
           },

           {name : "nm_ceo",
           index : "nm_ceo",
           width : 13,
           align : 'center',
           hidden: false
           },
           
           {name : "cst_cnt",
           index : "cst_cnt",
           width : 13,
           align : 'center',
           hidden: false
           },
           
           {name : "dt_insert",
           index : "dt_insert",
           width : 13,
           align : 'center',
           hidden: false
           },
           
           {name : 'yn_del', // 받아올 변수 이름 
           index : 'yn_del', // jqgrid에서 쓸이름 
           width : 11, 
           align : 'center',
           hidden: false,
           formatter: function(value){
        	   return value === 'N' ?  '사용' : '미사용';
           }
       }],

       shrinkToFit:true,
      }); 
	
    $("#bizGridArea").setGridWidth($("#gridParentArea").width());
    $("#bizGridArea").setGridHeight($("#gridParentArea").height());
}

function openBizDetail(noBiz){//사업자정보 상세
	openUrlToArea("bizViewArea","/cbsvc/client/biz-detail", function(){
		getBizDetail(noBiz);
		scrollToBottomOfElement("bizContainer");
	});		
}

// 사업자관리 목록 다운로드 
function downloadBizList(){
	Dcloud.showLoading();
	var filename = "사업자 목록.xlsx";
	var param = getSearchParam();
	if(!isEmpty($("#search_typ_use").val())){
		param.searchTypUse = $("#search_typ_use").val().replace(/-/gi, "")
	}
	getDownloadExcel("/api/cbsvc/client/biz/download/excel",param,filename);
	
}



</script>



</head>

<body>
	<div class="pa_container" id="bizContainer">
	<!-- 컨텐츠 영역 -->
		<div class="pa_content">
			<div class="content_inbx" id="gridContainer" style="margin-top: 5px;" id="detail_search_box">
				<ul class="select_bx v2" style="padding: 10px;">
					<li>
						<div class="content_inbx" >
							<div class="basic_title_bx">
								<h3>조회</h3>
							</div>
						</div>
					</li>
					<li style="margin-left: 10px; margin-top: 20px; width:100%"><strong class="tit">가입기간</strong>
						<div class="LUX_basic_date_gap date_gap_bx"><!-- dataPicker -->
							<div style="margin-left: 10px">
								<div class="LUX_basic_text">
									<!-- 입력창에 포커스 - inpbx class="on" 추가  -->
									<div class="inpbx" style="display: inline-block; width: 130px;">
										<input type="text" id="search_from_date" class="datepicker" style="width: 80px; display: inline" readonly>
									</div>
									<strong>~</strong>
									&nbsp;
									<div class="inpbx" style="display: inline-block; width: 130px; margin-left: -8px">
										<input type="text" id="search_to_date" class="datepicker" style="width: 80px; display: inline" readonly>
									</div>
								</div>
							</div>
						</div> <!-- 개월 선택 버튼 --> 
						<span class="LUX_basic_btngruop date_btn_bx" id="month_btn_group">
							<button type="button" id="btn_1_month" class="LUX_basic_btn Default basic2 search_btn" style="left: 3px; width: 60px;">
								<span>1개월</span>
							</button>
							<button type="button" id="btn_6_month" class="LUX_basic_btn Default basic2 search_btn" style="left: 5px; width: 60px;">
								<span>6개월</span>
							</button>
							<button type="button" id="btn_12_month" class="LUX_basic_btn Default basic2 search_btn" style="left: 7px; width: 60px;">
								<span>12개월</span>
							</button>
							<button type="button" id="btn_all" class="LUX_basic_btn SAOverConfirm basic2 basic" style="left: 9px; width: 60px; margin-left: 3px">
								<span>전체</span>
							</button>
						</span>
					</li>
					<li style="margin-left: 10px; width: 100%; margin-top: 10px;"><strong class="tit">검색기준</strong>
						<div class="LUX_basic_select" style="float: left; width: 144px; margin-left: 10px;">
							<div class="LUX_pure_select" style="width: 144px;">
								<select id="search_typ">
								</select>
								<span class='icon'> 
									<span class='sp_lux'></span>
								</span>
							</div>
						</div>
						<div class="LUX_basic_text" style="float: left; margin-left: 16px; width: 230px;">
							<!-- 입력창에 포커스 - inpbx class="on" 추가  -->
							<div class="inpbx">
								<input type="text" id="search_text" placeholder="검색어를 입력하세요." autocomplete="off" style="margin-top: 3px; margin-left: 7px;"> <span class="sp_lux"></span>
							</div>
						</div>
					</li>
					<li style="margin-left: 10px; width:100%; margin-top: 10px; margin-bottom: -30px"><strong class="tit">사용유무</strong>
						<div class="LUX_basic_select" style="width: 144px; float: left; margin-left: 10px;">
							<div class="LUX_pure_select" style="width: 144px;">
								<select id="search_typ_use">				
								</select>
								<span class='icon'> 
									<span class='sp_lux'></span>
								</span>
							</div>
						</div>
					</li>
					<li style="float: right;" >
						<button type="button" id="btn_init" class="LUX_basic_btn Default basic search_btn" style="weight: 68px;">
							<span>초기화</span>
						</button>
						<button type="button" id="btn_search" class="LUX_basic_btn SAOverConfirm basic2" style="height: 30px; font-size: 14px; weight: 68px;">
							<span>검색</span>
						</button>
					</li>
				</ul>
			</div>
			<div class="basic_title_bx" style="margin-top: 30px; margin-bottom: -10px;">
				<h3>목록</h3>
				<h2 style="display: inline; margin-left: 3px;">(<span id="tot_cnt">##</span>건)</h2>
				<button type="button" class="LUX_basic_btn Default basic btn_exel" style="float : right; margin-bottom : 8px;" id="btn_excel">
				<img src="../resource/imgs/factoring/excel.png" width="30" height="20" style="margin-top: 2px">엑셀 내려받기</button>
			</div>
			<div class="table_area" style="margin-top:10px">					
				<div id="gridParentArea" class="grid_tbl_item">
					<table id="bizGridArea"></table>
				</div>
				<div id="bizPagingArea" style="margin-top: 20px;margin-bottom:10px"></div>
			</div>
		</div>
		
		<div id="bizViewArea" style="margin-bottom: 90px">
		</div>
	</div>
	
	
</body>
</html>