<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>크레디뷰 Design System - layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/Web/css/designsystem.css" />
    <style></style>
  </head>
  <body>
    <div class="comp-inner-root">
      <div class="comp-top">
        <h2 class="comp-pagetitle">Footer</h2>
        <p class="comp-pagetitle-desc">Landing 및 로그인화면 footer</p>
        <button type="button" class="comp-btn-code" onclick="openCode()">
          Code View
        </button>
      </div>

      <div id="compContents">
        <section class="comp-section">
          <h3 class="comp-objtitle">footer theme : landing</h3>

          <footer class="SOLFooter-root t--dark">
            <nav class="SOLFooter-nav">
              <ul class="SOLFooter-nav-menu">
                <li>
                  <a href="/src/app/crediview/service/register"
                    >기업신용평가 소개</a
                  >
                  <ul>
                    <li>
                      <a href="/src/app/crediview/service/register"
                        >신용평가 신청</a
                      >
                    </li>
                    <li>
                      <a href="/src/app/crediview/service/submit"
                        >신용평가등급확인서 제출</a
                      >
                    </li>
                    <li>
                      <a href="/src/app/crediview/service/result"
                        >등급 산출 및 제출내역</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#회사소개"
                    >AI경영진단보고서<span class="label"
                      ><span class="beta">OPEN</span></span
                    ></a
                  >
                  <ul>
                    <li>
                      <a href="">AI 경영진단보고서 소개</a>
                    </li>
                    <li>
                      <a href="">경영진단 신청</a>
                    </li>
                    <li>
                      <a href="">진단내역</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="/src/app/crediview/cs/notice">고객지원</a>
                  <ul>
                    <li><a href="/src/app/crediview/cs/notice">공지사항</a></li>
                    <li>
                      <a href="/src/app/crediview/cs/faq">자주 묻는 질문</a>
                    </li>
                    <li>
                      <a href="/src/app/crediview/cs/inquiry">1:1 문의</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>

            <hr class="SOLFooter-line" />

            <div class="SOLFooter-container">
              <div class="SOLFooter-content">
                <div class="SOLFooter-logo">
                  <img
                    src="../../../../static/Common/image/crediview/logo/logo_techpin_w.png"
                    alt="Techfin ratings"
                  />
                </div>
                <div class="SOLFooter-menu">
                  <a href="">회사소개</a>
                  <a href="">다운로드 센터</a>
                </div>
                <div class="SOLFooter-utils">
                  <div class="SOLFooter-social">
                    <a href="#blog"
                      ><img
                        src="../../../../static/Common/image/icon/ic_sns_blog.svg"
                        alt="blog"
                    /></a>
                    <!-- <a href="#kakao"><img src="/static/image/icon/ic_sns_kakao.svg" alt="kakao"></a>
                  <a href="#facebook"><img src="/static/image/icon/ic_sns_facebook.svg" alt="facebook"></a>
                  <a href="#youtube"><img src="/static/image/icon/ic_sns_youtube.svg" alt="youtube"></a> -->
                  </div>
                  <div class="SOLFooter-dropbox">
                    <div class="SOLFooter-dropbox-inner">
                      <button type="button" class="SOLFooter-dropbox-btn">
                        Family Site
                      </button>
                      <ul>
                        <li>
                          <a href="https://techfinratings.com" target="_blank"
                            >Techfin ratings</a
                          >
                        </li>
                        <li><a href="" target="_blank">WEHAGO</a></li>
                        <li><a href="" target="_blank">Amaranth 10</a></li>
                        <li><a href="" target="_blank">OmniEsol</a></li>
                        <li>
                          <a href="" target="_blank">매출채권팩토링 플랫폼</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- SOLFooter-utils end -->
              </div>

              <div class="SOLFooter-address">
                <div class="SOLFooter-menu no-mg">
                  <a
                    href="https://www.techfinratings.com/conditions_info_02"
                    target="_blank"
                    title="새창열림"
                    >신용정보활용체제</a
                  >
                  <a href="/src/app/crediview/common/conditions.html"
                    >신용평가체계</a
                  >
                  <a href="/src/app/crediview/common/privacy.html"
                    ><em>개인정보처리방침</em></a
                  >
                </div>
                <p class="line">
                  <span>(주)테크핀레이팅스</span>
                  <span>대표 : 옥형석</span>
                  <!-- <span>주소 : 서울특별시 중구 을지로 29, 10F (을지로 1가, 더존을지타워)</span> -->
                  <span>사업자등록번호 : 370-88-02545</span>
                  <span>통신판매업신고 : 2024-서울중구-1794</span>
                </p>
                <p class="line">
                  <span>대표전화 : 1660-3832</span>
                  <span>이메일 : support@techfinratings.com</span>
                </p>
                <p class="copyright">
                  Copyright©Techfinratings Co,. Ltd All Rights Reserved.
                </p>
              </div>
            </div>
            <!-- SOLFooter-content end -->
          </footer>
        </section>

        <section class="comp-section">
          <h3 class="comp-objtitle">footer theme : login</h3>

          <footer class="SOLFooter-root">
            <!-- <nav class="SOLFooter-nav">
              <ul class="SOLFooter-nav-menu">
                <li>
                  <a href="#서비스 소개">서비스 소개</a>
                  <ul>
                    <li><a href="#기업신용평가">기업신용평가</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/src/app/crediview/service/register">기업신용평가</a>
                  <ul>
                    <li>
                      <a href="/src/app/crediview/service/register"
                        >신용평가 신청</a
                      >
                    </li>
                    <li>
                      <a href="/src/app/crediview/service/submit"
                        >신용평가등급확인서 제출</a
                      >
                    </li>
                    <li>
                      <a href="/src/app/crediview/service/result"
                        >등급 산출 및 제출내역</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#회사소개"
                    >AI경영진단보고서<span class="label"
                      ><span class="beta">Beta</span></span
                    ></a
                  >
                </li>
                <li>
                  <a href="#회사소개">회사소개</a>
                </li>
                <li>
                  <a href="#다운로드센터">다운로드센터</a>
                </li>
                <li>
                  <a href="/src/app/crediview/cs/notice">고객지원</a>
                  <ul>
                    <li><a href="/src/app/crediview/cs/notice">공지사항</a></li>
                    <li>
                      <a href="/src/app/crediview/cs/faq">자주 묻는 질문</a>
                    </li>
                    <li>
                      <a href="/src/app/crediview/cs/inquiry">1:1 문의</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav> -->

            <hr class="SOLFooter-line" />

            <div class="SOLFooter-container">
              <div class="SOLFooter-content">
                <div class="SOLFooter-logo">
                  <img
                    src="../../../../static/Common/image/crediview/logo/logo_techpin_bk.png"
                    alt="Techfin ratings"
                  />
                </div>
                <div class="SOLFooter-menu">
                  <a href="">회사소개</a>
                  <a href="">다운로드 센터</a>
                </div>
                <div class="SOLFooter-utils">
                  <div class="SOLFooter-social">
                    <a href="#blog"
                      ><img
                        src="../../../../static/Common/image/icon/ic_sns_blog.svg"
                        alt="blog"
                    /></a>
                    <!-- <a href="#kakao"><img src="/static/image/icon/ic_sns_kakao.svg" alt="kakao"></a>
                  <a href="#facebook"><img src="/static/image/icon/ic_sns_facebook.svg" alt="facebook"></a>
                  <a href="#youtube"><img src="/static/image/icon/ic_sns_youtube.svg" alt="youtube"></a> -->
                  </div>
                  <div class="SOLFooter-dropbox">
                    <div class="SOLFooter-dropbox-inner">
                      <button type="button" class="SOLFooter-dropbox-btn">
                        Family Site
                      </button>
                      <ul>
                        <li>
                          <a href="https://techfinratings.com" target="_blank"
                            >Techfin ratings</a
                          >
                        </li>
                        <li><a href="" target="_blank">WEHAGO</a></li>
                        <li><a href="" target="_blank">Amaranth 10</a></li>
                        <li><a href="" target="_blank">OmniEsol</a></li>
                        <li>
                          <a href="" target="_blank">매출채권팩토링 플랫폼</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- SOLFooter-utils end -->
              </div>

              <div class="SOLFooter-address">
                <div class="SOLFooter-menu no-mg">
                  <a
                    href="https://www.techfinratings.com/conditions_info_02"
                    target="_blank"
                    title="새창열림"
                    >신용정보활용체제</a
                  >
                  <a href="/src/app/crediview/common/conditions.html"
                    >신용평가체계</a
                  >
                  <a href="/src/app/crediview/common/privacy.html"
                    ><em>개인정보처리방침</em></a
                  >
                </div>
                <p class="line">
                  <span>(주)테크핀레이팅스</span>
                  <span>대표 : 옥형석</span>
                  <!-- <span>주소 : 서울특별시 중구 을지로 29, 10F (을지로 1가, 더존을지타워)</span> -->
                  <span>사업자등록번호 : 370-88-02545</span>
                  <span>통신판매업신고 : 2024-서울중구-1794</span>
                </p>
                <p class="line">
                  <span>대표전화 : 1660-3832</span>
                  <span>이메일 : support@techfinratings.com</span>
                </p>
                <p class="copyright">
                  Copyright©Techfinratings Co,. Ltd All Rights Reserved.
                </p>
              </div>
            </div>
            <!-- SOLFooter-container end -->
          </footer>
        </section>
      </div>
    </div>

    <!-- code view -->
    <script src="/src/app/designsystem/js/highlight.min.js"></script>
    <script src="/src/app/designsystem/js/go.min.js"></script>
    <script src="/src/app/designsystem/js/codeview.js"></script>
    <script>
      hljs.highlightAll();
    </script>

    <!-- component js -->
    <script src="/src/app/designsystem/js/popper.min.js"></script>
    <script src="/src/app/designsystem/js/tippy-bundle.umd.js"></script>
    <script src="/src/app/designsystem/js/custom.js"></script>
  </body>
</html>
