.cont-headline {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 60px;
  padding: 5px 0 20px;
  margin-bottom: 32px;
  border-bottom: 1px solid #212126;
  color: var(--c-gray1);
  font-size: 13px;
}

.cont-headline-sub {
  display: flex;
  align-items: center;
  height: 32px;
  margin: 30px 0 16px;

  .utils {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
  }
}

.cont-headline-box {
  display: flex;
  align-items: center;
  margin: 10px 0 32px;
  padding: 38px 32px;
  border: 1px solid #d4d4d9;
  border-radius: 8px;
  font-size: 14px;

  .headline-title {
    flex-shrink: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    color: #75757a;

    em {
      font-size: 24px;
      color: var(--c-black);
    }
  }

  .headline-company {
    display: flex;
    align-items: center;
    gap: 12px;

    .logo {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid var(--c-border2);
      background-color: #fff;
      overflow: hidden;

      img {
        display: block;
        max-width: 70%;
        max-height: 70%;
      }
    }
  }

  .list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
    font-size: 16px;
    color: var(--c-black);
    border-left: 1px solid #d4d4d9;

    li {
      width: 50%;
      display: flex;
      align-items: flex-start;
      gap: 10px;
      padding: 0 20px;
    }

    em {
      display: inline-block;
      min-width: 80px;
      padding-right: 10px;
      color: var(--c-gray2);
      font-weight: inherit;
    }
  }

  &.t--detail {
    padding: 24px 32px;
    border-color: #d8e0ff;
    background-color: #f0f4ff;

    .headline-title {
      width: auto;
      height: unset;
      border: none;
      em {
        font-size: 20px;
      }
    }

    .list {
      flex-grow: 0;
      gap: 20px 32px;
      margin-left: auto;
      border-left: none;

      li {
        width: auto;
        padding: 0;
        font-weight: 500;
      }

      em {
        min-width: unset;
        padding: 0;
        font-weight: 400;
      }
    }
  }
}

.headline-utils {
  margin-left: auto;
  display: flex;
  gap: 8px;
}

.cont-breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 500;
  color: var(--c-gray1);

  a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: var(--c-gray2);
    font-weight: 500;

    &::after {
      content: '';
      display: inline-block;
      width: 7px;
      height: 7px;
      border-right: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      transform: rotate(-45deg);
      border-radius: 1px;
    }
  }
}

.file-list {
  color: var(--c-gray2);
  font-size: 12px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 3px 0;
  }

  a {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--c-secondary);

    &:hover {
      text-decoration: underline;
    }
  }
}

.btns-wrap {
  display: flex;
  align-items: center;
  gap: 12px;

  .btn-comm {
    width: 102px;
    height: 40px;
    margin-left: auto;
    font-size: 14px
  }
}

.section-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.msg-small {
  font-size: 12px;
  color: var(--c-gray2);
}

.box-centered {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--c-border2);
  background-color: var(--c-gray4);
  border-radius: 4px;
  margin: 0 auto;
  padding: 25px 50px;
}

.box-panel {
  border: 1px solid var(--c-border2);
  border-radius: 8px;
}

.terms-pop {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--c-border2);
  border-radius: 4px;
  padding: 10px 20px;

  .radiocheck-root {
    font-size: 12px;
    line-height: 1.4;
  }

  .terms-pop-item {
    padding-left: 21px;
  }

  &:has(.terms-pop-header) {
    padding-bottom: 15px;
  }
}

.terms-pop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--c-border2);

  .radiocheck-root {
    font-weight: 700;
  }
}

.terms-wrap {
  display: flex;
  gap: 5%;

  li {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    padding: 0 12px 0 20px;
    border: 1px solid var(--c-border2);
    background-color: #fff;
    border-radius: 4px;
  }

  &.al--column {
    gap: 10px;
  }
}

.msg-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--c-gray1);
  line-height: 1.3;
  font-size: 13px;

  & > li {
    position: relative;
    padding: 1px 0 1px 14px;
    text-align: left;

    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 5px;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: currentColor;
    }
  }

  ul {
    margin: 3px 0;
    li {
      padding: 1px 0;
    }
  }

  &.s--lg {
    line-height: 1.5;
    
    & > li {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 5px 0 5px 17px;

      &::before {
        top: 12px;
        width: 3px;
        height: 3px;
      }
    }

    ul {
      margin: 8px 0 2px 0;
      li {
        padding: 3px 0 3px 20px;
      }
    }
  }

  a {
    color: inherit;
  }
}

.detail-list {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:not(.msg-list) {
    border-top: 1px solid var(--c-border2);
    color: var(--c-gray2);
    font-size: 14px;

    li {
      height: 32px;
    }
  }

  .desc {
    word-break: break-all;
    text-align: right;
  }

  .name {
    white-space: nowrap;
  }

  li {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
  em {
    color: var(--c-black);
    font-weight: 500;
  }

  &.st2 {
    border-top: 0;
    padding-top: 16px;
  }
}

td .msg-list {
  padding: 12px 0;
}

.msg-noti {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
  margin: 10px 0;

  li {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.msg-info {
  display: inline-block;
  min-height: 15px;
  padding-left: 20px;
  background: url(../image/icon/ic_info.svg) no-repeat left 1px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  color: #333;
}

.msg-sm {
  color: #999;
}

.panel-list {
  display: flex;
  justify-content: center;
  border: 1px solid var(--c-border2);
  border-radius: 8px;
  padding: 16px 0;
  margin-bottom: 40px;

  li {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-size: 13px;
    text-align: center;
    word-break: keep-all;
    color: #8b8b8f;
    transition: border-color 0.2s;

    &:not(:first-of-type) {
      border-left: 1px solid var(--c-border2);
    }
  }

  .panel-link {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 10px;
    border-radius: 4px;
    color: inherit;
  }

  .date {
    font-size: 12px;
    color: var(--c-gray2);
    font-weight: 500;
  }

  .value {
    font-size: 18px;
    font-weight: 700;
    color: var(--c-black);
  }
}

.certi-cont {
  display: flex;
}

.box-terms {
  display: flex;
  flex-direction: column;
  gap: 1.8em;
  height: 60vh;
  padding: 20px;
  border: 1px solid var(--c-border2);
  border-radius: 4px;
  overflow-y: scroll;
  font-size: 12px;
  line-height: 1.6;
  font-weight: 500;

  .terms-service {
    color: #999;
    font-weight: 400;

    .tit {
      margin-bottom: 6px;
      font-size: 14px;
      font-weight: 600;
      color: var(--c-black);
    }
  }
}

.stepper-list {
  min-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 8px 0 16px;
  counter-reset: item;
  margin-top: 10px;

  li {
    counter-increment: item;
    display: flex;
    align-items: center;
    height: 1px;

    &::before {
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #d4d4d9 url(../image/icon/ic_check_w.svg) no-repeat center center;
      color: #fff;
      font-size: 13px;
      font-weight: 500;
    }

    &:not(:first-child) {
      padding-left: 20px;
      border-top: 1px dashed var(--c-border2);
    }

    &.current {
      &::before {
        content: counter(item);
        background: var(--c-primary);
      }
      .title {
        display: block;
      }

      & ~ li::before {
        content: counter(item);
        background: #d4d4d9;
      }
    }
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
}

.msg-box {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 13px;
  color: var(--c-gray1);
  line-height: 1.4;
  word-break: keep-all;

  &.msg-empty {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
  }

  &.al--center {
    text-align: center;
    justify-content: center;
  }
}

.msg-border {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--c-border2);
  font-size: 13px;
  color: var(--c-gray1);
  line-height: 1.4;
  word-break: keep-all;
}

.wrapper-flex {
  display: flex;
  gap: 32px;
  width: 100%;

  & > .item {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.mt0 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt14 {
  margin-top: 14px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt57 {
  margin-top: 57px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.mt-20 {
  margin-top: -20px !important;
}

.mt-30 {
  margin-top: -32px !important;
}

.mb-4 {
  margin-bottom: -4px !important;
}

.pt0 {
  padding-top: 0 !important;
}
