.console-dashboard {
  position: relative;
  flex-grow: 1;
  font-weight: 500;
  height: 100%;

  .console-contents-inner {
    display: grid;
    gap: 25px;
    grid-template-rows: 120px auto 360px;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 18px;
  }

  &.t--investee .console-contents-inner {
    grid-template-rows: auto auto auto 370px;
    grid-template-columns: 1fr 510px;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
  }
}

.dashboard-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(30, 30, 30, 0.25);
  font-size: 12px;

  &.box1,
  &.box2 {
    grid-row: span 3;
  }

  &.box3 {
    height: 120px;
    padding-top: 22px;
    padding-bottom: 16px;
    background: linear-gradient(270deg, #f0f4fb 0%, rgba(198, 206, 216, 0.5) 100%);

    &::before {
      content: '';
      position: absolute;
      inset: 0 0 0 auto;
      width: 150px;
      background: url(../image/img/bg_dashboard_book.png) no-repeat right 47px center;
    }
  }

  &.box5 {
    background: #b2c5ff80;

    .dashboard-list li {
      background-color: #fff;
    }
  }
}

.dashboard-box.box5-2 .dashboard-list,
.dashboard-list.service-type-list {
  flex-direction: row;
  margin-top: 10px;

  li {
    flex: 1 0;
    background-color: #fbfafa;

    &.c--request:hover {
      background-color: #f3f6ff;
    }

    &.c--submit:hover {
      background-color: #fff5f5;
    }
  }

  .label-contained {
    height: 30px;
    min-width: 78px;
  }

  .tit-lg {
    padding-right: 20px;
    word-break: keep-all;
  }

  .company {
    margin-top: 10px;
    // margin-bottom: 10px;
  }

  .link-short {
    position: static;
    margin-top: auto;
    gap: 12px;
  }
}

.dashboard-list.service-type-list {
  min-height: 250px;
}

// investee
.dashboard-investee {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.dashboard-info {
  flex-direction: row;
  padding: 20px 30px;

  .list {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: -3px 0;

    li {
      display: flex;
      align-items: center;
      gap: 32px;
      font-size: 18px;
    }
  }

  .name {
    color: var(--c-primary);
    font-size: 14px;
    font-weight: 600;
  }

  .btn-more {
    margin-left: auto;
  }
}

.dashboard-dategrid {
  flex-shrink: 0;

  .tabmenu-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.dashboard-runway {
  flex-grow: 1;
  gap: 10px;
  background: var(--c-primary) url(../image/img/bg_dashboard_runway.png) no-repeat center center / cover;
  color: #fff;
  font-weight: 400;
  max-height: 190px;

  .font-h2 {
    color: inherit;
    font-weight: 500;
  }

  .dashboard-tit small {
    font-weight: 300;
  }

  .btn-more {
    color: inherit;
  }

  .desc {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 25px;
    font-weight: 600;

    em {
      font-size: 31px;
      font-weight: 600;
    }

    small {
      font-size: 18px;
      padding-top: 3px;
      margin-left: 5px;
    }
  }

  .list-wrap {
    display: flex;
    align-items: flex-end;
  }

  .comment {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #bfd2ed;
    color: #333;
    font-size: 12px;
    font-weight: 500;
  }

  .list {
    display: flex;
    margin-top: 15px;
    // gap: 90px;
    // margin-top: 20px;

    li {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 18px;
      white-space: nowrap;
      padding-right: 70px;

      &:not(:first-of-type) {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        padding-left: 70px;
      }
    }

    .name {
      font-size: 14px;
    }

    em {
      font-weight: 600;
    }
  }
}

.dashboard-panel {
  display: flex;
  gap: 20px;

  .dashboard-box {
    flex: 1;
    align-items: center;
    text-align: center;
    gap: 6px;
    padding: 18px 20px 15px;
    box-shadow: 0px 0px 4px 0px rgba(30, 30, 30, 0.5);
  }

  small {
    font-size: 10px;
  }

  .table-datagrid {
    td,
    th {
      height: 48px;
    }

    td {
      background: transparent !important;
    }
  }

  .tabmenu-filter {
    margin-bottom: 12px;
  }
}

.panel-progress {
  flex-grow: 1;
  display: flex;
  gap: 15px;
  width: 100%;
}

.panel-progress-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 18px;
  font-size: 18px;
  font-weight: 600;

  em {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
  }

  .unit {
    font-size: 18px;
    color: var(--c-black);
    margin-right: -1em;
  }
}

.panel-progress-bar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 10px;
  font-size: 10px;
  white-space: nowrap;

  .unit {
    display: inline-block;
    color: #999;
    height: 16px;
  }
}

.panel-progress-list {
  display: table;
  width: 100%;

  li {
    display: table-row;

    & > * {
      display: table-cell;
      height: 22px;
    }
  }

  .bar-wrap {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .bar-bg {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #e5e5e5;
    overflow: hidden;
  }

  .bar {
    height: 100%;
    border-radius: 5px;
    background-color: #999;
  }

  .current .bar {
    background-color: var(--c-secondary);
  }

  em {
    font-weight: 600;
  }

  .value {
    text-align: right;
  }
}

.dashboard-chat {
  grid-row: span 3;
  flex-direction: row;
  gap: 0;
  padding: 0;

  .dashboard-scroll > * {
    inset: 0;
    overflow-y: auto;
    padding-right: 0;
  }

  --tit-h: 90px;
}

.dashboard-chat-nav {
  display: flex;
  flex-direction: column;
  width: 160px;
  padding-left: 20px;
  border-right: 1px solid #e5e5e5;

  .dashboard-tit {
    height: var(--tit-h);
    margin-top: 0;
    padding-bottom: 20px;
  }

  .chat-group {
    display: flex;
    flex-direction: column;
    gap: 24px;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 14px 0;
      border-bottom: 1px solid #e5e5e5;

      &::before {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fb7d5b;
      }
    }

    .chat-investee li::before {
      background-color: var(--c-success);
    }

    .chat-invest,
    .chat-investee {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-bottom: 20px;
    }
  }

  .group {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 14px;
    color: #979797;
    padding-right: 1em;
    word-break: keep-all;
  }

  .chat-btn-refresh {
    padding: 5px 8px;
    .badge {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      padding-bottom: 2px;
      border-radius: 50%;
      background-color: var(--c-error);
      color: #fff;
      font-size: 10px;
    }
  }
}

.dashboard-chat-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .chat-name {
    display: flex;
    align-items: center;
    gap: 16px;
    height: var(--tit-h);
    padding: 17px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 20px;
    color: #303972;
    font-weight: 700;
  }

  .lavel-invest,
  .lavel-investee {
    width: 36px;
    height: 36px;
    font-size: 18px;
  }

  .chat-msg {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .chat-msg-date {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    background-color: rgba(237, 241, 255, 0.8);
    margin: 20px 0;

    .date {
      display: flex;
      align-items: center;
      height: 20px;
      padding: 0 15px;
      border-radius: 20px;
      background-color: rgba(237, 241, 255, 0.8);
      font-size: 10px;
    }
  }

  .chat-msg-speaker {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &.t--other {
      margin-right: 60px;
      align-items: flex-start;

      .chat-bubble {
        margin-right: auto;
        border-bottom-left-radius: 0;
      }
    }
    &.t--our {
      margin-left: 60px;
      align-items: flex-end;

      .chat-bubble {
        margin-left: auto;
        background-color: var(--c-secondary);
        color: #fff;
        font-weight: 300;
        border-bottom-right-radius: 0;
      }

      .speaker {
        flex-direction: row-reverse;
      }
    }
  }

  .chat-bubble {
    padding: 14px 20px;
    border-radius: 22px;
    background-color: #f5f5f5;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
  }

  .chat-date {
    margin-top: -6px;
    padding: 0 10px;
    font-size: 10px;
    color: #a098ae;
  }

  .speaker {
    display: flex;
    align-items: center;
    gap: 8px;

    &::before {
      content: '';
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: #fb7d5b;
    }

    &.t--investee::before {
      background-color: var(--c-success);
    }
  }
}

.chat-enter {
  padding: 11px 18px;
  border-top: 1px solid #e5e5e5;
}

.chat-enter-box {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 36px;
  padding: 4px 4px 4px 14px;
  border-radius: 36px;
  border: 1px solid #eeeeee;
  overflow: hidden;
  transition: border-color 0.2s;

  .input-chat {
    flex-grow: 1;
    height: 100%;
    border: 0;
    outline: 0;
  }

  &:has(.input-chat:focus) {
    border-color: var(--c-secondary);
  }
}

.dashboard-tit {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: -4px;

  .btn-more {
    margin-left: auto;
  }

  small {
    margin: auto 0 2px 10px;
    font-weight: 400;
  }
}

.dashboard-scroll {
  position: relative;
  flex-grow: 1;

  & > * {
    position: absolute;
    inset: 0 -7px 0 0;
    overflow-y: scroll;
    padding-right: 2px;
    display: flex;
    flex-direction: column;
  }
}

.dashboard-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 10px;

  li {
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 18px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    transition: border-color 0.2s;

    &:hover {
      border-color: var(--c-secondary);
    }

    &.c--request {
      gap: 10px;

      &:hover {
        border-color: var(--c-secondary);
      }
    }

    &.c--submit {
      gap: 10px;

      &:hover {
        border-color: var(--c-error);
      }

      .label-contained {
        background-color: var(--c-error);
      }

      .link-short {
        color: var(--c-error);
      }
    }

    &.rows {
      flex-direction: row;
      justify-content: space-between;

      .rows-item {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

        &:last-child {
          align-items: flex-end;
        }
      }
    }

    &.empty {
      margin: auto;
      padding-top: 100px;
      border: none !important;
      background: url(../image/img/img_empty.png) no-repeat 40% top !important;
      font-size: 14px;
      text-align: center;
    }
  }

  .underline {
    padding-top: 5px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      inset: auto 0 0 0;
      background-color: rgba(0, 0, 0, 0.1);
      height: 5px;
    }
  }

  .grade {
    width: 100%;
    min-width: 125px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    em {
      flex-grow: 1;
      padding-left: 20px;
      margin-right: auto;
      font-size: 26px;
      font-weight: 700;
      color: var(--c-black);

      &.s--sm {
        font-size: 20px;
      }
    }
  }

  .grade-icon {
    display: inline-flex;
    align-items: center;
  }

  .tit {
    font-size: 16px;
  }

  .tit-lg {
    font-size: 20px;
    color: var(--c-black);
  }

  .company {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #575656;
    font-weight: 600;
  }

  .date {
    color: #999;
    font-size: 12px;
  }

  .link-short {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

  .tit-tooltip {
    display: flex;
    align-items: center;
    gap: 5px;

    .tit-lg {
      padding-right: 0;
    }

    .tooltip-box {
      white-space: wrap;
    }
  }

  .desc {
    font-size: 12px;
    color: #666;
    font-weight: 500;
  }
}

.dashboard-graph {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-graph-tit {
  margin-top: 25px;
  text-align: center;
}

.dashboard-summary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;

  .list {
    height: 23px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    border-radius: 23px;
    background-color: #e5e5e5;
    font-size: 12px;
    font-weight: 500;

    em {
      font-size: 14px;
    }

    li {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .date {
    font-size: 12px;
    margin-right: auto;
  }
}

.dashboard-list-empty {
  flex: 1;
  background: url(../image/img/img_empty.png) no-repeat center center;
}

//////////////////// new
.dashboard-sub {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;

  .dashboard-panel {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--c-border2);

    &.grid-3 {
      grid-column: span 3;
    }
    &.grid-4 {
      grid-column: span 4;
    }
    &.grid-6 {
      grid-column: span 6;
    }
    &.row-2 {
      grid-row: span 2;
      min-height: 600px
    }

    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    ::-webkit-scrollbar-track {
      background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
      border: 1px solid #fff;
      border-radius: 5px;
      background-color: #e4e4e4;
    }

    &:has(.table-sticky),
    &:has(.grade-list-wrap) {
      padding-bottom: 0;
    }
  }

  .panel-title {
    display: flex;
    align-items: center;

    .btn-more {
      margin-left: auto;
      margin-right: -8px;
      height: 25px;

      .icon-comm {
        transform: scale(1.2);
      }
    }

    .unit {
      font-size: 13px;
      color: #75757a;
      font-weight: 400;
      padding-left: 4px;
    }
  }

  .panel-cont {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .date {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: auto;
      color: var(--c-gray3);
      font-size: 13px;
    }

    .chart {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 166px;
    }

    .grade {
      display: inline-flex;
      height: 45px;
      align-items: center;
      gap: 8px;
      font-size: 16px;
    }

    .table-header {
      min-height: unset;
    }
    
    .table-datagrid td {
      padding: 0 4px
    }
  }

  &.grid-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

.grade-sort {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  .icon-comm {
    padding-top: 2px;
    font-size: 11px;
  }
}

.grade-label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  height: 24px;
  border-radius: 24px;
  padding: 0 8px;
  font-size: 13px;
  white-space: nowrap;

  &::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: currentColor;
  }

  &.g--normal {
    border: 1px solid #cdeedf;
    background-color: #eaf7f1;
  }
  &.g--defer {
    border: 1px solid #ffe9b3;
    background-color: #fff7e0;
  }
  &.g--observe {
    border: 1px solid #ffd8c2;
    background-color: #fff1e8;
  }
  &.g--warn {
    border: 1px solid #ffd6da;
    background-color: #ffedee;
  }
}

// 정상
.g--normal {
  color: #35a785 !important;
}

// 유보
.g--defer {
  color: #d9a636 !important;
}

// 관찰
.g--observe {
  color: #d96826 !important;
}

// 주의
.g--warn {
  color: #e14b5f !important;
}

// 주의
.g--active {
  color: var(--c-primary) !important;
}

.desc-info {
  display: flex;
  gap: 4px;
  font-size: 13px;
  color: var(--c-gray1);
  line-height: 1.4;

  .icon-comm {
    margin-bottom: auto;
  }

  em {
    color: var(--c-black);
  }
}

.runway-container {
  padding: 32px;
  border-radius: 8px;
  border: 1px solid #e8e8eb;
  background-color: #f9f9f9;

  .runway-cont {
    flex-direction: column;
    gap: 16px;

    .desc {
      width: auto;
      align-self: flex-start;
    }

    .list {
      background-color: #fff;
    }
  }
}

.runway-cont {
  flex-grow: 1;
  display: flex;

  .title {
    display: flex;
    align-items: center;
    gap: 4px;
    small {
      font-size: 13px;
      font-weight: 400;
      color: #75757a;
    }
  }

  .desc {
    align-self: center;
    width: 224px;
    font-size: 24px;
    line-height: 1.3;

    small {
      font-size: 16px;
      color: var(--c-gray1);
    }
  }

  .list {
    flex-grow: 1;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: var(--c-gray4);
    font-size: 14px;

    li {
      display: flex;
      justify-content: space-between;
      padding: 6px 0;

      &:first-of-type {
        padding-bottom: 14px;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--c-border2);
      }
    }

    small {
      font-size: 14px;
      font-weight: 400;
      padding-left: 3px;
    }

    em {
      display: flex;
      align-items: center;
      font-size: 20px;
    }
  }
}

.chart-legend {
  display: flex;
  gap: 16px;
  font-size: 14px;
  color: var(--c-gray1);
  font-weight: 500;

  li {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .bullet {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #b1b1b4;
  }
}

.panel-title,
.table-header {
  .chart-legend {
    margin-left: auto;
  }
}

.grade-list-wrap {
  position: relative;
  flex-grow: 1;

  .grade-list {
    position: absolute;
    inset: 0;
    overflow-y: auto;
    padding-bottom: 12px;

    margin-right: -5px;
    padding-right: 5px;
  }
}

.grade-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;

  li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border: 1px solid var(--c-border2);
    border-radius: 8px;
  }

  .tit {
    flex-grow: 1;
  }

  .grade {
    min-width: 110px;
    height: auto !important;
    font-size: 13px !important;
  }

  .grade-sort {
    font-weight: 700;
  }
  
  .rating {
    min-width: 35px;
  }
}
