.monitoring-wrap {
  display: flex;
  gap: 22px;

  &.gap-st2 {
    gap: 77px;
  }
}

.al--column {
  flex-direction: column;
  gap: 35px;
}

.monitoring-root {
  flex: 1;
  display: flex;
  flex-direction: column;

  .searchbox-root {
    margin-bottom: 10px;
  }

  .searchbox-chips {
    margin-top: -5px;
  }

  .cont-headline-sub {
    margin-top: 15px;
  }
}

.monitoring-header {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  margin-bottom: 8px;
  padding: 0 2px;
  font-size: 12px;
  color: var(--c-gray2);

  .utils {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

.monitoring-box {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.monitoring-graph {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monitoring-autobox-wrapper {
  position: relative;
  flex-grow: 1;
}

.monitoring-autobox {
  position: absolute;
  inset: 0;
  display: flex;

  .table-sticky {
    max-height: unset;
    flex-grow: 1;
  }
}

.monitoring-cont {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 40px;

  .monitoring-graph {
    flex-grow: 0;
    margin-top: auto;
  }
}

.monitoring-ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px;
  border: 2px solid var(--c-secondary);
  border-radius: 12px;
  box-shadow: 0px 0px 4px 0px #00000040;
  background-color: #f3f6ff;
  font-size: 14px;

  small {
    font-size: 12px;
  }

  .grade {
    margin-bottom: 10px;
  }
}
