@charset "UTF-8";

// 공통
@import '../font/pretendard/pretendardvariable.css';
@import './base/normalize';
@import './base/mixin';
@import './base/variable';
@import './base/animations';
@import './base/default';

// vendor
// @import "./vendors/swiper.min";
// @import "./vendors/tippy/light-border";
// @import "./vendors/tippy/notify";
// @import "./vendors/tippy/popmenu";

// 컴포넌트
@import './components/color';
@import './components/font';
@import './components/textfield';
@import './components/button';
@import './components/checkbox';
@import './components/icon';
@import './components/combobox';
@import './components/pagenation';
@import './components/modal';
@import './components/tab';
@import './components/tooltip';
@import './components/datepicker';
@import './components/searchbox';

// 레이아웃 구성요소
// @import "./partials/grid";
// @import "./partials/header";
// @import "./partials/footer";
// @import "./partials/sidebar";

// 페이지
