@charset "UTF-8";

// 공통
@import '../font/pretendard/pretendardvariable.css';
@import './base/normalize';
@import './base/mixin';
@import './base/variable';
@import './base/animations';
@import './base/default';

// vendor
@import "./vendors/swiper.min";
// @import "./vendors/tippy/light-border";
// @import "./vendors/tippy/notify";
// @import "./vendors/tippy/popmenu";

// 컴포넌트
@import './components/color';
@import './components/font';
@import './components/textfield';
@import './components/filefield';
@import './components/button';
@import './components/radio';
@import './components/checkbox';
@import './components/icon';
@import './components/combobox';
@import './components/pagenation';
@import './components/modal';
@import './components/tab';
@import './components/tooltip';
@import './components/datepicker';
@import './components/searchbox';
@import './components/label';
@import './components/table';
@import './components/switch';
@import './components/card';

// 레이아웃 구성요소
@import './partials/layout';
@import './partials/header';
@import './partials/sidebar';
@import './partials/footer';

// 페이지
@import './contents/common';
@import './contents/monitoring';
@import './contents/dashboard';
@import './contents/landing';
@import './contents/board';
