<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>크레디뷰 Design System - layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/Mobile/css/designsystem-m.css" />
    <style></style>
  </head>
  <body>
    <div class="comp-inner-root">
      <div class="comp-top">
        <h2 class="comp-pagetitle">Footer</h2>
        <p class="comp-pagetitle-desc">Landing 및 로그인화면 footer</p>
        <button type="button" class="comp-btn-code" onclick="openCode()">
          Code View
        </button>
      </div>

      <div id="compContents">
        <section class="comp-section">
          <h3 class="comp-objtitle">footer theme : landing</h3>

          <!-- sub-ver class="t--white" -->
          <footer class="SOLFooter-root t--dark">
            <div class="SOLFooter-inner">
              <div class="inquery-for-use">
                <h3 class="tit">이용문의</h3>
                <span class="inquery-number">1660-3832</span>
                <ul class="inquery-for-list">
                  <li>
                    <span class="title">운영시간</span>
                    <span class="txt"
                      >평일 09:00~18:00, 점심시간 12:00~13:00</span
                    >
                  </li>
                  <li>
                    <span class="title">이메일</span>
                    <span class="txt">support@techfinratings.com</span>
                  </li>
                </ul>
              </div>

              <div class="SOLFooter-utils">
                <p class="person-info">
                  <a href="#">신용평가체계</a>
                  <a href="#">개인정보처리방침</a>
                </p>

                <div class="SOLFooter-dropbox">
                  <div class="SOLFooter-dropbox-inner">
                    <button type="button" class="SOLFooter-dropbox-btn">
                      Family Site
                    </button>
                    <ul>
                      <li>
                        <a href="https://techfinratings.com" target="_blank"
                          >Techfin ratings</a
                        >
                      </li>
                      <li><a href="" target="_blank">WEHAGO</a></li>
                      <li><a href="" target="_blank">Amaranth 10</a></li>
                      <li><a href="" target="_blank">OmniEsol</a></li>
                      <li>
                        <a href="" target="_blank">매출채권팩토링 플랫폼</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="sns-link">
                  <ul class="sns-list">
                    <li class="blog">
                      <a href="#">
                        <img
                          src="/static/Common/image/icon/ic_sns_blog.svg"
                          alt="blog"
                        />
                        <span class="blind">블로그</span>
                      </a>
                    </li>
                    <li class="kakao">
                      <a href="#">
                        <img
                          src="/static/Common/image/icon/ic_sns_kakao.svg"
                          alt="kakao"
                        />
                        <span class="blind">카카오</span>
                      </a>
                    </li>
                    <li class="fb">
                      <a href="#">
                        <img
                          src="/static/Common/image/icon/ic_sns_facebook.svg"
                          alt="facebook"
                        />
                        <span class="blind">페이스북</span>
                      </a>
                    </li>
                    <li class="youtube">
                      <a href="#">
                        <img
                          src="/static/Common/image/icon/ic_sns_youtube.svg"
                          alt="youtube"
                        />
                        <span class="blind">유튜브</span>
                      </a>
                    </li>
                  </ul>
                  <a href="#" class="pc-v">PC버전</a>
                </div>
              </div>

              <div class="SOLFooter-bottom">
                <h3 class="footer-logo">
                  <span class="blind">테크핀레이팅스</span>
                </h3>
                <div class="SOLFooter-address">
                  <p>
                    (주)테크핀레이팅스 | 사업자등록번호 2024-서울중구-1794대
                  </p>
                  <p>대표 옥형석 | 통신판매업신고 024-서울중구-1794</p>
                  <p>대표전화 1660-3832 | 이메일 service@techfinratings.com</p>
                  <p class="copyright">
                    Copyright © DOUZONE BIZON. All rights reserved.
                  </p>
                </div>
              </div>
            </div>
          </footer>
        </section>

        <section class="comp-section">
          <h3 class="comp-objtitle">footer theme : login</h3>

          <!-- sub-ver class="t--white" -->
          <footer class="SOLFooter-root t--white">
            <div class="SOLFooter-inner">
              <div class="inquery-for-use">
                <h3 class="tit">이용문의</h3>
                <span class="inquery-number">1660-3832</span>
                <ul class="inquery-for-list">
                  <li>
                    <span class="title">운영시간</span>
                    <span class="txt"
                      >평일 09:00~18:00, 점심시간 12:00~13:00</span
                    >
                  </li>
                  <li>
                    <span class="title">이메일</span>
                    <span class="txt">support@techfinratings.com</span>
                  </li>
                </ul>
              </div>

              <div class="SOLFooter-utils">
                <p class="person-info">
                  <a href="#">신용평가체계</a>
                  <a href="#">개인정보처리방침</a>
                </p>

                <div class="SOLFooter-dropbox">
                  <div class="SOLFooter-dropbox-inner">
                    <button type="button" class="SOLFooter-dropbox-btn">
                      Family Site
                    </button>
                    <ul>
                      <li>
                        <a href="https://techfinratings.com" target="_blank"
                          >Techfin ratings</a
                        >
                      </li>
                      <li><a href="" target="_blank">WEHAGO</a></li>
                      <li><a href="" target="_blank">Amaranth 10</a></li>
                      <li><a href="" target="_blank">OmniEsol</a></li>
                      <li>
                        <a href="" target="_blank">매출채권팩토링 플랫폼</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="sns-link">
                  <ul class="sns-list">
                    <li class="blog">
                      <a href="#">
                        <img
                          src="/static/image/icon/ic_sns_blog.svg"
                          alt="blog"
                        />
                        <span class="blind">블로그</span>
                      </a>
                    </li>
                    <li class="kakao">
                      <a href="#">
                        <img
                          src="/static/image/icon/ic_sns_kakao.svg"
                          alt="kakao"
                        />
                        <span class="blind">카카오</span>
                      </a>
                    </li>
                    <li class="fb">
                      <a href="#">
                        <img
                          src="/static/image/icon/ic_sns_facebook.svg"
                          alt="facebook"
                        />
                        <span class="blind">페이스북</span>
                      </a>
                    </li>
                    <li class="youtube">
                      <a href="#">
                        <img
                          src="/static/image/icon/ic_sns_youtube.svg"
                          alt="youtube"
                        />
                        <span class="blind">유튜브</span>
                      </a>
                    </li>
                  </ul>
                  <a href="#" class="pc-v">PC버전</a>
                </div>
              </div>

              <div class="SOLFooter-bottom">
                <h3 class="footer-logo">
                  <span class="blind">테크핀레이팅스</span>
                </h3>
                <div class="SOLFooter-address">
                  <p>
                    (주)테크핀레이팅스 | 사업자등록번호 2024-서울중구-1794대
                  </p>
                  <p>대표 옥형석 | 통신판매업신고 024-서울중구-1794</p>
                  <p>대표전화 1660-3832 | 이메일 service@techfinratings.com</p>
                  <p class="copyright">
                    Copyright © DOUZONE BIZON. All rights reserved.
                  </p>
                </div>
              </div>
            </div>
          </footer>
        </section>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // 푸터 패밀리사이트 토글 버튼 클릭 이벤트
        const dropboxBtn = document.querySelector(".SOLFooter-dropbox-btn");
        const footerInnerWrap = document.querySelector(
          ".SOLFooter-dropbox-inner"
        );
        const dropboxLinks = document.querySelectorAll(
          "footer.SOLFooter-root .SOLFooter-utils .SOLFooter-dropbox a"
        );

        dropboxBtn.addEventListener("click", function (e) {
          e.stopPropagation();
          footerInnerWrap.classList.toggle("on");
        });

        // 푸터 패밀리사이트 링크 클릭 시 on 클래스 제거
        dropboxLinks.forEach((link) => {
          link.addEventListener("click", function () {
            footerInnerWrap.classList.remove("on");
          });
        });

        // body의 다른 영역 클릭 시 on 클래스 제거
        document.addEventListener("click", function (e) {
          // 클릭된 요소가 dropboxBtn 또는 footerInnerWrap 내부가 아닌 경우
          if (!footerInnerWrap.contains(e.target) && e.target !== dropboxBtn) {
            footerInnerWrap.classList.remove("on");
          }
        });
      });
    </script>
    <!-- code view -->
    <script src="/src/app/designsystem/js/highlight.min.js"></script>
    <script src="/src/app/designsystem/js/go.min.js"></script>
    <script src="/src/app/designsystem/js/codeview.js"></script>
    <script>
      hljs.highlightAll();
    </script>

    <!-- component js -->
    <script src="/src/app/designsystem/js/popper.min.js"></script>
    <script src="/src/app/designsystem/js/tippy-bundle.umd.js"></script>
    <script src="/src/app/designsystem/js/custom.js"></script>
  </body>
</html>
