@charset "UTF-8";
.dashborad-wrap {
  padding: 20px 0px;
  box-sizing: border-box;
  ul.dashboard-component {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    li {
      width: 33%;
      background: #fff;
      border: solid 1px #edeff2;
      border-radius: 16px;
      padding: 30px 40px;
      &.today {
        padding: 0px 0px;
        border: solid 2px #5375e7;
        .date-box {
          background-color: #5375e7;
          color: #fff;
          padding: 30px 0 20px 0;
          border-radius: 13px 13px 0px 0px;
          span {
            &.date-tit {
              color: #fff;
            }
            &.date {
              color: #fff;
              opacity: 0.6;
            }
          }
        }
        .list-box {
          padding: 40px 40px;
        }
      }
      .date-box {
        padding: 0px 0 20px 0;
        border-bottom: solid 1px #3c3c430d;
        border-radius: 12px;
        span {
          display: block;
          text-align: center;
          &.date-tit {
            font-size: 26px;
            font-weight: 700;
            color: #222;
            text-align: center;
          }
          &.date {
            padding-top: 5px;
            font-size: 14px;
            font-weight: 400;
            color: #8b8b8f;
          }
        }
      }

      .list-box {
        padding: 40px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 32px;
        dd {
          &.first {
            .inner-con {
              .tit-box {
                position: relative;
                padding: 9px 0 0 65px;
                &::before {
                  content: "";
                  width: 52px;
                  height: 52px;
                  background: url(../imgs/ico/dashboard-ico01.png) no-repeat
                    center;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
          }
          .inner-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            .tit-box {
              position: relative;
              padding: 19px 0 0 65px;
              &::before {
                content: "";
                width: 52px;
                height: 52px;
                background: url(../imgs/ico/dashboard-ico01.png) no-repeat
                  center;
                position: absolute;
                top: 0;
                left: 0;
              }
              span {
                display: block;
                &.tit {
                  font-size: 17px;
                  font-weight: 700;
                  color: #222222;
                }
                &.sub-txt {
                  em {
                    font-size: 13px;
                    font-weight: 400;
                    color: #7b7b7b;
                    display: inline-block;
                    padding: 0 8px 0 0;
                    position: relative;
                    &::before {
                      content: "";
                      width: 2px;
                      height: 2px;
                      background: #7b7b7b;
                      border-radius: 100%;
                      position: absolute;
                      top: 7px;
                      right: 0;
                    }
                    &:last-child::before {
                      content: none;
                    }
                  }
                }
              }
            }
            .num {
              span {
                display: block;
                font-size: 23px;
                font-weight: 700;
                text-align: right;
                em {
                  font-size: 17px;
                }
              }
              .compare-to-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 3px;
                position: absolute;
                top: 47px;
                width: auto;
                right: 0;
                em {
                  display: inline-block;
                  &.compare-to-tit {
                    font-size: 13px;
                    font-weight: 400;
                    color: #7b7b7b;
                  }
                  &.number {
                    font-size: 17px;
                    font-weight: 700;
                    color: #fc4c60;
                    position: relative;
                    padding: 0 0 0 20px;
                  }
                  &.month-count {
                    position: relative;
                    &::before {
                      content: "";
                      width: 8px;
                      height: 6px;
                      background: url(../imgs/ico/compare-up-ico.png) no-repeat
                        center;
                      position: absolute;
                      top: 7px;
                      left: 10px;
                    }
                  }
                  &.month-count-down {
                    position: relative;
                    &::before {
                      content: "";
                      width: 8px;
                      height: 6px;
                      background: url(../imgs/ico/compare-up-ico.png) no-repeat
                        center;
                      position: absolute;
                      top: 7px;
                      left: 10px;
                      transform: rotate(180deg);
                    }
                  }
                }
              }
            }
          }
          &:nth-child(2) {
            .inner-con {
              .tit-box {
                position: relative;
                &::before {
                  content: "";
                  background: url(../imgs/ico/dashboard-ico02.png) no-repeat
                    center;
                }
              }
            }
          }
          &.two {
            .inner-con {
              .num {
                padding-top: 20px;
              }
            }
          }
          &:last-child {
            .inner-con {
              .tit-box {
                position: relative;
                &::before {
                  content: "";
                  background: url(../imgs/ico/dashboard-ico03.png) no-repeat
                    center;
                }
              }
            }
          }
          &.three {
            .inner-con {
              .num {
                padding-top: 20px;
              }
            }
          }
        }
      }
    }
  }
  .cumulative-component {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 30px;
    box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.06);
    li {
      width: 33.333%;
      position: relative;
      &::before {
        content: "";
        width: 1px;
        height: 100%;
        background-color: #e6e6e6;
        position: absolute;
        top: 0;
        right: 0;
      }
      &:nth-child(2) {
        padding: 0 0 0 15px;
        .box {
          p {
            &.ico {
              &::before {
                content: "";
                background: url(../imgs/ico/dashboard-ico05.png) no-repeat
                  center;
              }
            }
          }
        }
      }
      &:last-child {
        &::before {
          content: none;
        }
      }
      .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        p {
          padding: 0 20px 10px 20px;
          &.ico {
            padding: 5px 20px 10px 65px;
            position: relative;
            &::before {
              content: "";
              width: 52px;
              height: 52px;
              background: url(../imgs/ico/dashboard-ico04.png) no-repeat center;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
          span {
            display: inline-block;
            &.md-tit {
              font-size: 17px;
              font-weight: 700;
            }
            &.md-count {
              display: block;
              font-size: 23px;
              font-weight: 700;
              em {
                display: inline-block;
                font-size: 16px;
              }
            }
            &.sm-tit {
              font-size: 14px;
            }
            &.sm-count {
              font-size: 14px;
            }
          }
          &:last-child {
            padding-bottom: 0px;
          }
        }
      }
      &.total {
        .box {
          padding: 5px 20px 0 20px;
          display: block;
          p {
            display: flex;
            justify-content: space-between;
            padding: 0px 0px 0 20px;
            position: relative;
            &::before {
              content: "";
              width: 3px;
              height: 3px;
              background: #333;
              border-radius: 100%;
              position: absolute;
              top: 7px;
              left: 9px;
            }
            &:last-child {
            }
          }
        }
      }
    }
    &.payment-type {
      li {
        .box {
          p {
            &.ico {
              &::before {
                content: none;
              }
            }
          }
          .right {
            em {
              color: #fc4c60;
            }
          }
        }
      }
    }
  }
  .infor-txt {
    font-size: 12px;
    font-weight: 400;
    padding: 10px 0 0 0;
    text-align: right;
    color: #7b7b7b;
  }
}
