.sp_rnb{display:inline-block;overflow:hidden;background:url(/imgs/common/sp_rnb.png) 0 0 no-repeat;line-height:100em;vertical-align:top}

.rnbset_tit h2{font-size:15px;font-weight:200}
.rnbset_tit h2 .sp_lux{width:7px;height:7px;margin:5px 0 0 5px;background-position:-25px -150px}
.rnbset_bx ul:first-child{margin-top:0}
.rnbset_bx .titbx h3{line-height:27px;font-weight:200}
.rnbset_bx .dateinfo{display:inline-block;margin-top:4px;font-size:12px;font-family:'돋움',Dotum;line-height:16px;color:#000;letter-spacing:-.5px}
.rnbset_bx .rnbset_btnbx{position:relative}
.rnbset_bx .rnbset_btnbx .btnbx{position:absolute;top:0;right:0}
.rnbset_bx .rnbset_btnbx .titbx{position:absolute;top:0;left:0}
.rnbset_bx .btnbx_v1{padding-right:29px}
.rnbset_bx .btnbx_v2{padding:0 47px 0 38px}
.rnbset_bx .btnbx_v3{padding-right:62px}
.rnbset_bx .distbl{margin-top:6px}
.rnbset_bx .distbl > li{padding:0 4px 0 0;vertical-align:top}
.rnbset_bx .distbl > li:last-child{padding:0}
.rnbset_bx .distbl .datebx{width:100%}
.rnbset_bx .distbl .timebx{width:100%}
.rnbset_bx .ulflt{margin-top:6px}
.rnbset_bx .ulflt > li{padding:0 4px 0 0}
.rnbset_bx .ulflt > li:last-child{padding:0}
.rnbset_bx .ulflt .LUX_basic_select{width:100px}
.rnbset_bx .ulflt .LUX_basic_switch{margin-left:2px;line-height:27px}
.rnbset_bx .ulflt .LUX_basic_switch label{line-height:27px}
.rnbset_bx .ulfltrgt{margin-top:6px}
.rnbset_bx .floating{float:left;margin-right:2px}
.rnbset_bx .floating+.LUX_basic_text{overflow:hidden;margin-left:2px}
.rnbset_bx .LUX_basic_switch+.LUX_basic_switch{margin-left:15px}
.rnbset_bx .LUX_basic_select+.LUX_basic_submit{margin-top:4px}
.LUX_basic_btn.btn_view_noti .ico{position:absolute;top:50%;left:50%;display:inline-block;width:2px;height:2px;margin-left:-1px;margin-top:-1px;background-color:#666}
.LUX_basic_btn.btn_view_noti .ico:before,
.LUX_basic_btn.btn_view_noti .ico:after{position:absolute;width:2px;height:2px;background-color:#666;content:''}
.LUX_basic_btn.btn_view_noti .ico:before{left:-4px}
.LUX_basic_btn.btn_view_noti .ico:after{right:-4px}
.rnbin{position:relative}
.rnbin .LUX_basic_tbl{margin-top:20px}
.rnbin .LUX_basic_tbl .active td{background-color:#e9f5ff}
.rnbset_one{display:table;width:100%;padding:14px 0;border-top:1px solid #ccc;table-layout:fixed}
.rnbset_one .rnbset_tit{display:table-cell;width:100px;vertical-align:middle}
.rnbset_one.vertical .rnbset_tit{vertical-align:top}
.rnbset_one .rnbset_bx{display:table-cell}
.rnbset_one .rnbset_bx .fltrgt{letter-spacing:-5px}
.rnbset_one .rnbset_bx .fltrgt .LUX_basic_btn{margin-left:2px;letter-spacing:0}
.rnbset_one .rnbset_bx .titbx{width:38px;padding:0}
.rnbset_one .rnbset_bx .titbx h3{font-size:12px;font-family:'돋움',Dotum;letter-spacing:-.5px}
.rnb_info_item{position:relative;float:left;height:100%;font-size:12px;line-height:32px;color:#4a4a4a}
.rnb_info_item + .rnb_info_item{margin-left:10px;padding-left:10px}
.rnb_info_item + .rnb_info_item:before{position:absolute;top:50%;left:0;width:1px;height:14px;margin-top:-7px;background-color:#4a4a4a;content:''}
.rnb_info_item>em{color:#6f7cb4}
.rnb_info_item .LUX_basic_switch{vertical-align:middle}
.rnb_subtitle{position:relative;height:40px;padding:0 12px;background-color:#f6f6f6}
.rnb_subtitle>h2,
.rnb_subtitle>h3{overflow:hidden;font-size:15px;line-height:40px;color:#000;white-space:nowrap;text-overflow:ellipsis}
.rnb_subtitle.rnb_subtitle_v2{background-color:#edf3f7}
.rnb_subtitle.rnb_subtitle_v3{background-color:transparent}
.rnb_subtitle.rnb_subtitle_v2>h2{font-size:14px;color:#1457b3;letter-spacing:-1px}

.rnbset_accordion{padding:0 0 14px;border-top:1px solid #ccc}
.rnbset_accordion .rnbset_tit{position:relative;min-height:40px}
.rnbset_accordion .rnbset_tit h2{padding:14px 0}
.rnbset_accordion .rnbset_tit .txtaddress{display:block;margin:-10px 0 10px;font-size:13px}
.rnbset_accordion .rnbset_tit .btnbx{position:absolute;top:8px;right:0}
.rnbset_accordion .rnbset_tit .btnbx.linkset{top:50%;margin-top:-8px}
.rnbset_accordion .rnbset_tit .btnbx.linkset a{display:inline-block;position:relative;font-size:12px;color:#7a7a7a;text-decoration:none}
.rnbset_accordion .rnbset_tit .btnbx.linkset a:hover{text-decoration:underline}
.rnbset_accordion .rnbset_tit .btnbx.linkset a+a{padding-left:7px}
.rnbset_accordion .rnbset_tit .btnbx.linkset a+a:before{position:absolute;top:0;left:0;content:'|'}
.rnbset_accordion .rnbset_tit .btn_accordion{width:40px;height:40px;margin:-8px -13px 0 0}
.rnbset_accordion .rnbset_tit .btn_accordion .sp_lux{width:14px;height:8px;margin-top:3px;background-position:0 -250px}
.rnbset_accordion.close .rnbset_tit .btn_accordion .sp_lux{background-position:-25px -250px}
.rnbset_accordion.close .rnbset_bx{display:none}
.rnbset_accordion .rnbset_bx .titbx{width:77px}
.rnbset_accordion .rnbset_bx .titbx h3{position:relative;padding-left:7px;font-size:13px}
.rnbset_accordion .rnbset_bx .titbx h3:after{position:absolute;top:11px;left:0;width:2px;height:2px;background:#585858;content:''}
.rnbset_accordion .rnbset_bx .btnbx_v2{padding-left:100px}
.rnbset_accordion .rnbset_bx .btnbx_v2+.btnbx_v2{margin-top:4px}

.rnbset_bxsend .ulflt{margin-left:1px}
.rnbset_bxsend .ulflt > li{width:25%;padding:0}
.rnbset_bxsend .btn_send{width:100%;height:75px;border:1px solid #e1e1e1;border-width:1px 0;color:#4a4a4a}
.rnbset_bxsend .btn_send:before,.rnbset_bxsend .btn_send:after{position:absolute;top:-1px;bottom:-1px;width:1px;background:#e1e1e1;content:''}
.rnbset_bxsend .btn_send:before{left:-1px}
.rnbset_bxsend .btn_send:after{right:0}
.rnbset_bxsend .btn_send.on,.rnbset_bxsend .btn_send:hover{z-index:10;border-color:#45a4fc;background:#e9f5ff;color:#45a4fc}
.rnbset_bxsend .btn_send.on:before,.rnbset_bxsend .btn_send.on:after,.rnbset_bxsend .btn_send:hover:before,.rnbset_bxsend .btn_send:hover:after{background:#45a4fc}
.rnbset_bxsend .btn_send .sp_rnb{display:block;width:24px;height:24px;margin:0 auto 10px}
.rnbset_bxsend .btn_send .sp_mail{background-position:-25px -27px}
.rnbset_bxsend .btn_send .sp_talk{background-position:-57px -27px}
.rnbset_bxsend .btn_send .sp_note{background-position:-85px -27px}
.rnbset_bxsend .btn_send .sp_sms{background-position:-110px -27px}
.rnbset_bxsend .btn_send.on .sp_mail,.rnbset_bxsend .btn_send:hover .sp_mail{background-position:-137px -27px}
.rnbset_bxsend .btn_send.on .sp_talk,.rnbset_bxsend .btn_send:hover .sp_talk{background-position:-166px -27px}
.rnbset_bxsend .btn_send.on .sp_note,.rnbset_bxsend .btn_send:hover .sp_note{background-position:-194px -27px}
.rnbset_bxsend .btn_send.on .sp_sms,.rnbset_bxsend .btn_send:hover .sp_sms{background-position:-223px -27px}
.rnbset_bxsend .rnbset_btnbx{margin-top:10px;padding-right:78px}
.rnbset_bxsend .rnbset_btnbx .LUX_basic_btn{width:76px}

/* checklist */
.rnbset_bx .checklist_bx{overflow:hidden;position:relative;margin-top:4px;border:1px solid #dbdbdb}
.rnbset_bx .checklist_bx .progress_bx{display:table;overflow:hidden;position:relative;width:100%;padding:7px 0;background:#f9f9f9;table-layout:fixed}
.rnbset_bx .checklist_bx .progress_bx h3{display:table-cell;width:90px;padding-left:10px;font-size:12px;font-weight:normal;color:#1a1a1a}
.rnbset_bx .checklist_bx .progress_bx .check_done{color:#1985fa}
.rnbset_bx .checklist_bx .progress_bx .progressbar_bx{display:table-cell;width:100%;padding-right:10px}
.rnbset_bx .checklist_bx .progress_bx .progressbar_container{overflow:hidden;position:relative;width:100%;height:8px;border-radius:10px;background:#ddd;vertical-align:middle}
.rnbset_bx .checklist_bx .progress_bx .progressbar{display:block;float:left;height:100%;background:#1985fa}
.rnbset_bx .checklist_bx .checklist_item{overflow:hidden;position:relative;padding:3px 10px;border-top:1px solid #dbdbdb}
.rnbset_bx .checklist_bx .checklist_item ul li{position:relative}
.rnbset_bx .checklist_bx .checklist_item .chkbtn_group{position:absolute;top:0;right:0}
.rnbset_bx .checklist_bx .checklist_item .chkbtn_group .sp_rnb{width:12px;height:10px;background-position:0 0;vertical-align:top}
.rnbset_bx .checklist_bx .checklist_item .chkbtn_group .sp_rnb.btncls{width:10px;background-position:-19px 0}
.rnbset_bx .checklist_bx .checklist_item .chkbtn_group button{width:12px;height:17px;border:0 none;background:transparent;cursor:pointer}
.rnbset_bx .checklist_bx .chkitem_input{overflow:hidden;clear:both}
.rnbset_bx .checklist_bx .chkitem_input .LUX_basic_switch{float:left}
.rnbset_bx .checklist_bx .chkitem_input .LUX_basic_switch label{padding-left:8px;text-indent:-1000px}
.rnbset_bx .checklist_bx .chkitem_input .LUX_basic_text{overflow:hidden;padding-right:35px}
.rnbset_bx .checklist_bx .chkitem_input .LUX_basic_text .inpbx{height:17px;padding-top:3px;padding-left:3px}
.rnbset_bx .checklist_bx .chkitem_input .LUX_basic_text .placeholder{padding-top:2px;padding-left:3px}
.rnbset_bx .checklist_bx .chkiem_disabled .LUX_basic_switch{margin-right:45px}
.rnbset_bx .checklist_bx .chkiem_disabled .LUX_basic_switch label{color:#999}
.rnbset_bx .checklist_bx .chkiem_disabled .LUX_basic_switch label:after{position:absolute;top:45%;left:20px;width:100%;border-top:1px solid #999;content:''}

/* 할당자 */
.rnbset_tit .lnkbx{position:absolute;top:50%;right:0;margin-top:-3px}
.rnbset_tit .lnkbx .btnlnk{display:inline-block;position:relative;padding-left:17px;font-size:12px;line-height:16px;color:#828282;text-decoration:none}
.rnbset_tit .lnkbx .btnlnk:before{position:absolute;top:50%;left:0;width:13px;height:14px;margin-top:-8px;background:url(/imgs/common/sp_rnb.png) -42px 0 no-repeat;content:''}
.rnbset_tit .lnkbx.assign .btnlnk{float:right;padding-left:0;line-height:16px}
.rnbset_tit .lnkbx.assign .btnlnk:before{display:none}
.rnbset_tit .lnkbx.assign .btnlnk+.btnlnk{padding-right:13px;color:#6f7cb4}
.rnbset_tit .lnkbx.assign .btnlnk+.btnlnk:after{position:absolute;top:50%;right:5px;width:3px;height:6px;margin-top:-4px;background:url(/imgs/common/sp_rnb.png) -253px 0 no-repeat;content:''}
.rnbset_bx .LUX_basic_submit .result_scrall{border-bottom:1px solid #DCDBDC}
.rnbset_bx .LUX_basic_submit .result_scrall_footer{position:relative;padding:0 10px;border:1px solid #a3a3a3;border-top:0;background:#f6f6f6;text-align:right}
.rnbset_bx .LUX_basic_submit .result_scrall_footer a{font-size:12px;color:#828282;text-decoration:none}
.rnbset_bx .LUX_basic_submit .result_scrall .result_lst li{position:relative}
.rnbset_bx .LUX_basic_submit .result_scrall .result_lst li.on a:after{position:absolute;top:50%;right:10px;width:14px;height:14px;margin-top:-6px;background:url(/imgs/common/sp_rnb.png) -67px 0 no-repeat;content:''}
.rnbset_bx .LUX_basic_submit .result_scrall .result_lst li.on a{padding-right:25px;background:#f5f5f5}

/* 일시 */
.rnbset_bx .localtime{position:relative;padding-right:60px;font-size:12px}
.rnbset_bx .localtime a{position:absolute;top:50%;right:0;margin-top:-7px;color:#1985FA;text-decoration:none}
.rnbset_bx .ulflt .LUX_basic_switch label{padding-left:18px}
.rnbset_bx .repeatbx{clear:both;margin-top:6px}
.rnbset_bx .repeatbx > div[class^=LUX_]{display:inline-block;vertical-align:top}
.rnbset_bx .repeatbx .LUX_basic_select{width:64px}
.rnbset_bx .repeatbx .LUX_basic_text{width:28px}
.rnbset_bx .repeatbx>span{display:inline-block;font-size:12px;line-height:27px;vertical-align:top}
.rnbset_bx .repeatbx .LUX_basic_date .datebx{width:100px}
.rnbset_bx .repeatbx .distbl{margin-top:0}
.rnbset_bx .datebx_move .LUX_basic_select{width:64px}
.rnbset_bx .todo_state li:last-child{line-height:27px}
.rnbset_bx .todo_state .LUX_basic_btn{vertical-align:middle}

/* 첨부파일 */
.rnbset_bx .attachments_bx{overflow:hidden;position:relative;height:160px;border:1px solid #dbdbdb;font-size:13px;color:#4a4a4a;text-align:center}
.rnbset_bx .attachments_bx .file_upload_area{margin:26px 0 21px}
.rnbset_bx .attachments_bx .file_upload_area input[type=file]{overflow:hidden;position:absolute;width:1px;height:1px;padding:0;margin:-1px;clip:rect(0,0,0,0);border:0}
.rnbset_bx .attachments_bx .file_upload_area label,
.rnbset_bx .attachments_bx .search_file{display:inline-block;width:58px;height:58px;background:url(/imgs/common/sp_rnb.png) 0 -64px no-repeat;vertical-align:top}
.rnbset_bx .attachments_bx .search_file{margin-left:6px;background-position:-69px -64px}
.rnbset_bx .attachments_bx.file_attach{color:#64cfe6}
.rnbset_bx .attachments_bx.file_attach p{overflow:hidden;position:relative;margin-top:34px;padding-top:80px}
.rnbset_bx .attachments_bx.file_attach p:after{position:absolute;top:0;left:50%;width:66px;height:66px;margin-left:-33px;background:url(/imgs/common/sp_rnb.png) -134px -64px no-repeat;content:''}
.rnbset_bx .attachments_list{overflow:hidden;position:relative;margin-top:4px;padding:10px;border:1px solid #dbdbdb}
.rnbset_bx .attachments_list li{position:relative;padding-right:35px}
.rnbset_bx .attachments_list li+li{margin-top:10px}
.rnbset_bx .attachments_list li p{font-size:12px;color:#818181}
.rnbset_bx .attachments_list li .btn_group{position:absolute;top:0;right:0}
.rnbset_bx .attachments_list li a{display:block;float:left;width:16px;height:16px;background:url(/imgs/common/sp_rnb.png) 0 0 no-repeat}
.rnbset_bx .attachments_list li a+a{margin-left:8px}
.rnbset_bx .attachments_list li a.btn_download{width:14px;background-position:-173px 1px}
.rnbset_bx .attachments_list li a.btn_del{width:13px;background-position:-195px 0}

/* 일정/댓글 */
.rnbset_bx .memberlist{position:relative;margin-top:4px}
.rnbset_bx .memberlist>p{margin-top:6px;font-size:12px;color:#4a4a4a}
.rnbset_bx .memberlist .listbx{overflow:hidden;overflow-y:auto;position:relative;width:100%;height:151px;border:1px solid #d9d9d9}
.rnbset_bx .memberlist .listbx.nodata p{position:relative;margin-top:40px;padding-top:56px;font-size:14px;color:#ababab;text-align:center}
.rnbset_bx .memberlist .listbx.nodata p:before{position:absolute;top:0;left:50%;width:45px;height:49px;margin-left:-23px;background:url(/imgs/common/sp_rnb.png) -211px -64px no-repeat;content:''}
.rnbset_bx .memberlist .listbx h3{margin-top:4px;padding:0 9px;font-size:14px;color:#000}
.rnbset_bx .memberlist .listbx ul{display:inline-block;overflow:hidden;clear:both}
.rnbset_bx .memberlist .listbx li{float:left;width:55px}
.rnbset_bx .memberlist .listbx li+li{margin-left:4px}
.rnbset_bx .memberlist .listbx li a{display:block;text-decoration:none}
.rnbset_bx .memberlist .vertical_scroll a:first-child{margin-right:20px;padding:8px 0 8px 8px}
.rnbset_bx .memberlist .listbx .profile_pic{text-align:center}
.rnbset_bx .memberlist .listbx .profile_pic img{width:31px;height:31px;border-radius:100px;border:0}
.rnbset_bx .memberlist .listbx .profile_name{margin-top:4px;font-size:11px;color:#000;text-align:center}
.rnbset_bx .memberlist .listbx .profile_email{font-size:11px;color:#000}
.rnbset_bx .memberlist .horizon_scroll{position:relative;margin-top:22px;padding:0 11px;text-align:center}
.rnbset_bx .memberlist .horizon_scroll a[class^=btn_]{display:block;position:absolute;top:0;width:11px;height:48px}
.rnbset_bx .memberlist .horizon_scroll a[class^=btn_]:after{position:absolute;top:50%;width:4px;height:8px;margin-top:-4px;background-image:url(/imgs/common/sp_rnb.png);background-repeat:no-repeat;content:''}
.rnbset_bx .memberlist .horizon_scroll .btn_prev{left:0}
.rnbset_bx .memberlist .horizon_scroll .btn_next{right:0}
.rnbset_bx .memberlist .horizon_scroll .btn_prev:after{right:0;background-position:0 -27px}
.rnbset_bx .memberlist .horizon_scroll .btn_next:after{left:0;background-position:-12px -27px}
.rnbset_bx .memberlist .vertical_scroll ul{display:block}
.rnbset_bx .memberlist .vertical_scroll li{display:table;overflow:hidden;float:none;clear:both;position:relative;width:100%}
.rnbset_bx .memberlist .vertical_scroll li div{display:table-cell}
.rnbset_bx .memberlist .vertical_scroll li+li{margin-left:0;border-top:1px solid #f5f5f5}
.rnbset_bx .memberlist .vertical_scroll .profile_pic{width:31px}
.rnbset_bx .memberlist .vertical_scroll .profile_text{padding-left:8px;vertical-align:middle}
.rnbset_bx .memberlist .vertical_scroll .profile_text>p{max-width:280px;text-align:left}
.rnbset_bx .memberlist .vertical_scroll.attendee .profile_text>p{max-width:250px}
.rnbset_bx .memberlist .vertical_scroll.attendee .noselect .profile_text>p{max-width:150px}
.rnbset_bx .memberlist .vertical_scroll .btndel{position:absolute;top:0;right:0;width:20px;height:100%}
.rnbset_bx .memberlist .vertical_scroll .btndel:after{position:absolute;top:50%;left:50%;width:10px;height:10px;margin-top:-5px;margin-left:-5px;background:url(/imgs/common/sp_rnb.png) -19px 0 no-repeat;content:''}
.rnbset_bx .memberlist .vertical_scroll.attendee li>p{position:absolute;top:50%;right:20px;margin-top:-9px;font-size:13px;line-height:18px;color:#4a4a4a}
.rnbset_bx .memberlist .vertical_scroll.attendee .LUX_basic_btngruop{position:absolute;top:50%;right:10px;z-index:10;margin-top:-12px}
.rnbset_bx .memberlist .vertical_scroll.attendee .LUX_basic_btn.basic2{color:#6f7cb4}
.rnbset_bx .memberlist .vertical_scroll.attendee .LUX_basic_btn.basic2+.basic{border-left:1px solid #6f7cb4}
.rnbset_bx .memberlist .vertical_scroll.attendee .LUX_basic_btn{width:auto;background:#fff}
.rnbset_bx .LUX_basic_submit .result_scrall .result_lst.schedule li.on a:after{display:none}
.rnbset_bx .LUX_basic_submit .result_scrall .result_lst.schedule li a{overflow:hidden;clear:both;padding-right:10px}
.rnbset_bx .LUX_basic_submit .result_scrall .schedule div:first-child{float:left;max-width:206px}
.rnbset_bx .LUX_basic_submit .result_scrall .schedule .teamname{float:right;max-width:140px}
.rnbset_tit.titletab{overflow:hidden;clear:both}
.rnbset_tit.titletab h2{float:left}
.rnbset_tit.titletab .titcnt{float:right;padding:14px 30px 14px 0}
.rnbset_tit.titletab .titcnt ul{overflow:hidden;clear:both}
.rnbset_tit.titletab .titcnt li{float:left;position:relative;font-size:14px;color:#717171}
.rnbset_tit.titletab .titcnt li+li{margin-left:9px;padding-left:10px}
.rnbset_tit.titletab .titcnt li+li:before{position:absolute;top:50%;left:0;width:1px;height:13px;margin-top:-7px;border-left:1px solid #bebebe;content:''}
.rnbset_accordion .titcnt li span{color:#6f7cb4}
.rnbset_bxsend .rnbset_btnbx.attendee_bx .LUX_basic_btn{width:auto}
.rnbset_bxsend .rnbset_btnbx.attendee_bx{margin-top:0;padding-right:45px}
.attendee_bx .LUX_basic_submit .result_scrall .schedule div:first-child{max-width:180px}
.attendee_bx .LUX_basic_submit .result_scrall .schedule .teamname{max-width:110px}
.rnbset_bx .LUX_basic_badge.yellow{background-color:#fcbb3f}
.rnbset_bx .LUX_basic_badge.green{background-color:#2dc37e}

/* 댓글 */
.rnbin.rnb_comment{bottom:159px}
.rnbset_comment ul li{overflow:hidden;clear:both;position:relative;padding-top:14px;padding-left:9px;border-bottom:1px solid #e6e6e6}
.rnbset_comment .profile_pic{float:left}
.rnbset_comment .profile_pic img{border-radius:100px}
.rnbset_comment .comment_bx{overflow:hidden;padding:10px 15px 10px 10px}
.rnbset_comment .comment_bx strong{display:block;margin-bottom:4px;font-size:12px;font-weight:bold;color:#000;font-family:'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif}
.rnbset_comment .comment_bx strong>span{font-weight:normal;color:#8d8d8d}
.rnbset_comment .comment_bx p{font-size:12px;color:#000;font-family:'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif;line-height:16px}
.rnbset_comment .comment_bx .btn_group{margin-top:9px}
.rnbset_comment .comment_bx .btn_cmm_write{float:right}
.rnbset_comment .comment_bx .LUX_basic_textarea{background:#fff}
.rnbset_comment .modify{background:#e9f5ff}
.rnbset_comment li ul{margin-left:-9px;border-top:1px solid #f0f0f0}
.rnbset_comment li li{padding-left:45px;border-bottom:0;background:#fafafa}
.rnbset_comment li li:before{position:absolute;top:24px;left:25px;width:8px;height:8px;background:url(/imgs/common/sp_rnb.png) -215px 0 no-repeat;content:''}
.rnbset_comment li li+li:after{position:absolute;top:0;left:25px;width:100%;height:1px;background:#f0f0f0;content:''}
.rnbset_comment li li .comment_reply{position:relative;margin-bottom:10px;padding-right:100px}
.rnbset_comment li li .comment_reply .btnbx{position:absolute;top:0;right:15px}
.rnbset_comment .LUX_basic_btn{padding:0 !important;min-width:42px}
.comment_input{border-top:1px solid #e1e1e1}
.comment_input .LUX_basic_textarea{margin-bottom:14px}
.comment_input .LUX_basic_textarea .inpbx textarea{background:#fff}

/* 우측확장영역 - 사람찾기/연락처/대화방 */
.group_info .btntab{padding:10px 0;text-align:center}
.group_info .btntab .LUX_basic_btn{height:30px;padding:1px 15px 0;font-size:14px}
.group_info .LUX_basic_treeview .chart_lst{border-color:#e0e0e0}
.group_info .rnbset_accordion{border-top:0}
.group_info .rnbset_accordion h2>span{color:#6f7cb4}
.group_info .find_member_bx{overflow-y:auto;max-height:82px;padding:10px;border:1px solid #e0e0e0}
.group_info .find_member_bx li{position:relative;font-size:12px;font-weight:normal}
.group_info .find_member_bx li .btndel{position:absolute;top:50%;right:0;width:10px;height:10px;margin-top:-5px;background:url(/imgs/common/sp_rnb.png) -19px 0 no-repeat}
.group_info .find_member_bx li+li{margin-top:7px}
.group_info .chatroom{overflow:hidden;clear:both;position:relative;border:1px solid #e0e0e0}
.group_info .chatroom .LUX_basic_switch label{display:block;width:182px;font-size:15px}
.group_info .chatroom>ul>li{padding:18px 10px 16px}
.group_info .chatroom>ul>li+li{border-top:1px solid #e0e0e0}
.group_info .chat_memeber{float:right;position:relative;width:120px;padding-right:30px;line-height:20px}
.group_info .chat_memeber .chat_memeber_list{display:block;font-size:12px;font-weight:200}
.group_info .chat_memeber .LUX_basic_badge{position:absolute;top:0;right:0;padding-left:5px;padding-right:5px}
.group_info .contactbx{overflow:hidden;position:relative;border:1px solid #e0e0e0}
.group_info .contactbx h2{height:40px;padding:1px 10px 0;border-bottom:1px solid #e1e1e1;background:#eef8fd;font-size:16px;line-height:41px}
.group_info .contact_list{overflow:hidden}
.group_info .contact_list h3{overflow:hidden;clear:both;padding:6px 14px 5px;background:#f3f3f3;font-size:16px}
.group_info .contact_list h3 .LUX_basic_switch{float:right}
.group_info .contact_list h3 label{display:block;font-weight:200}
.group_info .contact_namelist{position:relative}
.group_info .contact_namelist li{padding:8px 45px 3px 10px}
.group_info .contact_namelist li .email_text{float:right;max-width:120px;font-size:12px;font-weight:200;line-height:20px;color:#4a4a4a}
.group_info .contact_namelist li .LUX_basic_switch label{display:block;width:170px}
.group_info .name_bookmark{display:none;position:fixed;top:178px;right:45px;z-index:5;opacity:0.8}
.group_info .name_bookmark.visible{display:block}
.group_info .name_bookmark:before{position:absolute;top:0;right:0;border:10px solid #f2f2f2;border-radius:100px;content:''}
.group_info .name_bookmark:after{position:absolute;right:0;bottom:0;border:10px solid #f2f2f2;border-radius:100px;content:''}
.group_info .name_bookmark ul{padding:11px 0}
.group_info .name_bookmark li{padding:6px 5px;background:#f2f2f2;font-size:11px}
.group_info .name_bookmark li a{text-decoration:none}

/* 활동기록 */
.rnbin.rnb_nobtn{bottom:0}
.rnbset_history{overflow:hidden;position:relative}
.rnbset_history h2{padding:12px 0 9px;border-top:1px solid #ebebeb;border-bottom:1px solid #ececec;background:#f6f6f6;font-size:16px;font-weight:bold;color:#4a4a4a;text-align:center}
.rnbset_history ul+h2{border-top:0}
.rnbset_history .date{font-size:10px;color:#4a4a4a}
.rnbset_history .history_text{font-size:15px;color:#000}
.rnbset_history .history_text>em{color:#6f7cb4}
.rnbset_history li{position:relative;padding:12px 10px 12px 30px;border-bottom:1px solid #ededed}
.rnbset_history li:before{position:absolute;top:50%;left:5px;width:16px;height:16px;margin-top:-8px;background-image:url(/imgs/common/sp_rnb.png);background-repeat:no-repeat;content:''}
.rnbset_history li.ico_historyadd:before{background-position:-106px 0}
.rnbset_history li.ico_historydel:before{background-position:-128px 0}
.rnbset_history li.ico_historymod:before{background-position:-151px 0}
.rnbset_history li>span{display:block}
.rnbset_history .send_history{display:table;width:100%;padding:12px 0 9px;border-bottom:1px solid #d8d8d8}
.rnbset_history .send_history .send_history_item{display:table-cell;position:relative;height:20px;font-size:13px;color:#4a4a4a;text-align:center;font-weight:bold;line-height:20px}
.rnbset_history .send_history .send_history_item:before{position:absolute;top:50%;left:0;margin-top:-6px;width:1px;height:12px;background-color:#d9d9d9;content:''}
.rnbset_history .send_history .send_history_item:first-child:before{display:none}
.rnbset_history .send_history .num{color:#3c5dec}
.rnbset_history .send_history_list li{padding:10px 5px 8px 8px}
.rnbset_history .send_history_list li:before{display:none}
.rnbset_history .send_history_list .date{margin-bottom:6px}
.rnbset_history .send_history_list .history_text{overflow:hidden;max-width:100%;text-overflow:ellipsis;white-space:nowrap}
.rnbset_history .send_history_list .person{float:right;position:relative;padding-left:13px;font-size:13px}
.rnbset_history .send_history_list .person:before{position:absolute;top:50%;left:6px;margin-top:-6px;width:1px;height:11px;background-color:#d9d9d9;content:''}
.rnbset_history .send_history_list .person>em{color:#6f7cb4}

/* 수정이력 */
.rnbset_mod_history{overflow:hidden;position:relative}
.rnbset_mod_history h2{padding:12px 0 8px 10px;border-top:1px solid #d8d8d8;border-bottom:1px solid #f1f1f1;background:#f6f6f6;font-size:14px;font-weight:normal;color:#4a4a4a;text-align:left}
.rnbset_mod_history h2:first-of-type{border-top:0}
.rnbset_mod_history h3{display:block;margin-bottom:6px;font-size:12px;color:#000}
.rnbset_mod_history .history_content{padding:20px 10px 17px}
.rnbset_mod_history .history_content ul li{position:relative;margin-bottom:2px;padding-left:5px;font-size:12px}
.rnbset_mod_history .history_content ul li:before{position:absolute;top:5px;left:0;width:1px;height:1px;background:#000;content:''}
.rnbset_mod_history .date{margin-bottom:7px;font-size:12px;color:#8d8d8d}

/* 지도 */
.rnbset_bx .map_area{height:285px;margin:0 0 10px;border:1px solid #d9d9d9}
.rnbset_bx .map_area2{height:188px;margin:0 0 10px;border:1px solid #d9d9d9}
.rnbset_bx .inpbx_area.url{padding:0 80px 8px 0}
.rnbset_bx .inpbx_area{position:relative;padding:0 37px 0 0}
.rnbset_bx .inpbx_area .LUX_basic_btn{position:absolute;top:10px;right:0;width:30px;height:38px}
.rnbset_bx .inpbx_area .LUX_basic_btn .sp_rnb{position:absolute;top:10px;left:4px;width:20px;height:20px;background-position:-125px -140px}
.rnbset_bx .inp_wrap{margin:0 0 4px}
.rnbset_bx .btn_func{position:relative;margin:-10px 0 8px;padding-top:5px;border-top:1px solid #000}
.rnbset_bx .btn_func .LUX_basic_btn{padding-left:26px}
.rnbset_bx .btn_func .LUX_basic_btn:active{color:#6f7cb4}
.rnbset_bx .btn_func .LUX_basic_btn .sp_rnb{position:absolute;top:50%;left:3px;width:20px;height:20px;margin-top:-10px}
.rnbset_bx .btn_func ul{overflow:hidden;position:absolute;top:5px;right:0;border-left:1px solid #d9d9d9}
.rnbset_bx .btn_func li{float:left;margin:0 0 0 5px}
.rnbset_bx .btn_func li .LUX_basic_btn{margin:0}
.rnbset_bx .btn_func .btn_type1 .sp_rnb{background-position:0 -140px}
.rnbset_bx .btn_func .btn_type2 .sp_rnb{background-position:-25px -140px}
.rnbset_bx .btn_func .btn_type3 .sp_rnb{background-position:-50px -140px}
.rnbset_bx .btn_func .btn_type4 .sp_rnb{background-position:-75px -140px}
.rnbset_bx .btn_func .btn_type5 .sp_rnb{background-position:-100px -140px}
.rnbset_bx .btn_func .btn_type1:active .sp_rnb{background-position:0 -165px}
.rnbset_bx .btn_func .btn_type2:active .sp_rnb{background-position:-25px -165px}
.rnbset_bx .btn_func .btn_type3:active .sp_rnb{background-position:-50px -165px}
.rnbset_bx .btn_func .btn_type4:active .sp_rnb{background-position:-75px -165px}
.rnbset_bx .btn_func .btn_type5:active .sp_rnb{background-position:-100px -165px}

/* 품목조회 */
.rnb_item_box.single{margin-top:5px}
.rnb_item_box .item_list>li + li{margin-top:15px}
.rnb_item_box .item_notice{margin:3px 0 13px;font-size:13px;color:#000}
.rnb_item_box .item_info{height:33px;padding:0 10px;border:1px solid #e7edf2;background-color:#edf3f7;font-size:12px;line-height:33px}
.rnb_item_box .item_info2{height:auto;padding:11px 0 7px;font-size:12px}
.rnb_item_box .item_info em,
.rnb_item_box .item_info2 em{color:#1457b3;padding-left:2px}
.rnb_item_box .item_info2 .bar{padding:0 4px;color:#d3d3d3}
.rnb_item_box .item_info .LUX_basic_switch{vertical-align:middle}
.rnb_item_box .LUX_basic_tbl{margin-top:0}
.rnb_item_box .LUX_basic_tbl thead th,
.rnb_item_box .LUX_basic_tbl tbody td{padding:12px 0}

/* 도움말 */
.help_box>dl{border:1px solid #e0e0e0}
.help_box>dl>dt{overflow:hidden;height:32px;padding:0 12px;background-color:#edf3f7;font-size:14px;font-weight:bold;line-height:32px;white-space:nowrap;text-overflow:ellipsis}
.help_box>dl>dd{padding:9px 12px 17px;font-size:12px;line-height:16px;color:#464646}
.help_box .ico_question{position:relative;top:-1px;width:15px;height:15px;margin-right:5px;background-position:-152px -141px;vertical-align:middle}
.rnb .style_red_txt{color:#ed1c24}
.rnb .style_blue_txt{color:#0063c8}
.help_box .style_margin_top{margin-top:16px}
.help_box .style_dot_list>li{position:relative;padding-left:5px}
.help_box .style_dot_list>li:before{position:absolute;left:0;top:50%;margin-top:-1px;width:1px;height:1px;background-color:#464646;content:''}
.help_box .style_number_list{padding-left:12px}
.help_box .style_number_list>dt{margin-left:-12px}

/* 세금 계산서 발행사유 선택 */
.tax_invoice_box{border-bottom:1px solid #ececec}
.tax_invoice_box>dl>dt{position:relative;height:34px;padding:0 58px 0 12px;border-top:1px solid #ececec;background-color:#f6f6f6;font-weight:bold;line-height:34px}
.tax_invoice_box>dl>dd{padding:9px 12px 11px;font-size:12px;line-height:16px;color:#000}
.tax_invoice_box .LUX_basic_btn.btn_help{position:absolute;top:50%;right:6px;height:20px;margin-top:-10px;padding-left:8px;padding-right:8px;}
.tax_invoice_box .LUX_basic_switch{display:block;margin-top:7px}
.tax_invoice_box .LUX_basic_switch label{overflow:hidden;display:block;white-space:nowrap;font-size:15px;text-overflow:ellipsis}
.tax_invoice_box .title{margin-bottom:6px;font-weight:bold}


/* 발신처 번호별 자동분류 규칙추가 */
.rnbset_bx .inpbx_txt{position:relative;margin-bottom:8px;padding-left:7px;font-size:14px}
.rnbset_bx .inpbx_txt:before{position:absolute;top:5px;left:0;width:3px;height:3px;background:#585858;content:''}




