<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi"
    />

    <!--  -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/app/backoffice/resource/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/src/app/backoffice/resource/css/common.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/app/backoffice/resource/css/lux.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/app/backoffice/resource/css/pa.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/app/backoffice/resource/css/dashboard.css"
    />

    <title>백오피스_신규가입결제현황_대시보드</title>
  </head>
  <body>
    <div class="pa">
      <div class="pa_content">
        <div class="con-header">
          <h3 class="tit">신규가입 및 결제현황</h3>
          <div class="date-get-box">
            <label>조회일자</label>
            <input type="search" value="2025-02-13" class="date-picker" />
            <span class="calnder-ico">
              <em>달력</em>
            </span>
            <button class="get-btn">조회</button>
          </div>
        </div>

        <div class="dashborad-wrap">
          <ul class="dashboard-component">
            <li>
              <div class="date-box">
                <span class="date-tit">어제</span>
                <span class="date">2025년 02월 12일(수)</span>
              </div>
              <dl class="list-box">
                <dt class="blind">어제</dt>
                <dd class="first">
                  <div class="inner-con">
                    <div class="tit-box">
                      <span class="tit">신규 사업자수</span>
                      <span class="sub-txt">
                        <em>법인 7개</em>
                        <em>개인 3개</em>
                      </span>
                    </div>
                    <div class="num">
                      <span>10<em>개</em></span>
                    </div>
                  </div>
                </dd>
                <dd class="two">
                  <div class="inner-con">
                    <div class="tit-box">
                      <span class="tit">확인서 누적 발급건수</span>
                    </div>
                    <div class="num">
                      <span>5<em>건</em></span>
                    </div>
                  </div>
                </dd>
                <dd class="three">
                  <div class="inner-con">
                    <div class="tit-box">
                      <span class="tit">확인서 누적 결제금액</span>
                    </div>
                    <div class="num">
                      <span>500,000<em>원</em></span>
                    </div>
                  </div>
                </dd>
              </dl>
            </li>
            <li class="today">
              <div class="date-box">
                <span class="date-tit">오늘</span>
                <span class="date">2025년 02월 13일(목)</span>
              </div>
              <dl class="list-box">
                <dt class="blind">어제</dt>
                <dd class="first">
                  <div class="inner-con">
                    <div class="tit-box">
                      <span class="tit">신규 사업자수</span>
                      <span class="sub-txt">
                        <em>법인 7개</em>
                        <em>개인 3개</em>
                      </span>
                    </div>
                    <div class="num">
                      <span>10<em>개</em></span>
                    </div>
                  </div>
                </dd>
                <dd class="two">
                  <div class="inner-con">
                    <div class="tit-box">
                      <span class="tit">확인서 누적 발급건수</span>
                    </div>
                    <div class="num">
                      <span>5<em>건</em></span>
                    </div>
                  </div>
                </dd>
                <dd class="three">
                  <div class="inner-con">
                    <div class="tit-box">
                      <span class="tit">확인서 누적 결제금액</span>
                    </div>
                    <div class="num">
                      <span>500,000<em>원</em></span>
                    </div>
                  </div>
                </dd>
              </dl>
            </li>
            <li class="month">
              <div class="date-box">
                <span class="date-tit">이번달</span>
                <span class="date">2025년 02월</span>
              </div>
              <dl class="list-box">
                <dt class="blind">어제</dt>
                <dd class="first">
                  <div class="inner-con">
                    <div class="tit-box">
                      <span class="tit">신규 사업자수</span>
                      <span class="sub-txt">
                        <em>법인 80개</em>
                        <em>개인 80개</em>
                      </span>
                    </div>
                    <div class="num">
                      <span>100<em>개</em></span>
                      <span class="compare-to-box">
                        <em class="compare-to-tit">전일 동일기간 대비</em>
                        <em class="number month-count">10</em>
                      </span>
                    </div>
                  </div>
                </dd>
                <dd class="two">
                  <div class="inner-con">
                    <div class="tit-box">
                      <span class="tit">확인서 누적 발급건수</span>
                    </div>
                    <div class="num">
                      <span>30<em>건</em></span>
                      <span class="compare-to-box">
                        <em class="compare-to-tit">전일 동일기간 대비</em>
                        <em class="number month-count">3</em>
                      </span>
                    </div>
                  </div>
                </dd>
                <dd class="three">
                  <div class="inner-con">
                    <div class="tit-box">
                      <span class="tit">확인서 누적 결제금액</span>
                    </div>
                    <div class="num">
                      <span>500,000<em>원</em></span>
                      <span class="compare-to-box">
                        <em class="compare-to-tit">전일 동일기간 대비</em>
                        <em class="number month-count-down">1,000,000</em>
                      </span>
                    </div>
                  </div>
                </dd>
              </dl>
            </li>
          </ul>

          <ul class="cumulative-component">
            <li>
              <div class="box">
                <p class="ico">
                  <span class="md-tit">전체 누적 사업자수</span>
                  <span class="md-count">200<em>개</em></span>
                </p>
                <div class="right">
                  <p>
                    <span class="sm-tit">법인</span>
                    <span class="sm-count">180개</span>
                  </p>
                  <p>
                    <span class="sm-tit">개인</span>
                    <span class="sm-count">20개</span>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="box">
                <p class="ico">
                  <span class="md-tit">전체 누적 계정수</span>
                  <span class="md-count">200<em>개</em></span>
                </p>
                <div class="right">
                  <p>
                    <span class="sm-tit">법인</span>
                    <span class="sm-count">180개</span>
                  </p>
                  <p>
                    <span class="sm-tit">개인</span>
                    <span class="sm-count">20개</span>
                  </p>
                </div>
              </div>
            </li>
            <li class="total">
              <div class="box">
                <p>
                  <span class="md-tit">확인서 누적 발급건수</span>
                  <span class="md-count">100건</span>
                </p>

                <p>
                  <span class="md-tit">확인서 누적 결제금액</span>
                  <span class="md-count">10,000,000 원</span>
                </p>
              </div>
            </li>
          </ul>

          <p class="infor-txt">※ 탈퇴 및 결제취소 건은 포함되지 않음</p>
        </div>
      </div>
    </div>
  </body>
</html>
