.SOLStepper-root {
  display: flex;
  gap: 12px;
  font-size: var(--font-13);
  font-weight: 400;
  color: #3B5DFB;
  padding: 20px 20px;
  background: #f8fafa;
  counter-reset: index;
  position: relative;

  & > li {
    position: relative;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    word-break: keep-all;

    &::before {
      content: counter(index);
      counter-increment: index;
      z-index: 1;
      position: relative;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      // background: #506fff url(../../Common/image/icon/ic_check.svg) no-repeat center center / 13px;
      background-color: #506fff;
      color: #fff;
    }

    &:not(:first-of-type)::after {
      content: "";
      position: absolute;
      top: 12px;
      left: -10px;
      right: -10px;
      transform: translateX(-50%);
      border-top: 1px solid #3d58c9;
    }

    &.active ~ li {
      color: #8C8C99;
      &::before {
        background-color: #BBC1C9;
      }
      &::after {
        border-top-color: #BBC1C980;
      }
    }

    &.disbled {
      color: #bbc1c9;
      &::before {
        content: "";
        background-color: #bbc1c9;
      }
    }
  }

  &.t--service {
    gap: 6px;
    justify-content: flex-end;
    padding: 0;
    margin-bottom: 20px;
    color: var(--font-default);
    background-color: unset;
    counter-reset: index;
    margin-top: 0;
    font-size: var(--font-12);

    & > li {
      position: static;
      flex: unset;
      flex-direction: row;
      white-space: nowrap;
      text-align: left;

      &::after {
        content: none
      }

      &::before {
        counter-increment: index;
        width: 16px;
        height: 16px;
        background-size: 9px;
        background-color: #d9d9d9;
        color: var(--fc-gray2);
        font-size: 10px;
        color: #fff !important;
        font-weight: 600;
      }

      &.active {
        color: var(--c-active);
        &::before {
          font-weight: 400;
          background: var(--c-component) !important;
        }

        .tit {
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          font-size: var(--font-13);
        }

        &, & ~ li {
          &::before {          
            content: counter(index);
            background-image: none;
            background-color: #d9d9d9
          }
        }
      }
    }

    .tit { display: none }
  }

  &.t--submit {
    gap: 28px;
    padding: 0;
    margin-bottom: 20px;
    color: var(--font-default);
    background-color: unset;
    counter-reset: index;
    margin-top: 0;
    font-size: var(--font-13);

    & > li {
      flex: unset;
      flex-direction: row;
      gap: 4px;
      white-space: nowrap;
      text-align: left;

      &::before {
        counter-increment: index;
        width: 16px;
        height: 16px;
        background-size: 9px;
        background-color: #d9d9d9;
        color: var(--fc-gray2);
        font-size: 10px;
        color: #fff !important;
        font-weight: 600;
      }

      &:not(:first-of-type)::after {
        top: 50%;
        left: -18px;
        right: unset;
        margin-top: -4px;
        width: 7px;
        height: 7px;
        border-top: 0;
        border-right: 1px solid rgba(17, 17, 17, 0.3);
        border-bottom: 1px solid rgba(17, 17, 17, 0.3);
        transform: rotate(-45deg);
      }

      &.active {
        color: var(--c-active);
        &::before {
          font-weight: 400;
          background: var(--c-component) !important;          
        }

        &, & ~ li {
          &::before {          
            content: counter(index);
            background-image: none;
            background-color: #d9d9d9
          }
        }
      }
    }
  }
}


.stepper-label {
  display: block;
  font-size: var(--font-12);
  font-weight: 500;
  color: var(--c-active);
  margin-bottom: 20px;
  font-weight: 700;
}