.box-panel {
  display: flex;
  // align-items: center;
  border: 1px solid var(--tb-border);
  border-radius: 8px;
}

.box-panel-list {
  @extend .box-panel;
  display: block;
  padding: 4px 24px;

  li {
    display: flex;
    align-items: center;
    height: 64px;

    &:not(:first-of-type) {
      border-top: 1px solid var(--tb-border);
    }
  }

  .SOLSwitch-root {
    width: 100%;
  }
}

.box-empty {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  min-height: 106px;
  padding: 24px;
  margin-bottom: 40px;
  border-radius: 8px;
  background-color: var(--c-bg);
  font-size: var(--font-13);
  color: var(--fc-gray1);
}

.box-msg {
  padding: 1em;
  border-radius: 8px;
  background-color: var(--c-bg);
  text-align: center;

  &.c--error {
    border: 1px solid rgba(221, 82, 76, 0.1);
    background-color: rgba(252, 83, 86, 0.1);
    color: var(--c-error);
  }
}

.wrapper-fbox {
  display: flex;
  gap: 24px;
  margin-top: 24px;

  & > * {
    flex-grow: 1;
  }

  .box-panel {
    padding: 18px 24px;
    justify-content: space-between;
    align-items: center;
  }

  .box-panel.input--circle--type {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 7px 24px;
    .SOLCheck-root .SOLCheck-label input[type="checkbox"] {
      border-radius: 50%;
    }
  }

  .SOLBtn-root {
    min-width: unset;
  }
}

.wrapper-fbox-table {
  display: flex;
  gap: 24px;

  & > .SOLTable-data {
    &:nth-child(2) {
      width: 50%;
      flex-shrink: 0;
    }
  }
}

.wrapper-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.input-flex-type {
    gap: 10px;
    align-items: normal;
    .SOLInput-msg {
      width: 100%;
    }
  }
  &.align-center {
    align-items: center;
  }
}

.wrapper-align {
  display: flex;
  align-items: center;

  .SOLFile-root {
    width: unset;
  }
}

.wrapper-inputlist {
  border-top: 1px solid #777;

  .SOLInput-root {
    flex-direction: row;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--tb-border);
    &.error-type02 {
      display: block;
      padding: 16px 16px 35px 16px;
      div.flex-column {
        display: flex;
        align-items: center;
      }

      .SOLInput-byte.s--between {
        width: 100%;
        justify-content: flex-end;
        position: relative;

        .SOLInput-msg.c--error {
          margin-top: 0px;
          padding: 0px;
          background: none;
          border: none;
          position: absolute;
          top: 9px;
          right: 0;
          &::before {
            content: "";
          }
        }
        .SOLInput-byte--count {
          width: 150px;
          padding: 0px 0 0px 0px;
          position: absolute;
          top: 9px;
          left: 25px;
        }
      }
    }

    .SOLInput-label {
      width: 120px;
      padding-bottom: 0;
      font-weight: normal;
      color: var(--fc-default);
    }
    &.lay-type02 {
      div.button-box {
        padding: 0 0 0 10px;
      }
      .SOLInput-label {
        &.w-text-input {
          width: 83px;
        }
      }
    }
  }

  .SOLInput-msg {
    position: relative;
    margin-top: 16px;
    padding: 16px;
    border: 1px solid currentColor;
    border-radius: 8px;
    overflow: hidden;

    &::before {
      content: "·";
      padding-right: 4px;
    }

    &.c--error {
      color: #dd524c;
      border: 1px solid rgba(221, 82, 76, 0.1);
      background-color: rgba(252, 83, 86, 0.1);
    }
  }

  .reset-txt {
    margin-top: 30px;
    text-align: center;
    display: block;
    text-decoration: underline;
    cursor: pointer;
    &.desc {
      text-decoration: none;
      text-align: left;
    }
  }
}

.wrapper-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.wrapper-desc {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
  color: var(--fc-gray2);
}
