.SOLTable-data {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  th,
  td {
    height: 64px;
    padding: 12px 15px;
    vertical-align: middle;
    border-top: 1px solid var(--tb-border);
    border-bottom: 1px solid var(--tb-border);
    //word-break: keep-all;
    text-align: left;
    line-height: 1.4;
  }

  tbody th {
    width: 140px;
    background-color: var(--tb-bg);
    font-weight: normal;
    text-align: left;
  }

  td > span + span {
    margin-left: 4px;
  }

  caption {
    font-size: var(--font-18);
    font-weight: 700;
    text-align: left;
    margin-bottom: 1em;
  }

  &.t--result {
    border-top: 1px double #c9cbce;
    border-bottom: 1px double #c9cbce;

    th {
      background-color: var(--bc-hover);
    }

    tfoot {
      th,
      td {
        font-weight: 700;
        font-size: var(--font-16);
      }
    }
  }

  &.t--credit {
    border-top: 1px double #c9cbce;
  }
}

.SOLTable-list {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  &.l--auto {
    table-layout: auto;
  }

  &.b--ver {
    border-right: 0 hidden;
    border-left: 0 hidden;

    tbody td,
    tfoot td {
      border: 1px solid var(--tb-border);
    }
  }

  &.t--board {
    tbody tr {
      transition: background-color 0.2s;
      &:hover {
        background-color: var(--bc-hover);
      }
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;

      .a--left {
        padding: 0 0.5em;
      }
    }

    .date {
      color: var(--fc-gray2);
    }
  }

  th,
  td {
    height: 56px;
    padding: 9px 10px;
    vertical-align: middle;
    border-top: 1px solid var(--tb-border);
    border-bottom: 1px solid var(--tb-border);
    text-align: center;
    line-height: 1.43;
  }

  td.left {
    text-align: left;
  }

  thead th {
    position: relative;
    height: 46px;
    padding: 5px;
    background-color: var(--tb-bg);
    border-color: #e2e2e2;

    &:not(:first-of-type)::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 16px;
      margin-top: -8px;
      border-left: 1px solid #e2e2e2;
    }
  }

  thead tr:not(:first-of-type) th {
    font-weight: normal;
  }

  tfoot td {
    background-color: var(--tb-bg);
    font-weight: 700;
  }

  .SOLTable-th-span {
    border-left: 1px solid var(--tb-border);
    &::after {
      content: none !important;
    }
  }

  td.a--left {
    padding-left: 1.4em;
  }

  a {
    color: inherit;
  }
}

.SOLTable-empty {
  padding: 54px 0;
  border-bottom: 1px solid var(--tb-border);
}

.SOLTable-small {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--tb-border);
  border-radius: 6px;
  background-color: #fff;

  caption {
    font-weight: 400;
    text-align: left;
    font-weight: 700;
    padding-bottom: 0.7em;
  }

  th,
  td {
    border-bottom: 1px solid var(--tb-border);
    padding: 8px;
    text-align: left;
  }

  th {
    width: 120px;
    padding: 10px;
    font-weight: 400;
    background-color: #eff3fc;
  }

  .SOLInput-box {
    height: 2em;
  }

  & + & {
    margin-top: 24px;
  }
}

.SOLTable-wrapper {
  flex-grow: 1;
  overflow-y: auto;

  .SOLTable-list {
    border-collapse: separate;

    thead th {
      z-index: 1;
      position: sticky;
      top: 0;
    }

    tbody td {
      border-top: 0;
    }
  }
}
