@charset "UTF-8";
@include desktop-min {
  .crediview-event-root .SOLHeader-logo > a {
    display: none;
  }

  .crediview-event-root .SOLHeader-logo a.event-h-title {
    display: block;
  }
  .crediview-event-root .SOLHeader-global {
    display: none;
  }

  .crediview-event-root .SOLHeader-menu {
    display: block;
  }

  .SOLHeader {
    &-root {
      width: 100%;
      &.t--landing {
        opacity: 1;
      }
      .SOLHeader-inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
      .SOLHeader-logo {
        width: auto;
        top: auto;
        height: auto;
        position: relative;
        a.event-h-title {
          display: block;
          width: auto;
          text-indent: 0;
          font-size: var(--font-18);
          font-weight: 500;
          color: #1d2129;
          position: relative;
          padding: 0 0 0 25px;
          &::before {
            content: "";
            width: 14px;
            height: 15px;
            // background: url(/static/Web/image/icon/ic_arrow_btn.png) no-repeat;
            background: url(../../Common/image/icon/ic_arrow_btn.png) no-repeat;
            position: absolute;
            top: 3px;
            left: 0;
            transform: rotate(180deg);
          }
        }
      }
      .SOLHeader-menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .auth-btn-wrap {
          display: flex;
          justify-content: flex-start;
          gap: 10px;

          a {
            width: 58px;
            height: 32px;
            background-color: transparent;
            border: 1px solid rgba(10, 43, 88, 0.1);
            border-radius: 6px;
            display: block;
            transition: ease-in-out 0.3s;
            &.join {
              width: 70px;
            }
            &:hover {
              background-color: #ffffff;
            }
            &:active {
              background-color: #d1d6e3;
            }
            span {
              font-size: var(--font-13);
              color: #222222;
              display: block;
              text-align: center;
              padding-top: 7px;
            }
          }
        }

        .menu-btn {
          width: 20px;
          height: 16px;
          background: url("../../Common/image/crediview/landing/mb/mb-menu-btn.png")
            no-repeat;
          text-indent: -9999px;
          display: block;
          margin-left: 12px;
        }
        // gnb
        .SOL-mb-gnb {
          width: 100%;
          height: 100vh;
          background-color: #fff;
          position: fixed;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
          z-index: 9999;
          transition: ease-in-out 0.5s;
          display: none;
          &.on {
            display: block;
          }

          .gnb-inner {
            padding: 30px 0 42px 0;
          }
          .gnb-h {
            width: 360px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px 15px 20px;
            //border-bottom: solid 1px #e6e8eb;
            margin: 0 auto;
            position: relative;
            &::before {
              content: "";
              width: 1920px;
              height: 1px;
              background-color: #e6e8eb;
              position: absolute;
              bottom: 0;
              left: -783px;
            }
            .gnb-logo {
              background: url(../../Common/image/crediview/logo/logo_crediview.svg)
                no-repeat;
              width: 100px;
              height: 30px;
              background-size: 100px;
              margin-top: 1px;
            }
            .close-btn {
              width: 20px;
              height: 16px;
              background: url("../../Common/image/icon/mb/ic_gnb_closebtn.png")
                no-repeat center;
              cursor: pointer;
              margin-top: 3px;
            }
            .logout {
              position: absolute;
              top: 0;
              right: 52px;
            }
          }
          .gnb-menu {
            height: calc(100vh - 107px);
            overflow-y: auto;
            overflow-x: hidden !important;
            // &.scroll-active {
            //   overflow-y: scroll;
            // }
            // &:not(.scroll-active) {
            //   overflow-y: hidden;
            // }
            .depth01 {
              //border-bottom: solid 1px #e6e8eb;
              position: relative;
              width: 360px;
              margin: 0 auto;
              &::before {
                content: "";
                width: 1920px;
                height: 1px;
                background-color: #e6e8eb;
                position: absolute;
                bottom: 0;
                left: -782px;
              }
              a {
                font-size: var(--font-18);
                font-weight: 700;
                color: #222222;
                padding: 30px 20px 20px 20px;
                display: block;
                position: relative;
                transition: ease-in-out 0.3s;
                &::before {
                  content: var(--before-content, "");
                  width: 14px;
                  height: 8px;
                  background: url("../../Common/image/icon/mb/ic_gnb_depth02.png")
                    no-repeat;
                  position: absolute;
                  top: 37px;
                  right: 20px;
                }
                &.on {
                  &::before {
                    transform: rotate(180deg);
                  }
                }
                &.ai-post {
                  display: inline-block;
                  padding-right: 55px;
                  position: relative;
                  &::after {
                    content: none;
                  }
                }
                &.last-depth {
                  position: relative;
                  &::before {
                    content: none;
                  }
                }
              }
              .sub-menu {
                &.depth02 {
                  max-height: 0; /* 기본적으로 숨김 */
                  overflow: hidden;
                  transition: max-height 0.3s ease; /* 슬라이드 효과 */
                  li {
                    a {
                      font-size: var(--font-16);
                      font-weight: 400;
                      padding: 10px 20px;
                      display: block;
                      position: relative;
                      transition: ease-in-out 0.3s;
                      &::before {
                        content: none;
                      }
                      &:hover {
                        color: #3b5dfb;
                      }
                      &:active {
                        color: #3b5dfb;
                      }
                      &.active {
                        color: #3b5dfb;
                      }
                    }
                    &:last-child {
                      a {
                        padding-bottom: 22px;
                      }
                    }
                  }
                }
              }
            }
          }
          .logout-box {
            padding: 0 20px;
            position: absolute;
            bottom: 20px;
            width: 100%;
            .logout-btn {
              display: block;
              width: 100%;
              border: solid 1px rgba(10, 43, 88, 0.18);
              padding: 15px;
              a {
                display: block;
                font-size: 15px;
                font-weight: 400;
                color: #222222;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .crediview-event-container footer.SOLFooter-root {
    display: block;
  }

  .topper-wrap {
    right: 20px;
    // bottom: 100px;
    .e-topbtn {
      width: 35px;
      height: 35px;
      background-size: 35px;
    }
  }
}

@include desktop-min-type02 {
  // section01
  .crediview-event-container .event-section {
    &.first {
      background-position: top center;
      padding: 100px 0 60px 0;
      background-size: cover;
      position: relative;
      height: 1024px;
    }
    .event-wrap {
      width: 100%;
      padding: 0 90px;
      box-sizing: border-box;
    }
    .flex-box {
      flex-flow: wrap;
      .left {
        width: 100%;
        position: static;
        .infor-content {
          p.txt-s button.share-btn {
            position: absolute;
            top: 100px;
            right: 90px;
          }

          .txt-md span {
            font-size: 52px;
          }

          .btn-box {
            position: absolute;
            bottom: 70px;
            left: 50%;
            transform: translate(-50%, 0);
            padding-top: 0px;
            span.sub-txt {
              display: block;
              padding-bottom: 26px;
            }
            button {
              margin: 0 auto;
            }
          }
        }
      }
      .right {
        width: 100%;
        img {
          width: 407px;

          display: block;
          margin: 0 auto;
          margin-top: 30px;
          margin-bottom: 70px;
        }
      }
    }
  }
  // section02
  .crediview-event-container .event-section.two {
    padding: 60px 0;
    h3.tit {
      font-size: 33px;
      &::before {
        width: 52px;
      }
    }
    ul.process-box {
      margin-top: 40px;
      padding: 0px;
      flex-flow: wrap;
      &:before {
        width: 90%;
        height: 2px;
      }
      &:after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      li {
        width: 100%;
        padding: 53px 0;
      }
    }
  }
  //section03
  .crediview-event-container .event-section.three {
    padding: 60px 0;
    h3.tit {
      font-size: 33px;
      &::before {
        content: "";
        width: 52px;
      }
    }
  }
  //section04
  .crediview-event-container .event-section.fourth {
    padding: 71px 0;
    ul.infor-list-box {
      padding: 72px 40px;
      li {
        padding: 63px 17px;
        &:first-child {
          padding: 0px 17px 63px 17px;
        }
        &:last-child {
          padding: 63px 17px 0px 17px;
        }
      }
    }
  }

  //section05
  .crediview-event-container .event-section.fifth {
    padding: 40px 0;
  }

  .crediview-event-container
    .event-section
    .flex-box
    .left
    .infor-content
    p.txt-s
    .flex-box {
    flex-flow: wrap;
    justify-content: center;
    i {
      &.txt02 {
        width: 100%;
        text-align: center;
        padding-top: 5px;
      }
    }
  }

  .crediview-event-container
    .event-section
    .flex-box
    .left
    .infor-content
    p.txt-s {
    justify-content: center;
    span {
      font-size: var(--font-18);
      &::before {
        height: 18px;
      }
    }
  }

  .crediview-event-container
    .event-section
    .flex-box
    .left
    .infor-content
    .txt-md {
    text-align: center;
    padding-top: 20px;
  }
  .crediview-event-container
    .event-section
    .flex-box
    .left
    .infor-content
    .btn-box {
    width: 100%;
    text-align: center;
    span.sub-txt {
      font-size: var(--font-14);
      padding-bottom: 15px;
      display: flex;
      justify-content: center;
      width: 100%;
      i {
        font-size: var(--font-16);
        &.date-tit {
          position: relative;
          &:before {
            content: "";
            width: 1px;
            height: 15px;
            background: rgba(121, 121, 121, 1);
            position: absolute;
            top: 2px;
            right: 9px;
          }
        }
      }
    }
  }

  .crediview-event-container
    .event-section
    .flex-box
    .left
    .infor-content
    .btn-box {
    bottom: 10px;
  }
  .crediview-event-container
    .event-section
    .flex-box
    .left
    .infor-content
    .btn-box
    button {
    width: 160px;
    height: 51px;
    margin: 40px auto 40px auto;
    span {
      font-size: var(--font-15);
      &:after {
        top: 1px;
      }
    }
  }
}

@include mobile {
  // section01
  .crediview-event-container .event-section.first {
    padding: 28px 0;
    height: 667px;
  }
  .crediview-event-container .event-section .event-wrap {
    padding: 0 22px;
  }
  .crediview-event-container .event-section .flex-box .left h2.logo span {
    width: 100px;
    background-size: 100px;
  }

  .crediview-event-container .event-section .flex-box .left .infor-content {
    padding-top: 50px;
  }

  .crediview-event-container
    .event-section
    .flex-box
    .left
    .infor-content
    p.txt-s {
    justify-content: center;
    span {
      font-size: var(--font-18);
      &::before {
        height: 18px;
      }
    }
  }

  .crediview-event-container
    .event-section
    .flex-box
    .left
    .infor-content
    .txt-md
    span {
    font-size: 29px;
  }

  .crediview-event-container
    .event-section
    .flex-box
    .left
    .infor-content
    p.txt-s
    button.share-btn {
    top: 28px;
    right: 22px;
    width: 66px;
    height: 30px;
    display: none;
  }
  .crediview-event-container
    .event-section
    .flex-box
    .left
    .infor-content
    p.txt-s
    button.share-btn
    span {
    font-size: var(--font-14);
    padding: 5px 0;
  }
  .crediview-event-container
    .event-section
    .flex-box
    .left
    .infor-content
    p.txt-s
    button.share-btn
    span:after {
    width: 13px;
    height: 18px;
    background-size: 18px;
    top: 3px;
  }

  .crediview-event-container .event-section .flex-box .right img {
    width: 275px;
  }
  //section2
  .crediview-event-container .event-section.two {
    padding: 36px 0;
    h3.tit {
      font-size: 22px;
      &::before {
        width: 32px;
        height: 3px;
      }
    }
    ul.process-box {
      li {
        padding: 29px 0;
        span.step {
          width: 69px;
          height: 25px;
          i {
            font-size: 14px;
            padding-top: 4px;
          }
        }
        div.img {
          padding-top: 19px;
          height: 56px;
          img {
            width: 56px;
            height: 56px;
          }
        }
        span.tit {
          padding-top: 25px;
          font-size: 16px;
        }
        span.con {
          font-size: 14px;
          padding-top: 5px;
        }
      }
    }
  }
  //section03
  .crediview-event-container .event-section.three {
    h3.tit {
      font-size: 22px;
      &::before {
        content: "";
        width: 32px;
      }
    }
    h4.sub-tit {
      width: 135px;
      height: 38px;
      margin-top: 43px;
      span {
        font-size: var(--font-16);
        padding-top: 9px;
      }
    }
    div.img {
      width: 220px;
      height: 220px;
      span.event-img {
        width: 157px;
        height: 128px;
        background-size: 157px;
      }
    }
    span.event-menu-tit {
      font-size: var(--font-16);
      padding: 38px 0 0px 0;
    }
    span.event-menu-txt {
      font-size: var(--font-14);
    }
  }
  //secction04
  .crediview-event-container .event-section.fourth {
    padding: 86px 0;
    ul.infor-list-box {
      padding: 25px 16px;
      li {
        padding: 29px 6px;
        &:first-child {
          padding: 0px 6px 29px 6px;
        }
        &:last-child {
          padding: 29px 6px 0px 6px;
        }
        span.tit {
          font-size: var(--font-16);
          padding-bottom: 18px;
        }
        span.txt {
          font-size: var(--font-14);
        }
      }
    }
    div.btn-box {
      button.gradation {
        width: 160px;
        height: 51px;
        span {
          font-size: var(--font-16);
          &::after {
            top: 2px;
          }
        }
      }
    }
  }

  //section05
  .crediview-event-container .event-section.fifth {
    div.note-box {
      h3.note-tit {
        font-size: var(--font-18);
        padding: 0 0 35px 22px;
        &::before {
          width: 16px;
          height: 16px;
          background-size: 16px;
        }
      }
      ul.note-list-box {
        li {
          padding-bottom: 20px;
          font-size: var(--font-14);
          dl {
            dd {
              &::before {
                top: 7px;
              }
              span {
                i.impor-txt {
                  font-size: var(--font-14);
                }
              }
            }
          }
        }
      }
    }
  }
}
