.SOLIcon-root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-style: normal;
  width: 100%;
  aspect-ratio: 1;
  min-width: 1rem;
  max-width: 2rem;
}

.SOLIcon {
  &-gt--u,
  &-gt--r,
  &-gt--d,
  &-gt--l {
    width: 20px;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      border-right: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      border-radius: 1px;
      opacity: 0.8;
    }

    &.s--lg::after {
      width: 11px;
      height: 11px;
      border-radius: 2px;
      opacity: 0.8;
      margin-top: 0;
    }

    &.s--sm::after {
      width: 7px;
      height: 7px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-radius: 0;
    }

    &.s--xl::after {
      width: 14px;
      height: 14px;
      border-right-width: 2px;
      border-bottom-width: 2px;
      border-radius: 1px;
    }

    & + & {
      margin-left: -20px;
    }
  }

  &-gt--r.c-gray {
    &::after {
      content: '';
      border-right: 2px solid #95989b;
      border-bottom: 2px solid #95989b;
    }
  }

  &-gt--u {
    &::after {
      transform: translate(-50%, -50%) rotate(-135deg);
      margin-top: 1px;
    }
  }
  &-gt--r {
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
      margin-left: -1px;
    }
  }
  &-gt--d {
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
      margin-top: -2px;
    }
  }
  &-gt--l {
    &::after {
      transform: translate(-50%, -50%) rotate(135deg);
      margin-left: 2px;
    }
  }
  &-chk {
    background-color: var(--c-success) !important;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 6px;
      height: 10px;
      border-right: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      margin-top: -1px;
      border-radius: 1px;
    }
  }

  &-err {
    background-color: var(--c-error) !important;
    &::after {
      content: '!';
    }
  }

  &-warn {
    background-color: var(--c-warn) !important;
    &::after {
      content: '!';
    }
  }

  &-cancel {
    background-color: var(--fc-default) !important;
    &::after {
      content: '!';
    }
  }

  &-wait {
    background-color: var(--c-active) !important;
    &::after {
      content: '···';
      margin-top: -2px;
    }
  }

  &-close {
    font-size: var(--font-32);
    font-weight: 100;

    &::after {
      content: '×';
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.s--sm {
      font-size: var(--font-24);
      font-weight: 200;

      &::after {
        margin-top: -1px;
      }
    }

    &.s--lg {
      font-size: var(--font-36);
      font-weight: 200;
    }
  }

  &-view,
  &-view--off {
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background: url(../../Common/image/icon/ic_eye.svg) no-repeat center center / contain;
    }
  }

  &-view--off {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 1em;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #bbbbbd;
    }
  }

  &-arr--r {
    font-size: var(--font-20);
    font-weight: 300;

    &::after {
      content: '→';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: -1px;
    }

    &.s--sm {
      font-size: var(--font-14);
      font-weight: 600;
    }
  }

  &-arr--l {
    font-size: var(--font-20);
    font-weight: 300;

    &::after {
      content: '→';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scaleX(-1);
      margin-top: -1px;
    }

    &.s--sm {
      font-size: var(--font-14);
      font-weight: 600;
    }
  }

  &-arr--d {
    font-size: var(--font-24);
    font-weight: 300;

    &::after {
      content: '→';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      margin-top: -1px;
    }

    &.s--sm {
      font-size: var(--font-14);
      font-weight: 600;
    }
  }

  &-arr--t {
    font-size: var(--font-24);
    font-weight: 300;

    &::after {
      content: '→';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
      margin-left: -1px;
    }

    &.s--sm {
      font-size: var(--font-14);
      font-weight: 600;
    }
  }

  &-arr--type02 {
    font-size: var(--font-20);
    font-weight: 300;
    &::after {
      content: '';
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: -1px;
      width: 17px;
      height: 10px;
      background: url(../../Common/image/icon/ic_dwn_scroll.png) no-repeat center center;
    }
    &::before {
      content: 'Scroll';
      font-size: 12px;
      font-weight: 500;
      color: #fff;
      position: absolute;
      transform: translate(-50%, 0%);
      top: 0px;
      left: 50%;
      display: block;
    }
  }

  &-down {
    width: 10px;
    height: 10px;
    min-height: unset;

    &::after {
      content: '';
      border-style: solid;
      border-color: currentColor transparent transparent transparent;
      border-width: 5px 5px;
      border-radius: 3px;
      transform: translateY(30%);
    }
  }

  &-more {
    text-align: center;
    overflow: hidden;
    &::after {
      content: '…';
      font-size: var(--font-20);
      text-align: center;
      transform: rotate(90deg) translateY(-0.3em);
    }
  }

  &-file {
    width: 18px;
    background: url(../../Common/image/icon/ic_file.svg) no-repeat center center;
  }

  &-receipt {
    width: 22px;
    background: url(../../Common/image/icon/ic_receipt.png) no-repeat center center;
  }

  &-alarm {
    width: 24px;
    background: url(../image/icon/ic_bell.svg) no-repeat center center / contain;
  }

  &-lock {
    width: 24px;
    background: url(../image/icon/ic_lock.svg) no-repeat center center / contain;
  }

  &-list {
    width: 24px;
    background: url(../image/icon/ic_list.svg) no-repeat center center / contain;
  }

  &-align {
    width: 18px;
    background: url(../image/icon/ic_align.svg) no-repeat center center;
  }

  &-refresh {
    width: 18px;
    background: url(../image/icon/ic_refresh.svg) no-repeat center center;
  }

  &-picture {
    width: 24px;
    background: url(../image/icon/ic_picture.svg) no-repeat center center;
  }

  &-camera {
    width: 24px;
    background: url(../image/icon/ic_camera.svg) no-repeat center center;
  }

  &-dir {
    width: 24px;
    background: url(../image/icon/ic_dir.svg) no-repeat center center;
  }

  &-download-bk {
    width: 24px;
    background: url(../image/icon/ic_download.svg) no-repeat center center;
  }

  &-mail-s {
    width: 1%;
    background: url(../image/icon/ic_mail_s.svg) no-repeat center center;
  }

  &-phone-s {
    width: 1%;
    background: url(../image/icon/ic_phone_s.svg) no-repeat center center;
  }

  &-hamburger {
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: currentColor;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: currentColor;
      transition: transform 0.2s;
    }

    &::before {
      transform: translate(-50%, calc(-50% - 7px));
    }
    &::after {
      transform: translate(-50%, calc(-50% + 7px));
    }
  }

  &-notice {
    width: 24px;
    height: 24px;
    background: url(../image/icon/ic_notice_w.svg) no-repeat center center;
  }

  &-add {
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 13px;
      height: 1px;
      background-color: currentColor;
      opacity: 0.8;
    }
    &::after {
      rotate: 90deg;
    }
  }

  &-download {
    width: 24px;
    height: 28px;
    background: url(../image/icon/ic_download_w.svg) no-repeat center bottom;
  }

  &-edit {
    width: 18px;
    background: url(../image/icon/ic_edit.svg) no-repeat center center;
  }
}

.SOLBtn-root {
  .SOLIcon {
    &-gt--u,
    &-gt--r,
    &-gt--d,
    &-gt--l {
      &::after {
        width: 8px;
        height: 8px;
        // border-width: 0 1px 1px 0
      }
    }
  }
}

.SOLIcon-state {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;

  &::after {
    color: #fff;
  }
}

.SOLIcon-loader {
  min-width: unset;
  max-width: unset;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  animation: refresh 1s linear infinite;

  &::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 1px solid var(--c-active);
    animation: prixClipFix 2s linear infinite;
  }

  &.s--lg {
    width: 50px;
    height: 50px;

    &::before {
      border: 4px solid #fff;
    }
  }

  &.type02 {
    &::before {
      border: 7px solid #fff;
    }
  }
}

.SOLLoader-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--c-bg);
}

.SOLIcon-alert {
  max-width: unset;

  &.c--success,
  &.c--error,
  &.c--active,
  &.c--warn {
    width: 40px;
    height: 40px;
  }

  &.c--active {
    background: url(../image/icon/ic_alert_active.svg) no-repeat center center / cover;
  }
  &.c--warn {
    background: url(../image/icon/ic_alert_warn.svg) no-repeat center center / cover;
  }
  &.c--error {
    background: url(../image/icon/ic_alert_error.svg) no-repeat center center / cover;
  }
  &.c--success {
    background: url(../image/icon/ic_alert_success.svg) no-repeat center center / cover;
  }
}
