.company-list,
.template-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 16px;

  & > li {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #e8e8eb;
  }

  .sort {
    display: inline-flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 12px;
    color: var(--c-primary);

    & > * {
      display: inline-flex;
      align-items: center;
      height: 9px;

      &:not(:first-child) {
        margin-left: 6px;
        padding-left: 6px;
        border-left: 1px solid #d4d4d9;
      }
    }
  }

  .tit {
    font-size: 20px;
    font-weight: 700;
  }

  .btn-fav,
  .btn-del {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;

    li {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .label {
      font-weight: 400;
      color: var(--c-gray2);
    }
  }
}

.company-list {
  & > li {
    background-color: #f9f9f9;
  }
}

.template-list {
  font-size: 13px;

  & > li {
    gap: 6px;
    padding: 16px;
  }

  .tit {
    font-size: 16px;
  }

  .btn-fav,
  .btn-del {
    top: 12px;
    right: 12px;
  }
}

.mypage-list {
  display: flex;
  gap: 20px;
  
  & > li {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px
  }
  
  .tit {
    display: flex;
    align-items: center;
  }
  
}