@mixin ellipsis($lines: 1) {
  @if ($lines==1) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

@mixin popBox {
  position: relative;
  max-height: calc(100vh - 80px);
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.5s;
}

@mixin backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.5s;

  &.t--blur {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);
  }
}

@mixin formBox {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 32px;
  padding: 0 32px 0 10px;
  border: 1px solid var(--c-border);
  border-radius: 4px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  color: var(--c-gray1);
  text-align: left;
  transition: border-color 0.2s;
}

@mixin formStyle {
  @include formBox;

  &:disabled {
    background-color: #f7f7f7;
    color: var(--c-gray2);
    cursor: not-allowed;
  }

  &:read-only:not(button) {
    background-color: #f7f7f7;
    cursor: default;
  }

  &:hover:not(:disabled):not(:read-only) {
    border-color: var(--c-secondary);
  }

  &:focus,
  &:hover:focus {
    border-color: var(--c-secondary);
    outline: 0;
  }

  &::placeholder {
    color: var(--c-gray2);
    opacity: 1;
  }
}
