:root {
  // color
  --c-primary: #3b5dfb;
  --c-secondary: #3d58c9;

  --c-black: #232323;
  --c-white: #fff;

  --c-gray1: #212126;
  --c-gray2: #75757a;
  --c-gray3: #e5e5e5;
  --c-gray4: #F9F9F9;

  // state-color
  --c-disabled: #bebebe;
  --c-error: #fc5356;
  --c-success: #23c2b8;
  --c-warn: #ff9900;
  --c-fail: #718ebf;
  --c-cta: #5a7299;
  --c-active: #5a71fe;

  // other color
  --c-border: #bbb;
  --c-border2: #E8E8EB;
  --c-bg: #f7f7f7;

  // size
  --w-sidebar: 368px;
  --w-gap: 12px;
  --w-space: 30px;
  --w-cont: 1160px;
  --h-header: 72px;

  // etc
  --ease: cubic-bezier(0, 0.75, 0, 1);
  --gra: linear-gradient(90deg, #0046ff, #8e48ff 40%);
}
