:root {
  // color
  --c-primary: #01207b;
  --c-secondary: #3D58C9;

  --c-black: #232323;
  --c-white: #fff;

  --c-gray1: #333;
  --c-gray2: #999;
  --c-gray3: #e5e5e5;
  --c-gray4: #fafafa;

  // state-color
  --c-disabled: #bebebe;
  --c-error: #FC5356;
  --c-success: #23c2b8;
  --c-warn: #ff9900;
  --c-fail: #718EBF;
  --c-cta: #5a7299;
  --c-active: #5A71FE;

  // other color
  --c-border: #bbb;
  --c-border2: #ddd;
  --c-bg: #f7f7f7;

  // size
  --w-sidebar: 240px;
  --w-gap: 12px;
  --w-space: 30px;
  --w-cont: 1120px;
  --h-header: 72px;

  // etc
  --ease: cubic-bezier(0, 0.75, 0, 1);
  --gra: linear-gradient(90deg, #0046ff, #8e48ff 40%);
}
