// .SOLRatingCard-root: 등급 산출내역 카드
// .SOLCard-root: 제출내역 카드

.SOLRatingCard-root,
.SOLCard-root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: var(--spc-w) var(--spc-w) 24px;

  .content-empty {
    padding: 50px 0;
  }
}

.SOLRatingCard-item,
.SOLCard-item {
  display: flex;
  flex-direction: column;

  &.c--disabled {
    .SOLRatingCard-date,
    .SOLCard-date {
      opacity: 1;
    }
    .SOLRatingCard-title,
    .SOLCard-title {
      .label {
        color: currentColor;
        opacity: 0.8;
      }
    }
    .SOLRatingCard-detail,
    .SOLCard-detail {
      .name {
        opacity: 1;
      }
    }
    .SOLRatingCard-body,
    .SOLCard-body {
      background: #f8f8f8;
      &::before {
        content: none;
      }
    }

    .SOLRatingCard-grade .grade {
      color: inherit;
    }
  }
}

.SOLCard-item.t--submit {
  .SOLLabel-root {
    background-color: rgb(3, 29, 18, 0.4);
    color: #73ffc4 !important;
    font-weight: 500;
    &.c--active {
      color: #73ffc4;
      &::before {
        content: none;
      }
    }
  }

  .SOLCard-title .label {
    color: currentColor;
    opacity: 0.6;
  }

  .SOLCard-body {
    background: linear-gradient(153.58deg, #398bfd 0.66%, #a241ff 125.96%);
    color: #fff;
  }

  .SOLCard-action {
    border: 1px solid rgba(24, 30, 43, 0.1);
    border-top: 0;
  }
}

.SOLRatingCard-title,
.SOLCard-title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;

  .label {
    font-size: var(--font-11);
    font-weight: 600;
    color: rgba(36, 63, 100, 0.6);
  }

  &-option {
    display: flex;
    align-items: center;
    gap: 10px;

    .SOLIconBtn-root {
      margin-right: -0.6em;
      height: 100%;
    }

    .SOLCard-title-detail {
      margin-left: auto;
    }
  }
}

.SOLRatingCard-title {
  padding: 0 10px;
}

.SOLRatingCard-body,
.SOLCard-body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px 22px 12px;
  border: 1px solid rgba(24, 30, 43, 0.1);
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  background: #f1f5ff;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url(../image/img/bg_card.png) no-repeat center center / cover;
  }
}

.SOLCard-body {
  padding: 24px 32px 12px;
}

.SOLRatingCard-detail {
  position: relative;
  display: flex;
  background: rgba(255, 255, 255, 0.76);
  border-radius: 8px;
  padding: 8px 0;

  & > li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-left: 1px solid rgba(24, 30, 43, 0.05);
  }

  .name {
    font-size: var(--font-11);
    opacity: 0.5;
  }

  .value {
    font-size: var(--font-12);
    font-weight: 600;
  }
}

.SOLCard-detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0 6px;

  & > li {
    display: flex;
    gap: 8px;
    border-left: 1px solid rgba(24, 30, 43, 0.05);
  }

  .name {
    font-size: var(--font-12);
    opacity: 0.5;
  }

  .value {
    font-size: var(--font-13);
    font-weight: 600;
  }
}

.SOLRatingCard-grade {
  display: inline-flex;
  align-items: center;
  font-size: var(--font-28);
  font-weight: 700;

  small {
    font-size: var(--font-20);
  }

  .grade {
    color: #1e479f;
  }

  .txt {
    font-size: var(--font-22);
    line-height: 1em;
  }
}

.SOLRatingCard-date,
.SOLCard-date {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: var(--font-10);
  opacity: 0.6;
}

.SOLRatingCard-action,
.SOLCard-action {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(24, 30, 43, 0.1);
  border-top: 0;
  font-size: var(--font-12);
  text-align: center;

  a {
    text-decoration: underline;
  }

  .SOLPopper-root {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    color: #000;

    .SOLIconBtn-root {
      width: 48px;
      height: 100%;
    }
  }

  &-option {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.SOLRatingCard-btn,
.SOLCard-btn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4px;
  color: #1d2129;

  .label {
    font-size: var(--font-14);
    font-weight: 700;
  }

  .date {
    font-size: var(--font-12);
    color: var(--fc-gray2);
  }
}

.SOLCard-empty {
  flex-grow: 1;
  padding: 50px 20px;
}

.card-category {
  display: flex;
  align-items: center;
  padding: 10px var(--spc-w);
  background-color: #f3f5f7;
  font-size: var(--font-12);
  color: #5d6677;
  font-weight: 500;

  .utils {
    margin-left: auto;
  }
}

// 인증서 카드
.SOLCertCard-root {
  .content-empty {
    padding: 50px 0;
  }

  // &:not(:has([class*='swiper-'])) {
  //   padding: var(--spc-w) var(--spc-w) 24px;
  // }
}

.SOLCertCard-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgba(24, 30, 43, 0.1);
  box-shadow: 0px 2px 4px 0px rgba(20, 25, 58, 0.06);

  &.c--disabled {
    box-shadow: none;
    .SOLCertCard-body {
      background-color: #f6f6f6;
    }
    .SOLCertCard-logo {
      opacity: 0.4;
    }
  }

  .SOLCard-detail .name {
    min-width: 50px;
  }
}

.SOLCertCard-body {
  position: relative;
  padding: 30px 24px 20px;
  border-radius: 10px 10px 0 0;
  background-color: #f1f6fd;
}

.SOLCertCard-logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 70px;
}

.SOLCertCard-title {
  margin-bottom: 16px;
  font-size: var(--font-21);
  font-weight: 700;
  line-height: 1.4;
}

.SOLCertCard-action {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 56px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  font-size: var(--font-13);

  .name {
    font-size: var(--font-12);
    color: var(--fc-gray2);
  }
  .date {
    font-weight: 700;
  }
}

.swiper-card {
  margin: 0;
  padding: var(--spc-w) var(--spc-w) 0;

  .swiper-wrapper {
    flex-grow: 1;
    width: unset;
    height: unset;
  }

  .swiper-pagination {
    position: static;
    margin-top: 10px;
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: #171719;
    opacity: 0.16;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #353c49;
  }
}

.SOLSubmitCard-root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.SOLSubmitCard-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 24px 20px;
  border: 1px solid rgba(24, 30, 43, 0.1);
  border-radius: 10px;
}

.SOLSubmitCard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .SOLIconBtn-root {
    min-height: 32px;
    margin-right: -16px
  }
}

.SOLSubmitCard-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--font-13);
  line-height: 1.4;

  .box-msg {
    padding-right: 10px
  }

  .SOLTable-small {
    th {
      width: 10%;
      padding-right: 10px
    }
    td {
      font-size: var(--font-13);
    }
  }

  .SOLSelectGroup-label {
    border: 0;
    padding: 0 0 4px
  }

  .SOLTitle-t2 {
    font-weight: 700
  }
}

.SOLSubmitCard-action {
  display: flex;
  gap: 8px;

  .SOLBtn-root {
    min-width: 65px;
  }
}
