.box-msg {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5em;
  border-radius: 10px;
  background-color: #f7f8fa;
  font-size: var(--font-12);
  font-weight: 500;
  line-height: 1.5;
  color: #1d2129;
  word-break: keep-all;

  .title {
    font-size: var(--font-14);
    color: #404252;
    font-weight: 700;

    em {
      color: var(--c-active);
    }
  }

  .SOLIconBtn-root {
    width: 100%;
    justify-content: space-between;
    padding-left: 0;

    .SOLIcon-root {
      color: #95989b;
      margin-top: -1px
    }
  }
}

.box-err {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  border-radius: 10px;
  background-color: rgba(255, 150, 146, 0.1);
  font-size: var(--font-14);
  font-weight: 500;
  line-height: 1.5;
  color: var(--c-error);
  word-break: keep-all;
}

.box-result {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(24, 30, 43, 0.1);
  box-shadow: 0px 2px 4px 0px rgba(20, 25, 58, 0.06);
}

.msg-warn {
  font-size: var(--font-14);
  text-align: center;
}

.msg-result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-14);

  small {
    margin-top: 1em;
    font-size: var(--font-11);
    color: #8c8c99;
  }
}

.msg-noti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 24px;
  padding-left: 32px;
  background: url(../image/icon/ic_msg_noti.svg) no-repeat left center;

  li::before {
    content: '·';
    padding-right: 0.4em;
  }
}

.msg-err {
  @extend .msg-noti;
  color: var(--c-error);
  background: url(../image/icon/ic_msg_err.svg) no-repeat left center;
}

.msg-terms {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 14px;
  font-weight: 400;
  em {
    font-size: 15px;
    font-weight: 700;
  }
}

.hr-service {
  border: 0;
  border-top: 8px solid #f0f2f4;
}

.hr-comm {
  border: 0;
  border-top: 1px solid rgba(101, 112, 144, 0.1);
  margin: 12px 0;
}

.section-outer > .hr-comm { margin: 0 }

// 8배수
.mt-g2 {
  margin-top: 16px;
}
.mt-g3 {
  margin-top: 24px;
}

.mb-g2 {
  margin-bottom: 16px;
}
.mb-g3 {
  margin-bottom: 24px;
}
