.box-msg {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 18px;
  border-radius: 10px;
  background-color: #f7f8fa;
  font-size: var(--font-12);
  font-weight: 500;
  line-height: 1.5;
  color: #1d2129;
  word-break: keep-all;

  .title {
    font-size: var(--font-14);
    color: #404252;
    font-weight: 700;

    em {
      color: var(--c-active);
    }
  }

  .SOLIconBtn-root {
    width: 100%;
    justify-content: space-between;
    padding-left: 0;

    .SOLIcon-root {
      color: #95989b;
      margin-top: -1px;
    }
  }

  .box-action {
    display: flex;
    justify-content: center;

    .SOLIconBtn-root {
      width: unset;
      min-height: unset;
      height: 26px;
    }
  }

  .SOLTable-small {
    th, td {
      padding-top: 0;
      padding-bottom: 0
    }
  }
}

.box-msg-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
  padding-bottom: 8px;
  box-sizing: content-box;

  .SOLAccordian-btn {
    padding: 0;
  }
}

.box-msg-body {
  display: flex;
  flex-direction: column;

  .SOLTable-small {
    td {
      font-weight: 500;
    }
  }

  .hr-comm.s--sm {
    margin-bottom: 12px;
  }
}

.box-msg-title {
  padding: 10px 0;
  margin: -5px 0 10px;
  border-bottom: 1px solid var(--tb-border);
  color: #8C8C99;
  font-size: var(--font-12);

  em {
    font-size: var(--font-14);
    color: #1D2129;
    padding-right: 4px;
  }
}

.js-accordian-root {
  .box-msg-header {
    padding-bottom: 0;
  }

  .hr-comm.s--sm {
    margin-top: 12px;
  }
}

.box-err {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  border-radius: 10px;
  background-color: rgba(255, 150, 146, 0.1);
  font-size: var(--font-14);
  font-weight: 500;
  line-height: 1.5;
  color: var(--c-error);
  word-break: keep-all;
}

.box-result {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(24, 30, 43, 0.1);
  box-shadow: 0px 2px 4px 0px rgba(20, 25, 58, 0.06);
}

.box-result-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 18px;
}

.box-result-title {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .name {
    font-weight: 500;
    font-size: var(--font-16);
  }
  .price {
    font-weight: 700;
    font-size: var(--font-22);
  }

  .SOLBtn-root {
    margin-top: 15px;
  }

  small {
    color: var(--fc-gray2);
    font-size: var(--font-13);
  }
}

.box-result:has(.SOLTable-small) .box-result-title {
  padding-bottom: 16px;
  margin-bottom: 18px;
  border-bottom: 1px dashed var(--tb-border);
}

.box-outlined {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(24, 30, 43, 0.1);
}

.msg-warn {
  font-size: var(--font-14);
  text-align: center;
}

.msg-result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-14);

  small {
    margin-top: 1em;
    font-size: var(--font-11);
    color: #8c8c99;
  }
}

.msg-noti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 24px;
  padding-left: 32px;
  padding-top: 4px;
  line-height: 1.4;
  background: url(../image/icon/ic_msg_noti.svg) no-repeat left top;

  li::before {
    content: '·';
    padding-right: 0.4em;
  }
}

.msg-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
  gap: 8px;
  font-size: var(--font-13);
  color: var(--fc-gray2);

  li {
    display: flex;
    gap: 8px;
  }

  .name {
    min-width: 75px;
    color: var(--fc-default);

    &::before {
      content: '·';
      padding-right: 0.4em;
    }
  }
}

.msg-list-bullet {
  position: relative;

  li {
    position: relative;
    padding: 2px 0 2px 12px;
    &::before {
      content: '·';
      position: absolute;
      left: 0;
      top: 0;
      font-size: var(--font-16);
    }
  }
}

.msg-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: var(--font-13);
  color: var(--fc-gray1);

  li {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.msg-err {
  @extend .msg-noti;
  color: var(--c-error);
  background: url(../image/icon/ic_msg_err.svg) no-repeat left center;
}

.msg-terms {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: var(--font-14);
  font-weight: 400;
  em {
    font-size: 15px;
    font-weight: 700;
  }
}

.msg-reply-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 8px;

  .date {
    font-size: var(--font-12);
    color: var(--fc-gray2);
  }
}

.msg-reply {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 24px;
}

.msg-btn {
  display: flex;
  justify-content: space-between;

  .SOLTextBtn-root {
    font-size: var(--font-12);
  }
}

.msg-bullet {
  position: relative;
  font-size: var(--font-12);
  color: var(--fc-gray2);
  padding-left: 12px;

  &::before {
    content: '※';
    position: absolute;
    left: 0;
    top: 0;
  }
}

.msg-doc {
  display: flex;
  justify-content: center;
  font-size: var(--font-14);
  gap: 16px;
}

.hr-service {
  border: 0;
  border-top: 8px solid #f0f2f4;
}

.hr-comm {
  border: 0;
  border-top: 1px solid rgba(101, 112, 144, 0.1);
  margin: 12px 0;

  &.s--sm {
    margin: 0;
  }
}

.hr-dashed {
  margin: 12px 0;
  border: 0;
  border-top: 1px dashed rgba(101, 112, 144, 0.1);
}

.section-outer > .hr-comm {
  margin: 0;
}

// nodata
.content-empty {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px var(--spc-w);
  gap: 12px;
  font-size: var(--font-14);
  text-align: center;
  line-height: 1.7;

  &::before {
    content: '';
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #f2f5ff url(../image/img/img_empty_card.svg) no-repeat center center;
  }

  &-action {
    margin-top: auto;
    text-align: center;
  }

  &.ic--ing::before {
    background-image: url(../image/img/img_empty_search.svg);
  }

  &.ic--upload::before {
    background-image: url(../image/img/img_empty_upload.svg);
  }

  &.ic--cert::before {
    background-image: url(../image/img/img_empty_cert.svg);
  }

  &.ic--user::before {
    background-image: url(../image/img/img_empty_user.svg);
  }

  &.ic--notice::before {
    background-image: url(../image/img/img_empty_notice.svg);
  }

  &.ic--doc::before {
    background-image: url(../image/img/img_empty_doc.svg);
  }

  &.ic--report::before {
    background-image: url(../image/img/img_empty_report.svg);
  }

  &.ic--noresult::before {
    background-image: url(../image/img/img_empty_result.svg);
    background-position: 60% 60%;
  }

  &.ic--none {
    padding-top: 10vh;

    &::before {
      content: none;
    }
  }

  .SOLBtn-root {
    padding: 0 42px;
    margin-top: 12px;
  }
}

.content-center {
  padding: 20px 0;
  text-align: center;

  .SOLTextBtn-root {
    color: var(--fc-default);
  }
}

.content-empty-btns {
  width: 100%;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 24px;

  .label {
    margin-bottom: 3px;
    font-size: var(--font-13);
    color: var(--fc-gray1);
    font-weight: 500;
  }
}

.btn-wrap {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

// 8배수
.mt-g1 {
  margin-top: 8px;
}
.mt-g2 {
  margin-top: 16px;
}
.mt-g3 {
  margin-top: 24px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-g1 {
  margin-bottom: 8px;
}
.mb-g2 {
  margin-bottom: 16px;
}
.mb-g3 {
  margin-bottom: 24px;
}

.mt-g2--m {
  margin-top: -16px !important;
}

.mb-g2--m {
  margin-bottom: -16px !important;
}

.mb-g4--m {
  margin-bottom: -32px !important;
}

.gap-g1 {
  gap: 8px;
}
.gap-g2 {
  gap: 16px;
}
.gap-g3 {
  gap: 24px;
}
.gap-g4 {
  gap: 36px !important;
}

.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pb-g2 {
  padding-bottom: 16px !important;
}

.b-btm {
  border-bottom: 1px solid var(--tb-border)
}