.box-msg {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2em;
  padding: 1.5em;
  border-radius: 10px;
  background-color: #F7F8FA;
  font-size: var(--font-12);
  font-weight: 500;
  line-height: 1.5;
  color: #1D2129;
  word-break: keep-all;

  .title {
    font-size: var(--font-14);
    color: #404252;
    font-weight: 700
  }
}

.msg-result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  font-size: var(--font-11);
  color: #8C8C99;
}

.msg-noti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 24px;
  padding-left: 32px;
  background: url(/static/crediview-mo/image/icon/ic_msg_noti.svg) no-repeat left center;

  li::before {
    content: '·';
    padding-right: 0.4em
  }
}