.console-root {
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: var(--min-w);
  max-width: var(--max-w);
  margin: 0 auto;
  background-color: #fff;
}

.console-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: var(--header-h)
}

.console-inner {
  flex-grow: 1;
  position: relative;
  padding: 24px var(--spc-w) 0;
}

.console-footer {
  z-index: 99;
  position: sticky;
  bottom: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 20px 20px 34px;
  background-color: #fff;

  .SOLBtn-root {
    position: relative
  }
}

.footer-topBtn {
  position: absolute;
  bottom: 40px;
  right: var(--spc-w);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #D7D7D7;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  color: #8B8B8B;
  opacity: 0;
  overflow: hidden;
  transition: bottom .2s, opacity .2s;

  &.show {
    opacity: 1;
    bottom: 100%;
  }
}
// .console-content {
  
// }

.console-title {
  display: flex;
  align-items: flex-start;
  height: 48px;
  margin-bottom: 40px;
  border-bottom: 1px solid #777;

  .SOLTitle-t1 {
    line-height: 1;
  }
}

.console-section {
  margin-top: 24px;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 30px
}

.console-header {
  display: flex;
  align-items: center;
  height: 49px;
  padding-bottom: 11px;

  &-option {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    color: var(--fc-gray1);
    font-size: var(--font-13);

    .date {
      padding: 0 8px;
    }
  }
}

.console-bottom {
  .SOLTitle-t2 {
    margin-top: 30px;
  }
}

.console-line {
  margin: 40px 0;
  border-top: 1px solid var(--tb-border);
}

.console-add {
  margin: 10px 0;

  .SOLTextBtn-root {
    color: inherit;
  }
}