.console-root {
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: var(--min-w);
  max-width: var(--max-w);
  margin: 0 auto;
  background-color: #fff;

  form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    // overflow: hidden
  }
}

.console-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: var(--header-h);
}

.console-inner {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px var(--spc-w);
}

.console-footer {
  z-index: 99;
  position: sticky;
  bottom: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  // margin-top: 40px;
  padding: 0 20px;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 82px, rgba(255, 255, 255, 0));

  .SOLBtn-root {
    font-weight: 700;
  }
  .SOLBtn-root.t--contained {
    font-weight: 600;
  }

  &:has(.footer-topBtn) {
    margin-top: 40px;
  }
}

.console-footer-btns {
  position: relative;
  display: flex;
  gap: 8px;
  margin: 20px 0 34px;
}

.footer-topBtn {
  position: absolute;
  top: 0;
  right: var(--spc-w);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  color: #8b8b8b;
  opacity: 0;
  overflow: hidden;
  transition: top 0.2s, opacity 0.2s;

  &.show {
    opacity: 1;
    top: -40px;
  }
}

.console-footer {
  &:not(:has(.console-footer-btns)) {
    .footer-topBtn {
      top: auto;
      bottom: 20px;

      &.show {
        top: auto;
      }
    }
  }
}

.console-title {
  display: flex;
  align-items: flex-start;
  height: 48px;
  margin-bottom: 40px;
  border-bottom: 1px solid #777;

  .SOLTitle-t1 {
    line-height: 1;
  }
}

.console-header {
  display: flex;
  align-items: center;
  height: 49px;
  padding-bottom: 11px;

  &-option {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    color: var(--fc-gray1);
    font-size: var(--font-13);

    .date {
      padding: 0 8px;
    }
  }
}

.console-section {
  &[class*='gap-'] {
    display: flex;
    flex-direction: column;

    & > .console-section-header {
      padding-bottom: 3px;
    }
  }
}

.console-section-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 11px;
  color: var(--fc-gray2);
  font-size: var(--font-12);

  .desc {
    width: 100%;
    line-height: 1.5;
  }
}

.section-header-option {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  color: var(--fc-gray2);
  font-size: var(--font-12);

  .SOLIconBtn-root {
    margin: -15px -12px;
  }
}

.console-bottom {
  .SOLTitle-t2 {
    margin-top: 30px;
  }
}

.console-line {
  margin: 40px 0;
  border-top: 1px solid var(--tb-border);
}

.console-add {
  margin: 10px 0;

  .SOLTextBtn-root {
    color: inherit;
  }
}

.section-outer {
  display: flex;
  flex-direction: column;
  padding: 24px var(--spc-w);
  gap: 24px;

  &.c--bg {
    flex-grow: 1;
    background-color: #f5f7fa;
  }
  &.c--bg-last {
    flex-grow: 1;
    background-color: #f5f7fa;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      inset: 100% 0 auto;
      height: 40px;
      background-color: #f5f7fa;
    }
  }

  &.s--full {
    flex-grow: 1;
  }
}
