.console-root:has(.section-kakao-banner) {
  .SOLHeader-root {
    .SOLHeader-inner {
      background: #fff;
      color: #1d2129;
    }

    .SOLHeader-title-text {
      font-weight: 600;
    }
  }

  .console-footer {
    background: #fff;
    box-shadow: 0px -7px 10px 0px #0000000d;
  }

  .footer-topBtn.show {
    top: -50px;
  }
}

.section-kakao-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 52px;
  background: url(../image/event/kakao/bg_kakao_01.png) no-repeat center bottom / cover;
  color: #d2dced;
  text-align: center;
  line-height: 1.3;

  em {
    color: #fff;
    font-weight: 600;
  }

  .logo {
    width: 70px;
    height: 18px;
    background: url(../../Common/image/crediview/logo/bi_crediview_w_kr.svg) no-repeat center center / contain;
  }

  .tit {
    font-weight: 800;
    font-size: var(--font-42);
    transform: translateY(-4px);
    color: #fff;
  }

  &::after {
    content: '';
    display: block;
    width: calc(100% - 30px);
    max-width: 332px;
    aspect-ratio: 332 / 345;
    background: url(../image/event/kakao/img_kakao_banner.png) no-repeat center bottom / cover;
  }
}

.kakao-tit {
  font-size: var(--font-28);
  text-align: center;
  color: #242a30;
}

.section-kakao-step {
  padding: 25px 0;

  .step-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: var(--font-13);
    color: #4e5262;
    font-weight: 500;
    line-height: 1.6;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      padding-top: 30px;
      border-radius: 16px;
      background-color: #f1f2f6;
      text-align: center;
      overflow: hidden;
    }
  }

  .tit {
    margin-top: 4px;
    font-size: var(--font-18);
    color: #242a30;
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 68px;
    height: 22px;
    border-radius: 22px;
    background-color: #fff;
    color: #0046ff;
    font-size: var(--font-12);
    font-weight: 700;
  }

  .box {
    padding: 4px 12px;
    border-radius: 3px;
    background-color: #e6e6e6;
    font-size: var(--font-11);
  }

  .img {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 317px;
      object-fit: contain;
    }
  }
}

.section-kakao-ch {
  padding: 25px 0;
  background-color: #ffeb40;

  .kakao-tit {
    font-size: var(--font-24);
    color: #000;
  }

  .kakao-ch-logo {
    display: flex;
    justify-content: center;
    gap: 5px;

    .SOLIcon-kakao {
      width: 52px;
      max-width: unset;
    }

    .ic-plus {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 47px;
      height: 47px;
      border-radius: 50%;
      background-color: #221917;
      color: #ffeb40;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        height: 3px;
        transform: translate(-50%, -50%);
        background-color: currentColor;
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg)
      }
    }
  }

  .ch-list {
    display: flex;
    flex-direction: column;
    gap: 34px;
    color: #4e5262;
    font-weight: 500;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
      text-align: center;
    }
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 177px;
    height: 31px;
    border-radius: 31px;
    background-color: #221917;
    color: #fff;
    font-weight: 600;
  }

  .qr {
    width: 133px;
    height: 133px;
    margin-top: 6px;
    padding: 10px;
    background-color: #fff;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 121px;
    height: 121px;
    border-radius: 38px;
    margin: 8px 0 4px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px #0000001a;

    .SOLIcon-kakao {
      width: 64px;
      max-width: unset;
      margin: 5px 0 0 5px;
    }
  }
}

.section-kakao-faq {
  padding: 25px 0;
  background: #e7f0ff linear-gradient(146.27deg, #fffce1 2.94%, rgba(250, 243, 255, 0) 85.17%);

  .faq-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: var(--font-16);
    color: #1d2129;
    line-height: 1.3;
    word-break: keep-all;

    li {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 18px;
      border-radius: 16px;
      background-color: #fff;
    }

    .tit {
      position: relative;
      padding-bottom: 16px;
      padding-left: 34px;
      border-bottom: 1px solid #70737c29;
      font-size: var(--font-17);
      color: #242a30;
      font-weight: 700;

      &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 24px;
        height: 20px;
        background: url(../image/icon/ic_q_bl.svg) no-repeat left center;
      }
    }
  }
}

.section-kakao-noti {
  padding: 10px 0 30px;
  margin-bottom: -40px;
  background-color: #f7f7f7;

  .tit {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #4e5262;

    &::before {
      content: '!';
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid currentColor;
      font-size: 0.9em;
    }
  }

  .msg-list-bullet {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-right: 40px;
    font-size: var(--font-12);
    color: #4e5262;
    line-height: 1.4;
    word-break: keep-all;

    li {
      padding-left: 10px;
    }
  }
}
