.no-touch-action {
  overflow: hidden;
  touch-action: none;
}

.members-root {
  @extend .console-root;
  z-index: 997;
  position: fixed;
  inset: 0;
  overflow-y: auto;

  form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    // overflow: hidden
  }
}

.members-header {
  z-index: 99;
  position: fixed;
  inset: 0 0 auto;
  display: flex;
  align-items: center;
  height: var(--header-h);
  padding-left: calc(var(--spc-w) - 10px);
  padding-right: var(--spc-w);
  background-color: #fff;

  .SOLTitle-t2 {
    line-height: 1;
    transform: translateY(2px);
  }
}

.members-container {
  @extend .console-container;
  padding: calc(var(--header-h) + 16px) var(--spc-w) 0;
  // overflow-y: auto;
}

.members-footer {
  @extend .console-footer;
}

.members-footer-btns {
  @extend .console-footer-btns;
}

.members-loginbox {
  position: relative;

  .service-result {
    padding-top: 48px;
  }
}

.loginbox-inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &:not(:first-child) {
    margin-top: 30px;
  }
}

.loginbox-inputs-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
