// 신용평가 신청
.service-guide {
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--c-bg);
  margin-bottom: 12px;

  &-title {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 24px;
    background-color: #f0f2f5;
  }

  &.st--open .SOLAccordian-body {
    max-height: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.service-guide-step {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 20px;
  counter-reset: index;

  &::after {
    content: '';
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 48px;
    border-left: 2px dotted #dbdbdb;
  }

  & > li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 1;
    min-height: 56px;
    padding-left: 70px;
    color: var(--fc-gray1);
    font-size: var(--font-12);
    line-height: 1.3;
    word-break: keep-all;

    &::before {
      content: '';
      z-index: 1;
      position: absolute;
      left: 0;
      top: 50%;
      translate: 0 -50%;
      width: 56px;
      height: 56px;
      border: 1px solid rgba(36, 63, 100, 0.05);
      border-radius: 50%;
      background: #fff no-repeat center center / 40px;
    }

    &:first-of-type::before {
      background-image: url(/static/crediview-mo/image/img/img_service_step01.svg);
    }

    &:nth-of-type(2)::before {
      background-image: url(/static/crediview-mo/image/img/img_service_step02.svg);
    }

    &:nth-of-type(3)::before {
      background-image: url(/static/crediview-mo/image/img/img_service_step03.svg);
    }

    &:nth-of-type(4)::before {
      background-image: url(/static/crediview-mo/image/img/img_service_step04_2.svg);
    }

    .tit {
      display: flex;
      align-items: center;
      font-size: var(--font-13);
      font-weight: 500;
      color: var(--fc-default);
      &::before {
        counter-increment: index;
        content: '0' counter(index) '.';
      }
    }
  }

  &.SOLAccordian-body {
    max-height: 0;
    transition: max-height 0.2s, padding 0.2s;
  }
}

.service-guide-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  padding: 0 8px;
  margin-left: 6px;
  border-radius: 24px;
  background-color: var(--c-active);
  color: #fff;
  font-size: var(--font-9);

  &.c--primary {
    background-color: #a241ff;
  }
}

.service-result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 15vh
}

.service-result-desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: var(--font-12);
  color: var(--fc-gray2);
  line-height: 1.4;
  padding: 2em 0;

  .title {
    font-size: var(--font-22);
    font-weight: 700;
    color: var(--fc-default);
  }
}

.service-result {
  .console-footer {
    margin-top: 24px;
    &.mgt0 {
      margin-top: 0px;
    }
  }

  .service-result-desc {
    .apply-ratings {
      font-size: 14px;
      font-weight: 600;
      color: var(--c-active);
    }
  }
}

.service-result-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--tb-border);
}

.service-result-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 220px;
  background: url(/static/crediview-mo/image/img/bg_service_progress.png) no-repeat center top / 325px;

  .progress {
    position: relative;
    display: flex;
    width: 240px;
    height: 10px;
    border-radius: 10px;
    background-color: #eef0f3;
    overflow: hidden;
  }

  .value {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to right, #506fff, #a241ff);
    // animation: progressbar 2s infinite ease-in-out;
  }

  .count {
    padding-top: 10px;
    font-weight: 500;
  }

  .msg {
    margin-top: 20px;
    font-size: var(--font-12);
    color: var(--c-active)
  }
}

.service-result-card {
  width: 100%;
  max-width: 360px;
  margin: 56px auto 24px;
  border-radius: 16px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

.service-result-rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  height: 164px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px 16px 0 0;
  border-bottom: 0;
  background: url('../../Common/image/crediview/background/bg_service_card.png') no-repeat center -3px / calc(100% + 6px);
  color: #fff;

  .tit {
    font-size: var(--font-16);
  }
  .desc {
    font-size: var(--font-12);
    opacity: 0.8;
  }
  .rate {
    font-size: var(--font-50);
    font-weight: 700;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.service-result-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  height: 106px;
  background-color: #fff;

  .limit {
    font-size: var(--font-16);
  }
}

.service-result-count {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--fc-gray2);

  .unit {
    min-width: 46px;
    line-height: 2.14;
    padding: 0 4px;
    border-radius: 4px;
    background-color: var(--bc-hover);
    color: var(--c-active);
    font-weight: 700;
  }
}

.service-result-icon {
  width: 80px;
  margin: 0 auto;
}

.service-result-msg {
  width: 100%;
  padding: 0.6em;
  border: 1px solid currentColor;
  font-size: var(--font-16);
  margin-top: 0.8em;
}

.service-result-summary {
  display: flex;
  gap: 24px;
  margin-top: 24px;

  & > * {
    flex: 1;
  }

  .result-box {
    border: 1px solid #dde4f1;
    border-radius: 6px;
    overflow: hidden;

    table {
      border: 0 hidden;
    }
  }

  .result-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #001a4f;
    font-size: var(--font-18);

    .rating {
      font-size: var(--font-80);
      color: var(--fc-rating);
      font-weight: 700;
      margin-top: -0.1em;

      &.c--disabled {
        opacity: 0.3;
      }
      &.s--sm {
        font-size: var(--font-60);
        line-height: 1.5;
      }
    }
  }
}

.service-result-limit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25em;
  margin-top: 48px;
  font-size: var(--font-16);
  &.block {
    flex-flow: wrap;
    & > div:first-child {
      width: 100%;
      padding-bottom: 10px;
    }
  }

  .desc {
    width: 100%;
    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  .import-txt {
    color: var(--c-error);
  }
}

.service-result-graph {
  text-align: left;
}

.result-graph-box {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(212, 205, 199, 0.3);

  .desc {
    margin-top: 8px;
    font-size: var(--font-16);
  }
}

.result-graph-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.result-graph-canvas {
  position: relative;
  flex-grow: 1;
  margin-bottom: -1px;

  img,
  svg {
    display: block;
    width: 100%;
  }
}

.result-graph-tag {
  position: absolute;
  bottom: 20px;

  .tag {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    height: 50px;
    padding: 0 12px;
    border-radius: 7px;
    background-color: #fff;
    font-size: var(--font-24);
    font-weight: 700;
    color: var(--fc-rating);
    line-height: 1.1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateX(-50%);

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      border-style: solid;
      border-color: #fff transparent transparent transparent;
      border-width: 8px 5px;
      transform: translateX(-50%);
    }

    &.c--disabled {
      span {
        opacity: 0.4;
      }
    }
  }
}

.result-graph-legend {
  display: flex;

  & > li {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: var(--font-17);

    .bar {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      color: #fff;
      font-size: var(--font-14);
    }

    .legend {
      display: flex;
      justify-content: space-between;
      padding: 0 2px;
      line-height: 1.82;
    }

    &:first-of-type .bar {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      background-color: #182a50;
    }

    &:nth-child(2) .bar {
      background-color: #3f598a;
    }

    &:nth-child(3) .bar {
      background-color: #617cb2;
    }

    &:nth-child(4) .bar {
      background-color: #7299e7;
    }

    &:nth-child(5) .bar {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      background-color: #ff976e;
    }
  }
}

// 신용평가 신청 - 결제
.service-payment {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.service-payment-info {
  flex-grow: 1;
}

.service-payment-summary {
  display: flex;
  gap: 16px;
  padding: 24px;

  .text {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: var(--font-16);

    & > * {
      display: flex;
      align-items: center;
    }

    em {
      font-size: var(--font-18);
    }
    del {
      padding-left: 0.3em;
      font-size: var(--font-14);
      color: var(--fc-gray2);
    }
  }
}

.service-payment-coupon {
  display: flex;
  gap: 8px;
  padding: 16px 24px;
  align-items: stretch;
}

.service-payment-discount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 36px;
  border-radius: var(--form-round);
  background-color: var(--bc-hover);
  color: var(--c-active);
  font-weight: 700;
  white-space: nowrap;
}

.cash-receipt-txt {
  display: flex;
  justify-content: flex-end;
  font-size: var(--font-14);
  color: var(--fc-default);
  padding-top: 32px;
  span {
    position: relative;
    display: inline-block;
    padding: 2px 0 0 25px;
    &::before {
      content: '';
      background: url('../../Common/image/icon/ic_info.svg') no-repeat center center;
      width: 20px;
      height: 20px;
      border: solid 1px #0a2b582e;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.service-payment-option {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 24px;
}

.service-payment-invoice {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.service-payment-detail {
  background-color: var(--c-bg);
  border-radius: 0 0 7px 7px;
  padding: 24px;
}

// payment result
.service-payment-result {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: unset;
  width: 260px;
}

.service-payment-order {
  display: flex;
  flex-direction: column;
  padding: 30px 24px 24px;
}

.service-payment-price {
  display: flex;
  flex-direction: column;
  gap: 12px;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item-total {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid var(--tb-border);
    font-size: var(--font-16);

    .value {
      font-size: var(--font-24);
    }
  }
  .item-discount {
    color: var(--c-error);
  }
  .value {
    font-size: var(--font-16);
  }
}

.service-payment-foot {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--c-bg);
  border-radius: 0 0 7px 7px;

  .SOLBtn-root {
    font-weight: 600;
  }
}

.service-payment-terms {
  margin-bottom: 18px;

  dd {
    display: flex;
    padding-top: 12px;
    margin-top: 12px;
    border-top: 1px solid var(--tb-border);

    button {
      margin-left: auto;
    }
  }
}

// 신용평가등급확인서 제출
.service-reception {
  display: flex;
  gap: 24px;

  & > li {
    flex: 1;

    &.item-public .service-reception-btn::before {
      background-image: url(../../Common/image/img/img_reception_public.svg);
    }

    &.item-private .service-reception-btn::before {
      background-image: url(../../Common/image/img/img_reception_private.svg);
    }

    &.item-own .service-reception-btn::before {
      background-image: url(../../Common/image/img/img_reception_own.svg);
    }

    &:only-of-type {
      max-width: calc(50% - 5px);
    }
  }

  &-btn {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    width: 100%;
    border: 1px solid var(--tb-border);
    border-radius: 8px;
    color: var(--fc-gray1);
    font-size: var(--font-13);
    line-height: 1.5;
    text-align: center;
    transition: border-color 0.2s;

    &::before {
      content: '';
      height: 140px;
      background: #f2f5ff no-repeat center top;
    }

    &:focus,
    &.t--active {
      border-color: var(--c-active);
      box-shadow: 0 3px 12px rgba(55, 29, 110, 0.07);
    }

    .wrapper-desc {
      padding: 32px 16px;
    }
  }
}

.service-section {
  margin-top: 40px;
  text-align: center;

  .console-footer {
    margin-top: 40px;
  }

  .wrapper-desc {
    align-items: center;
  }

  .wrapper-desc-pd20 {
    padding: 30px 0px 0px 0;
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.service-summary {
  display: flex;
  margin-bottom: 40px;
  padding: 20px 0;
  border: 1px solid var(--tb-border);
  border-radius: 8px;

  & > li {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0 20px;
    font-size: var(--font-12);
    color: var(--fc-gray1);

    &:not(:first-of-type) {
      border-left: 1px solid var(--tb-border);
    }

    &.item-btns {
      max-width: 180px;
    }
  }

  .SOLBtn-root {
    width: 100%;
  }

  .value {
    font-size: 18px;
    line-height: 28px;
    color: var(--fc-default);
  }

  .rate {
    font-size: var(--font-24);
  }

  &-btns {
    display: flex;
    gap: 8px;

    .SOLBtn-root {
      width: 62px;
    }
  }
}

.service-terms {
  border: 1px solid var(--tb-border);
  border-radius: 8px;
  padding: 16px 16px 6px;
}

.service-terms-header {
  padding-bottom: 16px;
  margin-bottom: 6px;
  border-bottom: 1px solid var(--tb-border);
  .t--terms-md .SOLCheck-label {
    font-size: var(--font-16);
  }
}

.service-terms-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  font-size: var(--font-16);

  .SOLIconBtn-root {
    color: #95989b;
    &:focus,
    &:active {
      color: inherit;
    }
  }
  .t--terms-md .SOLCheck-label {
    font-size: var(--font-14);
  }
}

.service-terms-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0;
  font-size: var(--font-16);
}

// SOLCheck-root t--terms-md
