<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi"
    />

    <!--  -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/app/backoffice/resource/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/src/app/backoffice/resource/css/common.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/app/backoffice/resource/css/lux.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/app/backoffice/resource/css/pa.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/app/backoffice/resource/css/dashboard.css"
    />

    <title>백오피스_신규가입결제현황_대시보드</title>
  </head>
  <body>
    <div class="pa">
      <div class="pa_content">
        <div class="dashborad-wrap">
          <ul class="cumulative-component payment-type">
            <li>
              <div class="box">
                <p class="ico">
                  <span class="md-tit">크레디뷰결제정보</span>
                </p>
                <div class="right">
                  <p>
                    <span class="sm-tit">15건</span>
                  </p>
                  <p>
                    <span class="sm-count">2,217,825원</span>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="box">
                <p class="ico">
                  <span class="md-tit">더존페이결제정보</span>
                </p>
                <div class="right">
                  <p>
                    <span class="sm-tit">법인</span>
                    <span class="sm-count">180개</span>
                  </p>
                  <p>
                    <span class="sm-tit">개인</span>
                    <span class="sm-count">20개</span>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="box">
                <p class="ico">
                  <span class="md-tit">대사불일치</span>
                </p>
                <div class="right">
                  <p>
                    <span class="sm-tit"><em>0</em>건</span>
                  </p>
                  <p>
                    <span class="sm-count"><em>0</em>원</span>
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
