.SOLInput-root {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &.t--row {
    flex-direction: row;
    align-items: center;

    .SOLInput-box {
      width: 60%;
      flex-shrink: 0;
    }
  }

  .SOLBtn-root {
    min-width: 105px;
    padding: 0 10px
  }

  &.s--lg {
    gap: 12px;
    .SOLInput-label {
      font-size: var(--font-16);
      font-weight: 700;
      color: var(--fc-default);
    }
    .SOLInput-field {
      font-size: var(--font-15);
    }

    .SOLInput-box {
      height: 52px;
    }
  }
}

.SOLInput-label {
  display: inline-flex;
  color: var(--fc-gray2);
  font-weight: 500;
  white-space: nowrap;

  &.t--empty {
    padding-bottom: 0;
    margin-top: -5px;
  }

  .require {
    &::after {
      content: '*';
      color: var(--c-error);
    }
  }

  .count {
    margin-left: auto;
    font-size: var(--font-11);
    color: rgba(112, 115, 124, 0.48);
  }
}

@mixin btnView {
  opacity: 1;
  max-height: 30px;
}

.SOLInput-fbox {
  display: flex;
  align-items: stretch;
  gap: 4px;

  &:has(.SOLBtn-root) {
    .SOLInput-box:has(.SOLInput-field:disabled) {
      background-color: #fff;
    }
  }
}

.SOLInput-box {
  @include formBox;
  display: flex;
  padding: 0;

  &:has(.SOLInput-field:disabled),
  &:has(.SOLInput-field:read-only) {
    background-color: var(--form-c-bg-dis);
  }

  &:has(.SOLInput-field:focus, button:focus) {
    border-color: var(--c-active);
    .SOLInput-wrap--hidden {
      @include btnView;
    }
  }
  // &:has(input:not(:read-only, :placeholder-shown)) {
  //   .SOLInput-wrap--hidden {
  //     @include btnView;
  //   }
  // }
}

.SOLInput-byte {
  text-align: right;
  .SOLInput-byte--count {
    width: 170px;
    i {
      font-style: normal;
      color: #8b8b8f;
      font-size: var(--font-12);
      padding: 0 1px 0 0;
      display: inline-block;
      width: auto;
      &:last-child {
        padding: 0 0 0 3px;
      }
    }
  }
  .SOLInput-msg {
    width: auto;
    text-align: left;
  }
}

.SOLInput-byte.s--between {
  display: flex;
  justify-content: space-between;
}

.SOLInput-byte.mgt5 {
  margin-top: 5px;
}

.SOLInput-field {
  position: relative;
  font-size: var(--font-15);
  width: 100%;
  height: 100%;
  padding: 0 var(--form-pd);
  border: 0;
  background-color: transparent;

  &:focus,
  &:hover:focus {
    outline: 0;
  }
  &::placeholder {
    color: var(--form-c-text-dis);
    opacity: 1;
  }
  &:disabled {
    color: var(--form-c-text-dis);
  }

  &[type='date'] {
    padding-right: 20px;
    background: url(../../Common/image/icon/ic_calendar.svg) no-repeat right 10px center / 16px;

    &::-webkit-calendar-picker-indicator {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      color: transparent;
    }

    &::-webkit-clear-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
}

.SOLInput-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: var(--font-12);
  padding-right: 4px;
  padding-left: 5px;
}

.SOLInput-btnwrap {
  position: relative;
  display: flex;
  gap: 8px;

  .SOLBtn-root {
    min-width: 105px;
  }
}

.SOLInput-btnwrap--between {
  position: relative;
  display: flex;
  justify-content: space-between;
  span.txt {
    padding: 10px 0 0 0;
  }
  .SOLBtn-root {
    min-width: 105px;
  }
}

.SOLInput-icon {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
}

.SOLInput-wrap--btn {
  position: absolute;
  right: 8px;
  transform: translateY(-50%);
}

.SOLInput-wrap--hidden {
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  color: #fff;
  font-size: var(--font-12);
  transition: max-height 0.2s 0.1s, opacity 0.2s 0.1s;

  &:hover,
  &:has(button:focus) {
    @include btnView;
  }
}

.SOLInput-btn {
  flex: 0 0 auto;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #bbbbbd;
  color: #fff;
  font-size: var(--font-17);

  &.SOLIcon-view,
  &.SOLIcon-view--off {
    background-color: transparent;
    font-size: var(--font-20);
    width: 20px;
    height: 20px;
  }
}

.SOLInput-msg {
  width: 100%;
  font-size: var(--font-13);
  &.left {
    text-align: left;
  }
  &.ps-st {
    position: absolute;
    top: 65px;
    left: 0;
  }
}

.SOLInput-count {
  padding-right: 6px;
  font-size: var(--font-13);
  color: var(--c-error);
  order: -1;
}

.SOLInput-root {
  &.c--error {
    .SOLInput-box {
      border-color: var(--c-error) !important;
    }
    .SOLInput-icon {
      background-color: var(--c-error);
      &::after {
        content: '!';
      }
    }
  }

  &.c--warn {
    .SOLInput-box {
      border-color: var(--c-warn) !important;
    }
    .SOLInput-icon {
      &::after {
        content: '!';
        position: relative;
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        border-style: solid;
        border-width: 18px 10px;
        border-color: transparent transparent var(--c-warn);
        border-radius: 3px;
      }
    }
  }

  &.c--success {
    .SOLInput-box {
      border-color: var(--c-success) !important;
    }
    .SOLInput-icon {
      background-color: var(--c-success);
    }
  }

  &.c--active {
    .SOLInput-box {
      border-color: var(--c-active) !important;
    }
    .SOLInput-icon {
      background-color: var(--c-active);
    }
  }
}
