.SOLSelectGroup-root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 6px;

  &.t--min {
    flex-direction: row;

    .SOLSelectGroup-label {
      flex-direction: column;
      gap: 3px;
      text-align: center;

      input[type='radio'] {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }

      .SOLTitle-t4 {
        font-size: var(--font-16);
        line-height: 1.4;
      }

      .label {
        gap: 6px;
      }
    }
  }

  &.t--revers {
    .SOLSelectGroup-label {
      padding-right: 60px;
      font-size: var(--font-12);

      .label {
        min-width: 0;
      }
      
      .SOLTitle-t4 {
        line-height: 1.3;
      }

      input[type='radio'] {
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
      }
    }
  }

  .SOLCombobox-root {
    width: unset;
    flex-grow: 1;
  }
}

.SOLSelectGroup-label {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border: 1px solid var(--tb-border);
  border-radius: 12px;
  line-height: 1.5;
  font-size: var(--font-13);
  transition: border-color 0.2s;
  word-break: keep-all;

  input[type='radio'] {
    appearance: none;
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    border: 1px solid rgba(10, 43, 88, 0.18);
    border-radius: 50%;
    background-color: #fff;
    color: var(--c-disabled);
    transition: border-color 0.2s;

    &:checked {
      border: 6px solid var(--c-active);
    }

    &:hover,
    &:hover + span {
      cursor: pointer;
    }

    &:disabled {
      background-color: #f5f5f5;
      cursor: not-allowed;
    }
  }

  &:has(input:checked) {
    border-color: var(--c-active);
    box-shadow: 0 2px 10px rgba(7, 31, 75, 0.1);
  }

  &:has(input:disabled) {
    cursor: not-allowed;

    & > * {
      opacity: 0.7;
    }

    .SOLTitle-t4,
    .label {
      color: var(--fc-gray2);
    }

    .ico {
      filter: grayscale(100%);
      opacity: 0.4;
    }
  }

  .label {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: var(--fc-gray1);
    line-height: 1.2;
  }

  .ico {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background: #f2f5ff no-repeat center center;
  }

  .ico-card {
    background-image: url(../../Common/image/img/img_ic_card.svg);
  }
  .ico-account {
    background-image: url(../../Common/image/img/img_ic_account.svg);
  }
  .ico-virtual {
    background-image: url(../../Common/image/img/img_ic_virture.svg);
  }
  .ico-public {
    background-image: url(../image/img/img_ic_public.svg);
  }
  .ico-private {
    background-image: url(../image/img/img_ic_private.svg);
  }
  .ico-own {
    background-image: url(../image/img/img_ic_own.svg);
  }
  .ico-company {
    background-image: url(../../Common/image/img/img_ic_company.svg);
  }
  .ico-doc {
    background-image: url(../image/img/img_ic_doc.svg);
  }
  .ico-service-doc {
    width: 57px;
    height: 54px;
    border-radius: 0;
    background-color: transparent;
    background-image: url(../image/img/img_ic_service.svg);
  }
  .ico-service-grade {
    width: 57px;
    height: 54px;
    border-radius: 0;
    background-color: transparent;
    background-image: url(../image/img/img_ic_service_grade.svg);
  }

  .ico-private {
    background-size: 50%;
  }

  &.t--column {
    flex-direction: column;
    align-items: stretch;

    .item {
      display: flex;
      align-items: center;
      gap: 18px;
    }

    .foot {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      border-top: 1px solid var(--tb-border);
      margin-top: -3px;
      padding-top: 20px;
    }

    .price {
      display: flex;
      align-items: flex-end;
      gap: 8px;
      font-size: var(--font-18);
    }

    del {
      font-size: var(--font-16);
      color: #8b8b8f;
    }
  }
}
