@charset "UTF-8";

// 공통
@import '../../Common/font/pretendard/pretendardvariable.css';
@import 'base/normalize';
@import 'base/mixin';
@import 'base/variable';
@import 'base/animations';
@import 'base/default';
@import 'base/color';
@import 'base/font';

// vendor
@import '../vendors/swiper-bundle.min.css';

// 컴포넌트
@import 'components/cssicon';
@import 'components/button';
@import 'components/combobox';
@import 'components/snackbar';
@import 'components/radio';
@import 'components/checkbox';
@import 'components/textfield';
@import 'components/alert';
@import 'components/breadcrumbs';
@import 'components/stickynav';
@import 'components/accordian';
@import 'components/pagenation';

// 레이아웃 구성요소
@import 'partials/header';
@import 'partials/footer';

// 페이지
@import 'pages/common';
@import 'pages/sub';
@import 'pages/terms';
@import 'pages/contact';
@import 'pages/hr';
@import 'pages/service';
@import 'pages/about';
@import 'pages/board';
@import 'pages/intro';


@import "../../Techfin-web/css/components/styles/font";
@import "../../Techfin-web/css/techfin/page/table";
@import '../../Techfin-web/css/techfin/page/user-guide';