<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi"
    />

    <!--  -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../resource/css/font-awesome.min.css"
    />

    <link rel="stylesheet" type="text/css" href="../resource/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../resource/css/lux.css" />
    <link rel="stylesheet" type="text/css" href="../resource/css/pa.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../resource/css/crediview.css"
    />

    <title>테크핀레이팅스 플랫폼 관리자</title>

    <style type="text/css"></style>

    <script
      type="text/javascript"
      src="../resource/js/inko/inko.min.js"
    ></script>
    <script type="text/javascript">
      var profile = "${profile}";
      $(document).ready(function () {
        if (
          document.location.href.indexOf("localhost") > -1 ||
          document.location.href.indexOf("127.0.0.1") > -1
        ) {
          // document.title = "로컬 Wehago Platform Manager";
        } else if (
          document.location.href.indexOf("172.16.114.61") > -1 ||
          document.location.href.indexOf("dev.pm.wehago.com") > -1
        ) {
          //document.title = "개발 Wehago Platform Manager";
        }
        // 아이디 포커스
        $("#txtId").focus();

        /**
         * id 엔터 클릭시
         * @since 1.0
         */
        $("#txtId").keypress(function (e) {
          if (e.keyCode == 13) {
            $("#txtPw").focus();
            return false;
          }
        });

        /**
         * password 엔터 클릭시
         * @since 1.0
         */
        $("#txtPw").keypress(function (e) {
          if (e.keyCode == 13) {
            $("#btnLogin").trigger("click");
            return false;
          }
        });

        /**
         * 로그인 버튼 클릭시
         */
        $("#btnLogin").click(function (e) {
          login();

          return false;
        });

        $("#popClose").click(function (e) {
          $("#pop_join").hide();
          return false;
        });

        $("#popOpen").click(function (e) {
          $("#userId").val("");
          $("#userPw").val("");
          $("#userName").val("");
          $("#userEmail").val("");
          $("#userMobile").val("");

          $("#pop_join").show();
          return false;
        });

        /**
         * 아이디 저장 클릭시 쿠키저장
         */
        $("#chkSaveId").click(function (e) {
          if ($("#chkSaveId").prop("checked")) {
            $.cookie("id", $("#txtId").val(), { expires: 365 });
            $.cookie("saveId", "true", { expires: 365 });
          } else {
            $.cookie("id", "");
            $.cookie("saveId", "false");
          }
        });

        /**
         * 쿠키 셋팅
         * @since 1.0
         */
        if ($.cookie("saveId") == "true") {
          $("#chkSaveId").prop("checked", true);
          $("#txtId").val($.cookie("id"));
        } else {
          $("#chkSaveId").prop("checked", false);
          $("#txtId").val("");
        }
      });

      /**
       * 로그인
       * @since 1.0
       */
      function login() {
        if ($("#txtId").val().length < 1) {
          DcloudToast.alert("아이디를 입력하세요.");
          return;
        }
        if ($("#txtPw").val().length < 1) {
          DcloudToast.alert("패스워드를 입력하세요.");
          return;
        }

        var login_ip = getLocalIp();

        if (login_ip.length > 20) {
          login_ip = "0.0.0.0";
        }

        var login_device = "";
        var login_device_type = "";
        // var deviceKeyWords = new Array("win16|win32|win64|mac|macintel";
        var deviceKeyWords = new Array(
          "win16",
          "win32",
          "win64",
          "mac",
          "macintel",
          "iPhone",
          "iPod",
          "BlackBerry",
          "Android",
          "Windows CE",
          "LG",
          "MOT",
          "SAMSUNG",
          "SonyEricsson"
        );
        var webKeyWords = "win16|win32|win64|Mac|macintel";
        for (var word in deviceKeyWords) {
          var reg = new RegExp(deviceKeyWords[word], "gi");
          if (navigator.userAgent.match(reg) != null) {
            login_device = deviceKeyWords[word];
            if (webKeyWords.search(reg) != -1) {
              login_device_type = "WEB";
            } else {
              login_device_type = "MOBILE";
            }
            break;
          }
        }

        var inko = new Inko();

        const info = getBrowserInfo();
        var browserInfo = info.browserName + " " + info.browserVersion; //브라우저 정보
        var osInfo = info.os + " " + info.osVersion; //os정보
        console.log(browserInfo + osInfo);

        var param = {
          userId: $("#txtId").val(),
          userPw: inko.ko2en($("#txtPw").val()),
          loginOs: osInfo,
          loginPm: browserInfo,
          login_ip: login_ip,
          login_device: login_device,
          login_device_type: login_device_type,
        };

        postAjax("/api/login/login", param, function (data) {
          if (data.resultCode == "0000") {
            document.location.href = "/main";
          } else {
            bofAlert(data.resultMsg);
          }
        });
      }

      function getLocalIp() {
        return "${login_ip}";
      }

      function userJoin() {
        var param = {
          userId: $("#userId").val(),
          userPw: inko.ko2en($("#userPw").val()),
          userNm: $("#userNm").val(),
          userEmail: $("#userEmail").val(),
          userMobile: $("#userMobile").val(),
        };

        var validChk = false;

        Object.keys(param).forEach(function (key) {
          var required = $("#" + key).attr("req");
          console.log(param[key]);
          console.log(required);
          validChk = false;
          if (required === "T" && (param[key] == null || param[key] == "")) {
            var placeholder = $("#" + key).attr("placeholder");
            DcloudToast.alert("'" + placeholder + "'은(는) 필수입력입니다.");
            validChk = true;
          }
        });
        if (!validChk) {
          Ajax.ajax("/api/login/user/add", param, function (data) {
            var wehagoResult = data.responseJSON;
            if (wehagoResult.resultCode != "0000") {
              DcloudToast.alert(wehagoResult.resultMsg);
              return;
            }
            $("#pop_join").hide();
          });
        }
      }

      //브라우저 정보
      function getBrowserInfo() {
        const userAgent = navigator.userAgent;
        let browserName, browserVersion, os, osVersion;

        // 브라우저 정보 파싱
        if (userAgent.includes("Chrome") && !userAgent.includes("Edg")) {
          browserName = "Chrome";
          browserVersion = userAgent.match(/Chrome\/([\d.]+)/)[1];
        } else if (userAgent.includes("Firefox")) {
          browserName = "Firefox";
          browserVersion = userAgent.match(/Firefox\/([\d.]+)/)[1];
        } else if (
          userAgent.includes("Safari") &&
          !userAgent.includes("Chrome")
        ) {
          browserName = "Safari";
          browserVersion = userAgent.match(/Version\/([\d.]+)/)[1];
        } else if (userAgent.includes("Edg")) {
          browserName = "Edge";
          browserVersion = userAgent.match(/Edg\/([\d.]+)/)[1];
        } else if (userAgent.includes("OPR") || userAgent.includes("Opera")) {
          browserName = "Opera";
          browserVersion = userAgent.match(/(Opera|OPR)\/([\d.]+)/)[2];
        } else {
          browserName = "Unknown";
          browserVersion = "Unknown";
        }

        // OS 정보 및 버전 파싱
        if (userAgent.includes("Windows NT")) {
          os = "Windows";
          const version = userAgent.match(/Windows NT ([\d.]+)/)[1];
          osVersion =
            version === "10.0"
              ? "10"
              : version === "6.3"
              ? "8.1"
              : version === "6.2"
              ? "8"
              : version === "6.1"
              ? "7"
              : version === "6.0"
              ? "Vista"
              : version === "5.1"
              ? "XP"
              : "Unknown";
        } else if (userAgent.includes("Mac OS X")) {
          os = "MacOS";
          osVersion = userAgent
            .match(/Mac OS X ([\d_]+)/)[1]
            .replace(/_/g, ".");
        } else if (userAgent.includes("Android")) {
          os = "Android";
          osVersion = userAgent.match(/Android ([\d.]+)/)[1];
        } else if (
          userAgent.includes("iPhone OS") ||
          userAgent.includes("iPad OS")
        ) {
          os = "iOS";
          osVersion = userAgent.match(/OS ([\d_]+)/)[1].replace(/_/g, ".");
        } else if (userAgent.includes("Linux")) {
          os = "Linux";
          osVersion = "Unknown";
        } else {
          os = "Unknown";
          osVersion = "Unknown";
        }

        return {
          browserName,
          browserVersion,
          os,
          osVersion,
        };
      }
    </script>
  </head>
  <body>
    <div class="snbnext landing">
      <div class="pa">
        <!-- 컨텐츠 영역 -->
        <!-- <div class="login_wrap">
          <h1 class="logo">
            <img src="../resource/imgs/common/tech_logo_bl.png" alt="WEHAGO" />
          </h1>
          <h2 class="sub_tit">플랫폼 관리자</h2>
          <form method="post" action="">
            <fieldset>
              <legend class="blind">Login</legend>
              <label for="txtId" class="blind">아이디 입력</label>
              <input
                type="text"
                id="txtId"
                placeholder="아이디"
                maxlength="50"
                style="ime-mode: disabled"
              />
              <label for="txtPw" class="blind">패스워드 입력</label>
              <input type="password" id="txtPw" placeholder="패스워드" />
              <button type="button" class="login_btn" id="btnLogin">
                <span>로그인</span>
              </button>
            </fieldset>

            <div class="chk_bx">
              <span class="LUX_basic_switch">
                <span class="LUXckbx">
                  <input type="checkbox" id="chkSaveId" />
                  <span class="sp_lux"></span>
                  <label for="chkSaveId">아이디저장</label>
                </span>
              </span>
            </div>
          </form>
        </div> -->
        <div class="members-container">
          <div class="members-loginbox">
            <div class="loginbox-title">
              <h3 class="SOLTitle-t2">플랫폼 관리자</h3>
              <img
                src="../resource/imgs/common/tech_logo_bl.png"
                alt="WEHAGO"
              />
            </div>

            <form method="post">
              <div class="loginbox-inputs">
                <label class="SOLInput-root s--lg">
                  <div class="SOLInput-box">
                    <input
                      type="text"
                      title="아이디"
                      placeholder="아이디를 입력하세요."
                      value="kimtech@techfinratings.com"
                      class="SOLInput-field"
                    />
                    <span class="SOLInput-wrap">
                      <span class="SOLInput-wrap--hidden">
                        <button
                          type="button"
                          class="SOLInput-btn SOLIcon-close"
                        >
                          <span class="blind">Del</span>
                        </button>
                      </span>
                    </span>
                  </div>
                </label>
                <label class="SOLInput-root s--lg">
                  <div class="SOLInput-box">
                    <input
                      type="password"
                      title="비밀번호"
                      placeholder="비밀번호를 입력하세요"
                      value="password123"
                      class="SOLInput-field"
                    />
                    <span class="SOLInput-wrap">
                      <span class="SOLInput-wrap--hidden">
                        <!-- <button type="button" class="SOLInput-btn SOLIcon-view">
                          <span class="blind">View</span>
                        </button> -->
                        <button
                          type="button"
                          class="SOLInput-btn SOLIcon-close"
                        >
                          <span class="blind">Del</span>
                        </button>
                      </span>
                    </span>
                  </div>
                </label>
              </div>
              <div class="loginbox-action">
                <button type="button" class="SOLBtn-root s--xl t--contained">
                  로그인
                </button>
              </div>
              <div class="loginbox-util">
                <div class="SOLCheck-root">
                  <label class="SOLCheck-label">
                    <input type="checkbox" name="" />
                    <span>아이디 저장</span>
                  </label>
                </div>
                <ul class="loginbox-menu">
                  <li><a href="../findid/">아이디 찾기</a></li>
                  <li><a href="../findpw/">비밀번호 찾기</a></li>
                  <li><a href="../signup/">회원가입</a></li>
                </ul>
              </div>
            </form>
          </div>
        </div>
        <!-- //컨텐츠 영역 -->
      </div>
      <footer>Copyright © Techfin ratings Co,.Ltd All Rights Reserved.</footer>
    </div>
  </body>
</html>
