.TMAccordian-root {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.TMAccordian-item {
  line-height: 1.5;
}

.TMAccordian-title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 183px;
  padding: 22px 24px;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  background: no-repeat center center / cover;

  &.bg-case-01 {
    background-image: url(../image/bg/bg_case_01.png);
  }
  &.bg-case-02 {
    background-image: url(../image/bg/bg_case_02.png);
  }
  &.bg-case-03 {
    background-image: url(../image/bg/bg_case_03.png);
  }
  &.bg-case-04 {
    background-image: url(../image/bg/bg_case_04.png);
  }
  &.bg-case-05 {
    background-image: url(../image/bg/bg_case_05.png);
  }
  &.bg-case-06 {
    background-image: url(../image/bg/bg_case_06.png);
  }
}

.TMAccordian-btn {
  margin-top: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;

  .TMIcon-down {
    transition: transform 0.2s;
  }
}

.TMAccordian-body,
.js-accordian-body {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;

  .TMSearchbox-root {
    flex: 1;
  }
}

.js-accordian-root,
.TMAccordian-item {
  &.st--open {
    .js-accordian-body {
      max-height: 500px;
    }

    .TMIcon-down {
      transform: rotate(-180deg);
    }
  }
}

.js-accordian-root:not(.TMAccordian-item).st--open {
  .js-accordian-body {
    overflow: visible;
  }
}
