.TMStickyNav-root {
  position: relative;

  .sub-section {
    padding-top: 110px;
    margin-top: -54px;
  }
}

.TMStickyNav-sticky {
  z-index: 99;
  position: sticky;
  top: 56px;
  margin-bottom: 24px;
  background-color: #fff;
  transition: top 0.2s 0.2s;
}

:root {
  &:has(.TMHeader-root.sticky) {
    .TMStickyNav-sticky {
      top: 0;
    }
  }
}

.TMStickyNav-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 52px;
  padding: 0 12px;
  border-bottom: 2px solid #222;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  color: var(--fc-default);
}

.TMStickyNav-list {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s,
    box-shadow 0.3s;

  &.show {
    max-height: 500px;
    box-shadow: 0px 4px 8px 0px #00203e1a;
  }
}

.TMStickyNav-link,
.TMStickyNav-tab-btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 52px;
  padding: 0 12px;
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  text-align: left;

  &.on {
    background-color: rgba(56, 105, 252, 0.04);
    color: var(--c-active);
  }
}

// .TMStickyNav-sticky {
//   margin-bottom: 60px
// }

.TMStickyNav-tab-cont {
  display: none;

  &.show {
    display: block;
  }
}

.TMStickyNav-start {
  z-index: 9999;
  position: absolute;
  top: 0;

  &.open {
    top: -56px;
  }
}

.container-wide {
  position: relative;
}
