<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>운영관리-등급신청내역</title>
    <script type="text/javascript" src="../resource/js/common.js"></script>
    <script src="../resource/js/summernote/summernote-lite.js"></script>
    <script src="../resource/js/summernote/lang/summernote-ko-KR.js"></script>

    <link rel="stylesheet" href="../resource/css/summernote/summernote-lite.css">
    <style>
        .flex-box {
            display: flex;
            gap: 10px;
            padding: 10px;
            margin-top: 20px;
        }

        #emailform,
        #emailform table,
        #emailform tbody,
        #emailform th,
        #emailform tr,
        #emailform td {
            border: none !important;
            background-color: transparent;
            /* 배경색 초기화 */
        }
    </style>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#btnSubmit").click(function () {
                bofAlert("시스템 준비중입니다.")
            });

            $("#btnRecent").click(function () {
                bofAlert("시스템 준비중입니다.")
            });

            $("#btn_list").click(function () {
                scrollToTopOfElement("reqHisContainer");
                $("#reqHisDetailViewArea").empty();
                getReqHisGridData(1, "reqHisGridArea");
            })

        });

        /* function viewList(){
            $("#reqHisDetailViewArea").empty();
        } */

        function getReqHisDetail(noReq) {
            var param = {
                noReq: noReq
            }
            postAjax("/api/cbsvc/run/reqhis/detail", param, function (data) {
                var data = data.resultData;
                var reqHisDetail = data.reqHisDetail;
                reqHisDetail.amt_pay = formatCurrency(reqHisDetail.amt_pay) + ' 원'
                reqHisDetail.no_biz = formatBusinessNumber(reqHisDetail.no_biz);
                reqHisDetail.no_corp = formatCorpNumber(reqHisDetail.no_corp);
                reqHisDetail.da_open = formatDateString(reqHisDetail.da_open);
                reqHisDetail.hp_dam = formatPhoneNumber(reqHisDetail.hp_dam);
                setDataValue(reqHisDetail);
            })
        }

        /**
         * 탭 조회
         */
        /* function onTabActive(obj,id){ 
            if(id == "submitHis"){
                $("#hisDetailViewArea").empty();
                openSubmitRecent('/cbsvc/run/submithis-detail');
            }else if(id == "recentHis"){
                $("#hisDetailViewArea").empty();
                openSubmitRecent('/cbsvc/run/reqhis-recent');
            }
        	
        } */

        function openSubmitRecent(url) { //계정관리 수정
            Dcloud.showLoading();
            $("#reqHisDetailViewArea").load(url, function (response, status, xhr) {
                console.log(status);
                Dcloud.closeLoading();

                if (status === 'error') {
                    $("#divContents").load('/common/error_404', function () { });
                }

            });
        }

        //필터 show/hide 기능
        $(document).ready(function () {
            $('.filter-btn span').hover(
                function () {
                    $(this).siblings('.hover').show();
                },
                function () {
                    $(this).siblings('.hover').hide();
                }
            );
        });




    </script>

    <head>

    <body>
        <div class="pa_container">
            <!-- 컨텐츠 영역 -->
            <div class="pa_content">
                <div class="LUX_basic_tbl th_border">
                    <div>
                        <div style="float: left; margin-left: 5px; margin-top: 3px;">
                            <h2 style="font-size: 14px;">양식 조회</h2>
                        </div>
                        <div class="dialog_btnbx" style="text-align:right;">
                            <div>
                                <button type="button" id="btn_init" class="LUX_basic_btn Default basic search_btn"
                                    style="width: 68px;">
                                    <!-- <span>수정</span> -->
                                    <span>저장</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="flex-box">
                        <table class="tblarea2" style="border: 1px solid #e5e5e5; width: 60%; min-width: 750px">
                            <colgroup>
                                <col style="width: 20%;">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th class="celcnt" scope="row" style="vertical-align: middle">
                                        <div class="inbx" style="text-align: left;">제목</div>
                                    </th>
                                    <td class="cellft" style="padding:3px">
                                        <div class="inbx" style="margin-left: -25px;">
                                            <div class="LUX_basic_text">
                                                <div class="inbx">제목이 들어갑니다.</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="celcnt" scope="row" style="vertical-align: middle" colspan="2">
                                        <!-- SMS -->
                                        <div style="height: 665px; text-align: left; padding: 10px;">
                                            <p>[크레디뷰] 1:1 이용문의 답변 완료 안내</p>
                                            <br />
                                            <p>안녕하세요. 크레디뷰입니다.</p>
                                            <p>[기업명]의 이용문의에 대한 답변이 등록되었습니다.</p>
                                            <br />
                                            <p>자세한 내용은 크레디뷰에 접속하여 확인해 주시기 바랍니다.</p>
                                            <br />
                                            <p>감사합니다.</p>
                                        </div>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        <table class="tblarea2" style="border: 1px solid #e5e5e5; width: 40%; min-width: 350px">
                            <colgroup>
                                <col style="width: 25%;">
                                <col>
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th class="celcnt" scope="row">
                                        <div class="inbx" style="text-align: left;">서비스구분</div>
                                    </th>
                                    <td class="cellft" style="padding:3px" colspan="2">
                                        <div class="inbx" style="margin-left: -25px;">
                                            <div class="LUX_basic_text">
                                                <div class="inbx">기업CB</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="celcnt" scope="row">
                                        <div class="inbx" style="text-align: left;">발송유형</div>
                                    </th>
                                    <td class="cellft" style="padding:3px" colspan="2">
                                        <div class="inbx" style="margin-left: -25px;">
                                            <div class="LUX_basic_text">
                                                <div class="inbx">Email</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="celcnt" scope="row">
                                        <div class="inbx" style="text-align: left;">관리코드(개발)</div>
                                    </th>
                                    <td class="cellft" style="padding:3px" colspan="2">
                                        <div class="inbx" style="margin-left: -25px;">
                                            <div class="LUX_basic_text">
                                                <div class="inbx">AL_011</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="celcnt" scope="row">
                                        <div class="inbx" style="text-align: left;">양식명</div>
                                    </th>
                                    <td class="cellft" style="padding:3px" colspan="2">
                                        <div class="inbx" style="margin-left: -25px;">
                                            <div class="LUX_basic_text">
                                                <div class="inbx">이메일 인증번호 안내
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="celcnt" scope="row">
                                        <div class="inbx" style="text-align: left;">
                                            <p>*<span style="color: #000;">수신대상</span></p>
                                        </div>
                                    </th>
                                    <td class="cellft" style="padding:3px" colspan="2">
                                        <div style="display: flex; flex-direction: column; gap: 20px; margin: 8px;">
                                            <div>
                                                <input type="checkbox" name="M">
                                                <label for="M">마스터관리자</label>
                                                <input type="checkbox" name=A" style="margin-left: 32px;">
                                                <label for="A">일반관리자</label>
                                            </div>
                                            <div>
                                                <input type="checkbox" name="A" checked>
                                                <label for="A">담당자(행위자)</label>
                                                <input type="checkbox" name="B" style="margin-left: 20px;">
                                                <label for="B">테크핀운영자</label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="celcnt" scope="row">
                                        <div class="inbx" style="text-align: left;">
                                            <p>*<span style="color: #000;">사용유무</span></p>
                                        </div>
                                    </th>
                                    <td class="cellft" style="padding:3px" colspan="2">
                                        <div class="inbx" style="margin-left: -5px;">
                                            <span class="LUXrabx">
                                                <input type="radio" id="yn_issued_cnt1" name="yn_issued_cnt" value='N'
                                                    onclick="" style="margin-top:5px" checked />
                                                <span class="sp_lux"></span>
                                                <label for="yn_issued_cnt1">사용안함</label>&nbsp;&nbsp;
                                                <input type="radio" id="yn_issued_cnt2" name="yn_issued_cnt" value='Y'
                                                    onclick="" style="margin-top:5px" />
                                                <span class="sp_lux"></span>
                                                <label for="yn_issued_cnt2">사용</label>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="celcnt" scope="row" style="vertical-align: middle">
                                        <div class="inbx" style="text-align: left;">관리코드(기획)</div>
                                    </th>

                                    <td class="cellft" style="padding:3px" colspan="2">
                                        <div class="inbx" style="width:100%; padding: 10px;">
                                            <!-- CBCB123 -->
                                            <input type="text" id="code" placeholder="내용을 입력해 주세요."
                                                style="width: 95%; border:solid 1px #e1e1e1; padding:10px; box-sizing:border-box;">
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <th class="celcnt" scope="row" style="vertical-align: middle">
                                        <div class="inbx" style="text-align: left;">비고</div>
                                    </th>
                                    <td class="cellft" style="padding:3px" colspan="2">
                                        <div class="inbx" style="width:100%; padding: 10px;">
                                            <!-- <div class="LUX_basic_text" style="height: 300px;">
                                                <div class="inbx">회원가입 및 비밀번호 찾기 시 사용되는 인증번호 메일입니다.
                                                </div>
                                            </div> -->
                                            <textarea placeholder="내용을 입력해 주세요." id="etc"
                                                style="width:95%; height:300px; border:solid 1px #e1e1e1; padding:10px; box-sizing:border-box;"></textarea>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <th class="celcnt" scope="row">
                                        <div class="inbx" style="text-align: left;">최초등록이력</div>
                                    </th>
                                    <td class="cellft" style="padding:3px">
                                        <div class="inbx" style="margin-left: -25px;">
                                            <div class="LUX_basic_text">
                                                <div class="inbx">YYYY-MM-DD HH:MM:SS</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cellft" style="padding:3px; border-left:1px solid #e5e5e5;">
                                        <div class="inbx" style="margin-left: -25px;">
                                            <div class="LUX_basic_text">
                                                <div class="inbx">SYSTEM</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="celcnt" scope="row">
                                        <div class="inbx" style="text-align: left;">최종수정이력</div>
                                    </th>
                                    <td class="cellft" style="padding:3px">
                                        <div class="inbx" style="margin-left: -25px;">
                                            <div class="LUX_basic_text">
                                                <div class="inbx">YYYY-MM-DD HH:MM:SS</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cellft" style="padding:3px; border-left:1px solid #e5e5e5;">
                                        <div class="inbx" style="margin-left: -25px;">
                                            <div class="LUX_basic_text">
                                                <div class="inbx">김효은(khe6512)</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </body>

</html>